{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Podgląd {{ newsletter.email }}
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid p-0 m-0">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'newsletter_creation' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-newspaper me-2"></i>
                        Stworzenie biuletynu
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'newsletter_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-pen me-2"></i>
                        Zarządzanie biuletynem
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'newsletter_add_user' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-user-plus me-2"></i>
                        Dodanie do biuletynu
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'newsletter_remove_user' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-user-slash me-2"></i>
                        Usunięcie z biuletynu
                    </button>
                    <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'newsletter_user_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-clipboard-user me-2"></i>
                        Zarządzanie subskrypcjami biuletynu
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <div style="display: flex; align-items: center;">
                    <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                        {{ newsletter }}
                    </h4>
                    <input type=button  class="btn btn-register ms-auto" value="Powrót" onClick="javascript:history.go(-1);">
                </div>
                <h6 class="form-label pt-3 text-start fw-bold">
                    Email
                </h6>
                {{ newsletter.email }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Data dołączenia
                </h6>
                {{ newsletter.date_added }}
                <div class="mb-4"></div>
            </div>
        </div>
    </div>
{% endblock %}