{% if page_obj.has_next %}
    <li class="page-item">
        <a class="btn btn-arrow btn-arrow-right rounded-end-circle"
           href="?page={{ page_obj.next_page_number }}">
            <span aria-hidden="true">
                &rsaquo;
            </span>
        </a>
    </li>
{% else %}
    <li class="page-item">
        <a class="btn btn-arrow btn-arrow-right rounded-end-circle" style="cursor: pointer">
            <span aria-hidden="true">
                &rsaquo;
            </span>
        </a>
    </li>
{% endif %}