{% load static %}

<div class="row gx-5 pt-4">
    <div class="bg-body-tertiary p-0">
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 mx-auto justify-content-start d-flex align-items-center">
                    {% include 'Footers/Elements/FooterLogo.html' %}
                </div>
                <ul class="nav col-sm-12 col-md-12 col-lg-10 mx-auto justify-content-center justify-content-lg-end list-unstyled d-flex">
                    <div class="text-end">
                        {% include 'Footers/Elements/FooterButtons.html' %}
                    </div>
                </ul>
            </footer>
            <hr class="mt-4 text-sm">
            <footer class="d-flex flex-wrap justify-content-between align-items-center pt-2 pb-4">
                <div class="col-12 col-md-6 mx-auto d-flex align-items-center justify-content-center justify-content-md-start">
                    {% include 'Footers/Elements/FooterRights.html' %}
                </div>
                <ul class="nav col-12 col-sm-12 col-md-6 px-sm-2 px-md-0 mx-auto justify-content-center justify-content-md-end list-unstyled d-flex">
                    {% include 'Footers/Elements/FooterSocialmedia.html' %}
                </ul>
            </footer>
        </div>
    </div>
</div>