{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Podgląd {{ author.user }}
{% endblock %}

{% block navbar %}
    {% include 'NavbarAdmin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'author_add' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-id-card-clip me-2"></i>
                        Stworzenie autora
                    </button>
                    <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'author_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-regular fa-address-book me-2"></i>
                        Zarządzanie autorami
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <div style="display: flex; align-items: center;">
                    <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                        Autor | {{ author.user }}
                    </h4>
                    <input type=button  class="btn btn-register ms-auto" value="Powrót" onClick="javascript:history.go(-1);">
                </div>
                <h6 class="form-label pt-3 text-start fw-bold">
                    Użytkownik
                </h6>
                {{ author.user }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    O autorze
                </h6>
                {{ author.bio }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Zdjęcie profilowe
                </h6>
                <img src="/images/{{ author.profile_pic }}" style="min-width: 120px; min-height: 120px" class="img-author-admin rounded-circle shadow my-2">
                <h6 class="form-label pt-3 text-start fw-bold">
                    URL do strony użytkownika
                </h6>
                {% if  author.author_url %}
                    {{ author.author_url }}
                {% else %}
                    Brak
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Cytat autora
                </h6>
                {{ author.author_quote }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Stanowisko autora
                </h6>
                {{ author.author_function }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    URL do Facebooka
                </h6>
                {% if  author.facebook_url %}
                    {{ author.facebook_url }}
                {% else %}
                    Brak
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    URL do Twittera
                </h6>
                {% if  author.twitter_url %}
                    {{ author.twitter_url }}
                {% else %}
                    Brak
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    URL do Instagrama
                </h6>
                {% if  author.instagram_url %}
                    {{ author.instagram_url }}
                {% else %}
                    Brak
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    URL do Pinteresta
                </h6>
                {% if  author.pinterest_url %}
                    {{ author.pinterest_url }}
                {% else %}
                    Brak
                {% endif %}
                <div class="mb-4"></div>
            </div>
        </div>
    </div>
{% endblock %}