{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Edycja {{ form.user.value }}
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'author_add' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-id-card-clip me-2"></i>
                        Stworzenie autora
                    </button>
                    <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'author_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-regular fa-address-book me-2"></i>
                        Zarządzanie autorami
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                    Edycja | {{ author_name.user }}
                </h4>
                {% if messages %}
                    {% for message in messages %}
                        <div
                            {% if message.tags %}
                                class="{{ message.tags }}"
                            {% endif %}
                            role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onClick="window.location.reload()" ></button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for field, error in form.errors.items %}
                    <div class="alert alert-danger fw-light px-2 py-2 my-3" role="alert">
                        {{ error|striptags }}
                    </div>
                {% endfor %}
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6 class="form-label pt-3 mb-0 text-start fw-bold">
                        {{ form.bio.label }}
                    </h6>
                    <p class="text-start message m-0 mb-2 text-muted fw-light">
                        {{ form.bio.help_text }}
                    </p>
                    {{ form.bio }}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.profile_pic.label }}
                    </h6>
                        {{ form.profile_pic }}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.author_url.label }}
                    </h6>
                        {{ form.author_url }}
                    <h6 class="form-label pt-3 mb-0 text-start fw-bold">
                        {{ form.author_quote.label }}
                    </h6>
                    <p class="text-start message m-0 mb-2 text-muted fw-light">
                        {{ form.author_quote.help_text }}
                    </p>
                        {{ form.author_quote }}
                    <h6 class="form-label pt-3 mb-0 text-start fw-bold">
                        {{ form.author_function.label }}
                    </h6>
                    <p class="text-start message m-0 mb-2 text-muted fw-light">
                        {{ form.author_function.help_text }}
                    </p>
                        {{ form.author_function }}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.facebook_url.label }}
                    </h6>
                        {{ form.facebook_url }}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.twitter_url.label }}
                    </h6>
                        {{ form.twitter_url }}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.instagram_url.label }}
                    </h6>
                        {{ form.instagram_url }}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.pinterest_url.label }}
                    </h6>
                        {{ form.pinterest_url }}
                    <button class="d-flex justify-content-center btn btn-register px-4 my-4 mx-auto" type="submit">Zapisz zmiany</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}