<div class="row">
    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 d-none d-lg-block p-0 "></div>
    <div class="col p-0">
        <div class="card-title card-text mt-5 text-navy-start">
            {% include 'UserTemplates/Article/CommentSection/CommentCheckLogin.html' %}
            {% include 'UserTemplates/Article/CommentSection/CommentNumber.html' %}
            {% include 'UserTemplates/Article/CommentSection/Comment.html' %}
        </div>
    </div>
    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
</div>