<h3 class="ps-3 ps-sm-0 ps-md-3 mb-3">
    <a class="admin_category text-navy" href='{% url 'social_admin' %}'>
        Konta społecznościowe i strony
    </a>
</h3>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Socialmedia/SocialmediaappsButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Socialmedia/SocialmediatokenButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Socialmedia/SocialmediaaccountButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Socialmedia/SocialmediaemailButtons.html' %}
</div>