<nav class="nav flex-column text-start px-3">
    <h5 class=" fw-bold text-navy">
        Adresy e-mail
    </h5>
    <button class="btn btn-list btn-list mt-2 mb-1 text-start"
            onclick="location.href='{% url 'email_address_add' %}'">
        <i class="fa-solid fa-at me-2"></i>
        Stworzenie adresu email dla konta społecznościowego
    </button>
    <button class="btn btn-list btn-list mt-2 mb-1 text-start"
            onclick="location.href='{% url 'email_address_admin_panel' %}'">
        <i class="fa-solid fa-envelopes-bulk me-2"></i>
        Zarządzanie adresami email dla konta społecznościowych
    </button>
</nav>