<div class="row">
    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 d-none d-lg-block p-0"></div>
    <div class="col p-0">
        <div class="text-navy-start card-title card-text pt-5 mt-5" style="text-align: start; color: #000080;">
            <h2 class="font fst-italic text-center text-md-start" style="font-family: 'Mr De Haviland', cursive">
                O autorze
            </h2>
        </div>
        <div class="row pt-3">
            <div class="col-12 pb-3 pb-sm-0 col-sm-3 col-md-2 col-xl-2">
                {% include 'UserTemplates/Article/AboutAuthorImg.html' %}
            </div>
            <div class="col-12 col-sm-9 col-md-10 col-xl-10 ps-auto ps-sm-0 ps-md-3 ps-lg-0">
                {% include 'UserTemplates/Article/AboutAuthorContent.html' %}
            </div>
        </div>
    </div>
    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
</div>