{% extends 'base.html' %}

{% block title %}
    Banknoty - {{ posts.title }}
{% endblock %}

{% load static %}
{% block navbar %}
    {% include 'Navbar/Navbar.html' %}
{% endblock %}

{% block content %}
    <div id="alert-container"></div>
    <div class="bg-body-tertiary ">
        <div class="container text-center pb-3 pt-4 px-5 px-sm-3 px-md-5">
            <div class="container text-center">
                {% include 'UserTemplates/Article/Author/ArticleAutorSection.html' %}
                {% include 'UserTemplates/Article/ArticleContent.html' %}
                {% include 'UserTemplates/Article/ShareArticle.html' %}
                {% include 'UserTemplates/Article/AboutAuthor.html' %}
                {% include 'UserTemplates/Article/CommentSection/CommentSection.html' %}
                {% include 'UserTemplates/Article/RelatedArticles/RelatedArticles.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block newsletter %}
    {% include 'UserTemplates/NewsletterBlock/Newsletter.html' %}
{% endblock %}

{% block foo %}
    {% include 'Footers/Footer.html' %}
{% endblock %}
