{% extends 'base.html' %}



{% block title %}
    Ustawienia - Zmiana hasła
{% endblock %}

{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="bg-body-tertiary">
        <div class="px-3 div_over_div text-white" id="bottom_edit_profile_page">
            <h3 class="ps-5 ms-5 bottom_edit_profile_page_text">Ustawienia</h3>
        </div>
        <div class="px-3 div_over_div" id="top_edit_profile_page">
            <div class="container" style="transform: translate(0, -80px)">
                <div class="row gx-5 p-0 ">
                    <div class="col-12 col-lg-4 px-sm-5 px-lg-0">
                        <div class="p-3 bg-white rounded-top-3 text-center shadow">
                            <img class="img rounded-circle shadow mt-3 mb-1" style="aspect-ratio: 1/1 !important; object-fit: cover; object-position: center;" src="{{ user.user.profile_pic.url }}" >
                            <h4 class="pt-2 mb-0 text-capitalize" style="color: navy">
                                {% if user.first_name and user.last_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% elif user.first_name %}
                                    {{ user.first_name }}
                                {% elif user.last_name %}
                                    {{ user.last_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            </h4>
                            <small class="pt-1" style="color: rgba(0, 0, 128, 0.5); overflow-wrap: break-word; word-wrap: break-word;">
                                {{ user.email }}
                            </small>
                            <h6 class="text-capitalize fw-semibold mb-0 ms-4 pt-4 text-start" style="color:navy;">
                                Konto
                            </h6>
                            <nav class="nav flex-column text-start mx-1 px-3">
                                <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'edit_profile' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-circle-user me-2"></i>
                                    Dane osobiste
                                </button>
                                <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'edit_security_page' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-shield-halved me-2"></i>
                                    Zabezpieczenia
                                </button>
                                <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'notifications' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-envelope-open-text me-2"></i>
                                    Powiadomienia
                                </button>
                                <button class="btn btn-list btn-list my-1" href="#" style="text-align: left; ">
                                    <i class="fa-solid fa-sliders me-2"></i>
                                    Preferencje
                                </button>
                            </nav>
                            <h6 class="text-capitalize fw-semibold mb-0 ms-4 pt-3 text-start" style="color:navy;">
                                Autor
                            </h6>
                            <nav class="nav flex-column text-start mx-1 px-3">
                                {% if user.author %}
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'edit_author' %}'" style="text-align: left; ">
                                        <i class="fa-solid fa-id-card me-2"></i>
                                        Strona autora
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'my_posts' %}'" style="text-align: left; ">
                                        <i class="fa-regular fa-newspaper me-2"></i>
                                        Moje artykuły
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'my_posts_create' %}'" style="text-align: left; ">
                                        <i class="fa-solid fa-circle-plus me-2"></i>
                                        Dodaj artykuł
                                    </button>
                                {% else %}
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'article_author_form' %}'" style="text-align: left; ">
                                        <i class="fa-solid fa-user-pen me-2"></i>
                                        Zostań autorem
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'article_author_history' %}'" style="text-align: left; ">
                                        <i class="fa-regular fa-folder-open me-2"></i>
                                        Historia aplikacji
                                    </button>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                    <div class="col-0 col-lg-8 px-sm-5 px-lg-4 pt-5 pt-lg-0">
                        <div class="p-3 bg-white rounded-top-3 shadow">
                            <h4 class="pt-2 ps-4 mb-0 fw-bold" style="color: navy">
                                Zmiana hasła
                            </h4>
                            <form class="ps-4" method="post">
                                {% csrf_token %}
                                <div class="pt-3">
                                    <div>
                                        <i class="fa-solid fa-x icon me-1" id="isSimilar"></i>
                                        Twoje hasło nie może być zbyt podobne do twoich innych danych osobistych.
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-x icon me-1" id="isAtLeast8Chars"></i>
                                        Twoje hasło musi zawierać co najmniej 8 znaków.
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-x icon me-1" id="isNotCommon"></i>
                                        Twoje hasło nie może być powszechnie używanym hasłem.
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-x icon me-1" id="isNotOnlyNumbers"></i>
                                        Twoje hasło nie może składać się tylko z cyfr.
                                    </div>
                                </div>
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    {{ edit_password_form.old_password.label }}
                                </h6>
                                <input class="form-control {% if edit_password_form.old_password.value and not edit_password_form.is_bound %}is-not-submit{% endif %} {% if edit_password_form.old_password.errors %}is-invalid{% endif %} {% if edit_password_form.old_password.value and not edit_password_form.old_password.errors and edit_password_form.is_bound %}is-valid{% endif %}" type="password" id="id_old_password" name="old_password" value="{{ edit_password_form.old_password.value|default:'' }}">
                                {% if edit_password_form.old_password.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in edit_password_form.old_password.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    {{ edit_password_form.new_password1.label }}
                                </h6>
                                {{ edit_password_form.new_password1 }}
                                {% if edit_password_form.new_password1.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in edit_password_form.new_password1.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label pt-3 mb-0 text-start fw-bold">
                                    {{ edit_password_form.new_password2.label }}
                                </h6>
                                {{ edit_password_form.new_password2}}
                                {% if edit_password_form.new_password2.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in edit_password_form.new_password2.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <button class="d-flex justify-content-center btn btn-register px-4 mt-4 my-2 mx-auto" id="submit-button" disabled="true" style="opacity: 0.5" type="submit">Zmień hasło</button>
                                {% for field, error in edit_password_form.errors.items %}
                                    <div class="alert alert-danger fw-light px-2 py-2 my-3" role="alert">
                                        {{ error|striptags }}
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
                <script>
                    const passwordInput = document.getElementById("id_new_password1");
                    const passwordInput2 = document.getElementById("id_new_password2");
                    const icon_isSimilar = document.getElementById("isSimilar");
                    const icon_isAtLeast8Chars = document.getElementById("isAtLeast8Chars");
                    const icon_isNotCommon = document.getElementById("isNotCommon");
                    const icon_isNotOnlyNumbers = document.getElementById("isNotOnlyNumbers");

                    document.addEventListener("input", function() {
                        const password = passwordInput.value;

                        const isSimilar = checkSimilarity(password);
                        const isAtLeast8Chars = checkLength(password);
                        const isNotCommon = checkCommon(password);
                        const isNotOnlyNumbers = checkOnlyNumbers(password);

                        if (!isSimilar) {
                            icon_isSimilar.classList.remove("fa-x");
                            icon_isSimilar.classList.add("fa-check");
                        } else {
                            icon_isSimilar.classList.remove("fa-check");
                            icon_isSimilar.classList.add("fa-x");
                        }
                        if (isAtLeast8Chars) {
                            icon_isAtLeast8Chars.classList.remove("fa-x");
                            icon_isAtLeast8Chars.classList.add("fa-check");
                        } else {
                            icon_isAtLeast8Chars.classList.remove("fa-check");
                            icon_isAtLeast8Chars.classList.add("fa-x");
                        }
                        if (!isNotCommon) {
                            icon_isNotCommon.classList.remove("fa-x");
                            icon_isNotCommon.classList.add("fa-check");
                        } else {
                            icon_isNotCommon.classList.remove("fa-check");
                            icon_isNotCommon.classList.add("fa-x");
                        }
                        if (!isNotOnlyNumbers) {
                            icon_isNotOnlyNumbers.classList.remove("fa-x");
                            icon_isNotOnlyNumbers.classList.add("fa-check");
                        } else {
                            icon_isNotOnlyNumbers.classList.remove("fa-check");
                            icon_isNotOnlyNumbers.classList.add("fa-x");
                        }

                        const password2 = passwordInput2.value;
                        const submitButton = document.getElementById("submit-button");
                        if (isSimilar || !isAtLeast8Chars || isNotCommon || isNotOnlyNumbers) {
                            submitButton.disabled = true;
                            submitButton.style.opacity = 0.5;
                        } else if (password2.length === password.length) {
                            submitButton.disabled = false;
                            submitButton.style.opacity = 1;
                        } else {
                            submitButton.disabled = true;
                            submitButton.style.opacity = 0.5;
                        }
                    });

                    function checkSimilarity(password) {
                        const username = "{{ user.username }}";
                        const email = "{{ user.email }}";
                        const first_name = "{{ user.first_name }}";
                        const last_name = "{{ user.last_name }}";

                        const similarityThreshold = 0.5;

                        const calculateSimilarity = (str1, str2) => {
                            const set1 = new Set(str1.toLowerCase().split(""));
                            const set2 = new Set(str2.toLowerCase().split(""));
                            const intersection = [...set1].filter(char => set2.has(char));
                            const similarity = intersection.length / Math.max(set1.size, set2.size);
                            return similarity;
                        };

                        const usernameSimilarity = calculateSimilarity(password, username);
                        const emailSimilarity = calculateSimilarity(password, email);
                        const first_nameSimilarity = calculateSimilarity(password, first_name);
                        const last_nameSimilarity = calculateSimilarity(password, last_name);

                        return usernameSimilarity >= similarityThreshold
                            || password.length === 0
                            || emailSimilarity >= similarityThreshold
                            || first_nameSimilarity >= similarityThreshold
                            || last_nameSimilarity >= similarityThreshold;
                    }

                    function checkLength(password) {
                        return password.length >= 8;
                    }

                    function checkCommon(password) {
                      // Check if password is a commonly used password
                      // Return true if password is commonly used, false otherwise
                    }

                    function checkOnlyNumbers(password) {
                        if (password.length === 0) {
                            return true
                        }
                        const onlyNumbersRegex = /^[0-9]+$/;
                        return onlyNumbersRegex.test(password);
                    }
                </script>
                {% include 'footer_members.html' %}
            </div>
        </div>
    </div>
{% endblock %}
