{% load static %}
<div class="mb-4">
    <a href="/">
        <img src="{% static 'images/logo-no-background.png' %}" alt="" class="mb-4 nav-logo">
    </a>
    <h2 class="mb-2 fw-bold">
        Gratulacje!
    </h2>
    <h6 class="message mb-0 fw-light">
        <p>
            Twoje konto zostało pomyślnie zarejestrowane. W celu ukończenia procesu
            rejestracji proszę potwierdzić swój adres e-mail.
        </p>
        <p>
            Sprawdź swoją skrzynkę odbiorczą. Wysłaliśmy do Ciebie wiadomość z linkiem
            aktywacyjnym. Kliknij ten link, aby aktywować swoje konto.
        </p>
        <p>
            Jeśli nie otrzymałeś jeszcze wiadomości e-mail, proszę sprawdzić folder ze
            spamem lub innymi kategoriami wiadomości. Jeśli nie możesz znaleźć e-maila,
            skontaktuj się z naszym zespołem obsługi klienta, a pomożemy Ci rozwiązać ten
            problem.
        </p>
        <p>
            Po potwierdzeniu adresu e-mail będziesz mógł/mogła korzystać ze wszystkich
            funkcji naszej platformy. Dziękujemy za rejestrację i witamy Cię w naszej
            społeczności!
        </p>
        <p>
            Jeśli masz jakiekolwiek pytania lub potrzebujesz pomocy, nie wahaj się
            skontaktować z nami. Nasz zespół jest tutaj, aby Ci pomóc.
        </p>
        <p>
            Dziękujemy jeszcze raz i życzymy udanego korzystania z naszego serwisu!
        </p>
    </h6>
</div>