{% load static %}
<div class="mb-4">
    <a href="/">
        <img src="{% static 'images/logo-no-background.png' %}" alt="" class="mb-4 nav-logo">
    </a>
    <h2 class="mb-2 fw-bold">
        Coś poszło nie tak!
    </h2>
    <h6 class="message mb-0 fw-light">
        <p>
            Wystąpił błąd podczas potwierdzania adresu e-mail.
        </p>
        <p>
            Upewnij się, że używasz poprawnego linku aktywacyjnego.
        </p>
        <p>
            Prosimy spróbować ponownie później.
        </p>
    </h6>
</div>