{% load static %}
<div class="mb-4">
    <a href="/">
        <img src="{% static 'images/logo-no-background.png' %}" alt=""
             class="mb-4 nav-logo">
    </a>
    <h2 class="mb-2 fw-bold">
        Potwierdzenie zresetowania hasła zostało wysłane.
    </h2>
    <h6 class="message mb-0 fw-light">
        <p>
            Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została
            wysłana. Niebawem powinna się pojawić na twoim koncie mailowy.
        </p>
        <p>
            W przypadku nieotrzymania wiadomości e-mail: upewnij się, czy adres wprowadzony
            jest zgodny z tym, na jakie masz konto i sprawdź zawartość folderu SPAM na swoim
            koncie mailowy.
        </p>
    </h6>
</div>