<div class="bg-body-tertiary pt-4 px-5">
    <div class="container px-0 px-xl-5">
        <div class="container ">
            <div class="row" data-masonry='{"percentPosition": true }'>
                {% for post in page_obj %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 p-3 px-md-4 pb-4">
                        <div class="shadow rounded-3 rounded-bottom-0">
                            <div class="row p-0 rounded-3">
                                <div class="col rounded-3">
                                    <a style="text-decoration: none !important;"
                                       href="{% url 'article-detail' post.pk %}">
                                        <img class="card-photo rounded-bottom-0 rounded-3"
                                             src="{{ post.background.url }}" alt="{{ post.title }}">
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="p-3 text-start">
                                        {% for category in post.category.all %}
                                            <a style="text-decoration: none !important;"
                                               href="{% url 'category-detail' category.id %}">
                                                    <span class="text-muted text-black badge rounded-pill mt-2 px-3 py-2 fw-light"
                                                          style="background-color: #eff1f3">
                                                        {{ category.name }}
                                                    </span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="px-3 text-start">
                                        <a style="text-decoration: none !important;"
                                           href="{% url 'article-detail' post.pk %}">
                                            <h3 class="mb-0 first-post text-start"> {{ post.title }}</h3>
                                        </a>
                                    </div>
                                    <div class="p-3">
                                        <a class="card-link" href="{% url 'article-detail' post.pk %}">
                                            <h6 class="text-start fw-light"
                                                style="text-indent: 5%; color: black">{{ post.introduction | safe | truncatewords:25 }}</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="px-3 pb-3">
                                    <div class="row px-3 pb-3">
                                        <div class="col-1 col-sm-2 col-md-2 col-xl-2">
                                            <a class="card-link" href="{% url 'author-detail' post.author.pk %}">
                                                <img class="card-photo rounded-circle"
                                                     src="{{ post.author.profile_pic.url }}"
                                                     alt="Author article profile picture"
                                                     style="height: 48px; width: 48px">
                                            </a>
                                        </div>
                                        <div class="col-11 col-sm-10 col-md-10 col-xl-10">
                                            <div class="row ps-5 ps-sm-4 ps-md-3 ps-lg-2 ps-xl-2">
                                                <div class="col-12 ps-0 ps-sm-1 ps-md-2 ps-lg-3">
                                                    <small class="fw-bold text-capitalize">
                                                        <a class=" first-post" style="text-decoration: none"
                                                           href="{% url 'author-detail' post.author.pk %}">
                                                            {% if post.author.user.first_name and post.author.user.last_name %}
                                                                {{ post.author.user.first_name }}
                                                                {{ post.author.user.last_name }}
                                                            {% elif post.author.user.first_name %}
                                                                {{ post.author.user.first_name }}
                                                            {% elif post.author.user.last_name %}
                                                                {{ post.author.user.last_name }}
                                                            {% else %}
                                                                {{ post.author.user.username }}
                                                            {% endif %}
                                                        </a>
                                                    </small>
                                                </div>
                                                <div class="col-12 ps-0 ps-sm-1 ps-md-2 ps-lg-3">
                                                    <small class="fw-light text-capitalize"
                                                           style="color: rgba(0,0,0, .6)">{{ post.date_posted | date:"j E Y" }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'paginator.html' %}
        </div>
    </div>
</div>