<nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
    <h5 class=" fw-bold text-navy">
        Informacje o rozwoju i zmianach na Banknoty
    </h5>
    <button class="btn btn-list mt-2 mb-1 text-start"
            onclick="location.href='{% url 'development_news_add' %}'">
        <i class="fa-solid fa-newspaper me-2"></i>
        Stworzenie wiadomości o rozwoju i zmianach na Banknoty
    </button>
    <button class="btn btn-list my-1 text-start"
            onclick="location.href='{% url 'development_news_admin_panel' %}'">
        <i class="fa-solid fa-pen me-2"></i>
        Zarządzanie wiadomości o rozwoju i zmianach na Banknoty
    </button>
    <button class="btn btn-list my-1 text-start"
            onclick="location.href='{% url 'development_news_user_manage_admin_panel' %}'">
        <i class="fa-solid fa-user-plus me-2"></i>
        Zarządzanie subskrypcjami wiadomości o rozwoju i zmianach na Banknoty
    </button>
</nav>