<h3 class="ps-3 ps-sm-0 ps-md-3 mb-3">
    <a class="admin_category text-navy" href='{% url 'newsletters_admin' %}'>
        Biuletyny
    </a>
</h3>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Newsletters/NewsletterButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Newsletters/SkippedPostsButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Newsletters/MeetupsNewsButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Newsletters/AuctionOpportunitiesButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Newsletters/CompanyNewsButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Newsletters/ReplayNewsButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Newsletters/DevelopmentNews.html' %}
</div>