{% extends 'base.html' %}

{% block title %}
    Ustawienia - Zmiana hasła
{% endblock %}

{% block navbar %}
    {% load static %}
        {% if user.is_authenticated %}
            <nav class="nav navbar nav-sticky navbar-expand-xl bg-body-tertiary">
                <div class="container-fluid mx-5 px-5 ps-0 pe-0 pe-lg-5">
                    <a class="navbar-brand py-2 me-5" href="/">
                        <img class="ps-5 img img-fluid mx-auto d-block" src="{% static 'images/logo-no-background.png' %}" alt="Logo" style="max-height: 72px">
                    </a>
                    <div class="d-flex justify-content-between">
                        <button class="navbar-toggler border border-0 ps-0 pe-0" onclick="toggle()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 24px">
                            <i class="fa-solid fa-bars fa-lg btn-nav" id="btn-bars"></i>
                        </button>
                        <li class="d-block d-xl-none" STYLE="height: 2rem; border-left: .1rem solid rgba(0,34,28,.1); margin: .5rem;"></li>
                        <div class="dropdown d-block d-xl-none">
                            <a class="ms-4 " role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" style="line-height: 32px">
                                <img class="card-photo rounded" src="{{ user.author.profile_pic.url }}" alt="" style="height: 48px; width: 48px">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end shadow border border-0 py-3" style="min-width: 300px">
                                <li>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col pe-0 ps-3" style="display: flex; align-items: center;">
                                                <img class="card-photo rounded" src="{{ user.author.profile_pic.url }}" alt="" style="max-height: 64px; max-width: 64px">
                                            </div>
                                            <div class="col-8 ps-0 pe-3">
                                                <div class="row ps-0" style="padding-right: 12px">
                                                    <div class="col ps-0 pe-0 ms-1">
                                                        <h6 class="my-1" style="color: navy">
                                                            {% if user.first_name and user.last_name %}
                                                                {{ user.first_name }} {{ user.last_name }}
                                                            {% elif user.first_name %}
                                                                {{ user.first_name }}
                                                            {% elif user.last_name %}
                                                                {{ user.last_name }}
                                                            {% else %}
                                                                {{ user.username }}
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="row ps-0" style="padding-right: 12px">
                                                    <div class="col ps-0 pe-0 ms-1 lh-1">
                                                        <small style="color: rgba(0, 0, 128, 0.5); overflow-wrap: break-word; word-wrap: break-word;">
                                                            {% if user.email %}
                                                                {{ user.email }}
                                                            {% endif %}
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><hr class="dropdown-divider mx-2 my-3"></li>
                                <li class="mx-3">
                                    <div class="d-grid gap-0">
                                        <button class="btn btn-list" href="#" style="text-align: left; ">
                                            <i class="fa-solid fa-bookmark me-2"></i>
                                            Moje posty
                                        </button>
                                        <button class="btn btn-list" onclick="location.href='{% url 'edit_profile' %}'" style="text-align: left; ">
                                            <i class="fa-solid fa-gear me-2"></i>
                                            Ustawienia
                                        </button>
                                        <button class="btn btn-list" href="#" style="text-align: left; ">
                                             <i class="fa-regular fa-circle-question me-2"></i>
                                            Informacje
                                        </button>
                                        <button class="btn btn-logout" onclick="location.href='{% url 'logout' %}'"  style="text-align: left; ">
                                                <i class="fa-solid fa-power-off me-2"></i>
                                            Wyloguj się
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <div class="navbar-nav ms-auto">
                            <a class="nav-link btn-nav px-4" href="/">
                                <h5 class="text-center text-md-start fw-light my-1">Strona główna</h5>
                            </a>
                            <li class="nav-item px-0 dropdown">
                                <a class="nav-link btn-nav px-4 text-center text-md-start fw-light dropdown-toggle" href="#" data-bs-toggle="dropdown" style="padding-top: 12px; padding-bottom: 12px; font-size: 20px; line-height: 24px">
                                    Artykuły
                                    <i class="fa-solid fa-angle-down fa-2xs "></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-large border border-0 shadow p-4" style="right: 0px" id="dropdown-margin-minus">
                                    <div class="row g-3">
                                        <div class="col-5 mb-3">
                                            <h5 class="title fw-bold" style="color:navy;">Kategorie</h5>
                                            <ul class="list-unstyled">
                                                {% for ca in category|slice:":5"%}
                                                    {% if forloop.first %}
                                                        <li style="margin-top: 12px">
                                                            <a href="{% url 'category-detail' ca.id %}" class="sub-item">
                                                                {{ ca.name }}
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li style="margin-top: 6px">
                                                            <a href="{% url 'category-detail' ca.id %}" class="sub-item">
                                                                {{ ca.name }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li style="margin-top: 6px; position: absolute; bottom: 40px">
                                                    <a class="fw-bold border-bottom show-all" href="{% url 'category-all' %}">
                                                        Pokaż wszystkie
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-7">
                                            <h5 class="title fw-bold" style="color:navy;">Artykuły</h5>
                                            <ul class="list-unstyled">
                                                {% for post in blog %}
                                                    {% if forloop.counter == 1 or forloop.counter == 2 %}
                                                       <li>
                                                            <a href="{% url 'article-detail' post.pk %}" class="sub-item" style="text-decoration: none">
                                                                <div class="container">
                                                                    <div class="row pb-2">
                                                                        <div class="col-4 ps-0" style="max-height: 100px; max-width: 100px">
                                                                            <img class="card-photo text-left" src="{{ post.background.url }}" alt="..." style="max-height: 100px; max-width: 100px">
                                                                        </div>
                                                                        <div class="col-8 p-0">
                                                                            <div>{{ post.title|truncatechars:35 }}</div>
                                                                            <div style="color: rgba(0,0,0,0.5)">{{ post.date_posted | date:"j E Y" }}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li style="margin-top: 6px">
                                                    <a class="fw-bold border-bottom show-all" href="#" style="">
                                                        Pokaż wszystkie
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
						    </li>
                            <a class="nav-link btn-nav px-4" href="{% url 'author-all' %}">
                                <h5 class="text-center text-md-start fw-light my-1">O autorze</h5>
                            </a>
                            <li class="d-none d-xl-block" STYLE="height: 2rem; border-left: .1rem solid rgba(0,34,28,.1); margin: .5rem;"></li>
                            <div class="dropdown d-none d-xl-block">
                                <a class="ms-4 " role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" style="line-height: 32px">
                                    <img class="card-photo rounded" src="{{ user.author.profile_pic.url }}" alt="" style="height: 48px; width: 48px">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end shadow border border-0 py-3" style="min-width: 300px;">
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col pe-0 ps-3" style="display: flex; align-items: center;">
                                                    <img class="card-photo rounded" src="{{ user.author.profile_pic.url }}" alt="" style="max-height: 64px; max-width: 64px">
                                                </div>
                                                <div class="col-8 ps-0 pe-3">
                                                    <div class="row ps-0" style="padding-right: 12px">
                                                        <div class="col ps-0 pe-0 ms-1">
                                                            <h6 class="my-1" style="color: navy">
                                                                {% if user.first_name and user.last_name %}
                                                                    {{ user.first_name }} {{ user.last_name }}
                                                                {% elif user.first_name %}
                                                                    {{ user.first_name }}
                                                                {% elif user.last_name %}
                                                                    {{ user.last_name }}
                                                                {% else %}
                                                                    {{ user.username }}
                                                                {% endif %}
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="row ps-0" style="padding-right: 12px">
                                                        <div class="col ps-0 pe-0 ms-1 lh-1">
                                                            <small style="color: rgba(0, 0, 128, 0.5); overflow-wrap: break-word; word-wrap: break-word;">
                                                                {% if user.email %}
                                                                    {{ user.email }}
                                                                {% endif %}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider mx-2 my-3"></li>
                                    <li class="mx-3">
                                        <div class="d-grid gap-0">
                                            <button class="btn btn-list" href="#" style="text-align: left; ">
                                                <i class="fa-solid fa-bookmark me-2"></i>
                                                Moje posty
                                            </button>
                                            <button class="btn btn-list" onclick="location.href='{% url 'edit_profile' %}'" style="text-align: left; ">
                                                <i class="fa-solid fa-gear me-2"></i>
                                                Ustawienia
                                            </button>
                                            <button class="btn btn-list" href="#" style="text-align: left; ">
                                                 <i class="fa-regular fa-circle-question me-2"></i>
                                                Informacje
                                            </button>
                                            <button class="btn btn-logout" onclick="location.href='{% url 'logout' %}'"  style="text-align: left; ">
                                                    <i class="fa-solid fa-power-off me-2"></i>
                                                Wyloguj się
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endif %}
{% endblock %}

{% block content %}
    <div class="bg-body-tertiary">
        <div class="px-3 div_over_div text-white" id="bottom_edit_profile_page">
            <h3 class="ps-5 ms-5 bottom_edit_profile_page_text">Ustawienia</h3>
        </div>
        <div class="px-3 div_over_div" id="top_edit_profile_page">
            <div class="container" style="transform: translate(0, -80px)">
                <div class="row gx-5 p-0 ">
                    <div class="col-12 col-lg-4 px-sm-5 px-lg-0">
                        <div class="p-3 bg-white rounded-top-3 text-center shadow">
                            <img class="img rounded-circle shadow mt-3 mb-1" style="aspect-ratio: 1/1 !important; object-fit: cover; object-position: center;" src="{{ user.user.profile_pic.url }}" >
                            <h4 class="pt-2 mb-0 text-capitalize" style="color: navy">
                                {% if user.first_name and user.last_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% elif user.first_name %}
                                    {{ user.first_name }}
                                {% elif user.last_name %}
                                    {{ user.last_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            </h4>
                            <small class="pt-1" style="color: rgba(0, 0, 128, 0.5); overflow-wrap: break-word; word-wrap: break-word;">
                                {{ user.email }}
                            </small>
                            <h6 class="text-capitalize fw-semibold mb-0 ms-4 pt-4 text-start" style="color:navy;">
                                Konto
                            </h6>
                            <nav class="nav flex-column text-start mx-1 px-3">
                                <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'edit_profile' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-circle-user me-2"></i>
                                    Informacje osobiste
                                </button>
                                <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'edit_security_page' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-shield-halved me-2"></i>
                                    Zabezpieczenia
                                </button>
                                <button class="btn btn-list btn-list my-1" href="#" style="text-align: left; ">
                                    <i class="fa-solid fa-envelope-open-text me-2"></i>
                                    Powiadomienia
                                </button>
                                <button class="btn btn-list btn-list my-1" href="#" style="text-align: left; ">
                                    <i class="fa-solid fa-sliders me-2"></i>
                                    Preferencje
                                </button>
                            </nav>
                            <h6 class="text-capitalize fw-semibold mb-0 ms-4 pt-3 text-start" style="color:navy;">
                                Autor
                            </h6>
                            <nav class="nav flex-column text-start mx-1 px-3">
                                {% if user.author %}
                                    <button class="btn btn-list btn-list mt-2 mb-1" href="#" style="text-align: left; ">
                                        <i class="fa-solid fa-id-card me-2"></i>
                                        Strona autora
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1" href="#" style="text-align: left; ">
                                        <i class="fa-regular fa-newspaper me-2"></i>
                                        Moje artykuły
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1" href="#" style="text-align: left; ">
                                        <i class="fa-solid fa-circle-plus me-2"></i>
                                        Dodaj artykuł
                                    </button>
                                {% else %}
                                    <button class="btn btn-list btn-list mt-2 mb-1" href="#" style="text-align: left; ">
                                        <i class="fa-solid fa-user-pen me-2"></i>
                                        Zostań autorem
                                    </button>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                    <div class="col-0 col-lg-8 px-sm-5 px-lg-4 pt-5 pt-lg-0">
                        <div class="p-3 bg-white rounded-top-3 shadow">
                            <h4 class="pt-2 ps-4 mb-0 fw-bold" style="color: navy">
                                Zmiana adresu e-mail
                            </h4>
                            <form class="ps-4" method="post">
                                {% csrf_token %}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Obecny adres e-mail
                                </h6>
                                    <input type="text" readonly class="form-control-plaintext" value="{{ user.email }}">

                                <h6 class="form-label pt-3 text-start fw-bold">
                                    {{ edit_email_form.new_email1.label }}
                                </h6>
                                {{ edit_email_form.new_email1 }}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    {{ edit_email_form.new_email2.label }}
                                </h6>
                                {{ edit_email_form.new_email2 }}
                                <button class="d-flex justify-content-center btn btn-register px-4 mt-4 my-2 mx-auto" id="submit-button-email" type="submit">Zmień e-mail</button>
                                {% for field, error in edit_email_form.errors.items %}
                                    <div class="alert alert-danger fw-light px-2 py-2 my-3" role="alert">
                                        {{ error|striptags }}
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foo %}

    {% if user.author %}
        <div class="bg-body-tertiary foo-autor-position-security">
    {% else %}
        <div class="bg-body-tertiary foo-position-security">
    {% endif %}
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 mx-auto justify-content-start d-flex align-items-center">
                    <img class="img mx-sm-auto mx-auto mx-lg-0 img-fluid d-block" src="{% static 'images/logo-no-background.png' %}" alt="Logo" style="max-height: 48px">
                </div>
                <ul class="nav col-sm-12 col-md-12 col-lg-10 mx-auto justify-content-center justify-content-lg-end list-unstyled d-flex">
                    <div class="text-end">
                        <ul class="nav ">
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="#">
                                    <h5 class="fw-light my-1">Artykuły</h5>
                                </a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="{% url 'author-all' %}">
                                    <h5 class="fw-light my-1">O autorze</h5>
                                </a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="#">
                                    <h5 class="fw-light my-1">Regulamin serwisu</h5>
                                </a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="#">
                                    <h5 class="fw-light my-1">Polityka prywatności</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </footer>
            <hr class="mt-4 text-sm">
            <footer class="d-flex flex-wrap justify-content-between align-items-center pt-2 pb-4">
                <div class="col-12 col-md-6 mx-auto d-flex align-items-center justify-content-center justify-content-md-start">
                    <span class="mb-3 mb-md-0 fw-light" style="color: navy">© 2023 Banknoty. Wszelkie prawa zastrzeżone.</span>
                </div>
                <ul class="nav col-12 col-sm-12 col-md-6 px-sm-2 px-md-0 mx-auto justify-content-center justify-content-md-end list-unstyled d-flex">
                    <div class=" text-end">
                        <button class="btn btn-socialmedia btn-facebook rounded-circle" href="/authentication/sign-in/">
                            <i class="fab fa-facebook"></i>
                        </button>
                        <button class="btn btn-socialmedia btn-twitter rounded-circle" href="/authentication/sign-in/">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button class="btn btn-socialmedia btn-linkedin rounded-circle" href="/authentication/sign-in/">
                            <i class="fab fa-linkedin"></i>
                        </button>
                        <button class="btn btn-socialmedia btn-github rounded-circle" href="/authentication/sign-in/">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>
                </ul>
            </footer>
        </div>
    </div>
{% endblock %}
