{% extends 'base.html' %}

{% block title %}
    Zarejestruj się - Banknoty
{% endblock %}

{% block content %}
    {% load static %}
    <div class="bg-body-tertiary">
        <section class="container d-flex flex-column ">
            <div class="align-items-center justify-content-center g-0 min-vh-100 row">
                <div class="py-8 py-xl-0 col-lg-5 col-md-7">
                    <div class="card border border-0 shadow">
                        <div class="p-5 card-body">
                            <div class="mb-4">
                                <a href="/">
                                    <img src="{% static 'images/logo-no-background.png' %}" alt="" class="mb-4" style="max-height: 72px;">
                                </a>
                                <h2 class="mb-1 fw-bold">Zarejestruj się</h2>
                                <span class="message text-end mb-0 fw-light">Masz już konto?
                                    <a href="{% url 'login' %}" class="already_link ms-1">Zaloguj się</a>
                                </span>
                            </div>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <h6 class="form-label mt-4 text-start fw-bold">{{form.username.label}}</h6>
                                <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value|default:'' }}">
                                {% if form.username.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label mt-3 text-start fw-bold">{{form.email.label}}</h6>
                                <input type="text" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value|default:'' }}">
                                {% if form.email.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label mt-3 text-start fw-bold">{{form.password1.label}}</h6>
                                <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" id="{{ form.password2.id_for_label }}" name="{{ form.password1.html_name }}">
                                {% if form.password1.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.password1.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label mt-3 text-start fw-bold">{{form.password2.label}}</h6>
                                <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}">
                                {% if form.password2.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.password2.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="my-3 col-lg-12 col-md-12">
                                    <div class="d-md-flex justify-content-between align-items-center">
                                        <div class="mb-3 mb-md-0">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input {% if form.is_active.errors %}is-invalid{% endif %}" id="{{ form.is_active.id_for_label }}" name="{{ form.is_active.html_name }}" {% if form.is_active.value %}checked{% endif %}>
                                                <label for="{{ form.is_active.id_for_label }}" class="form-check-label">
                                                    Zgadzam się na
                                                    <a href="/pages/terms-and-conditions" class="already_link fw-light">Regulamin serwisu</a>
                                                    i
                                                    <a href="/pages/terms-and-conditions" class="already_link fw-light">Politykę prywatności.</a>
                                                </label>
                                                {{form.is_active}}
                                                {% if form.is_active.errors %}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.is_active.errors %}
                                                            <p class="mb-1">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 mt-3 mb-2">
                                    <button class="btn btn-register" type="submit">Zarejestruj się</button>
                                </div>
                            </form>
                            <hr class="my-4">
                            <div class="mt-4 text-center">
                                <button class="btn btn-socialmedia btn-facebook rounded-3" href="/authentication/sign-in/">
                                    <i class="fab fa-facebook"></i>
                                </button>
                                <button class="btn btn-socialmedia btn-twitter rounded-3" href="/authentication/sign-in/">
                                    <i class="fab fa-twitter"></i>
                                </button>
                                <button class="btn btn-socialmedia btn-linkedin rounded-3" href="/authentication/sign-in/">
                                    <i class="fab fa-linkedin"></i>
                                </button>
                                <button class="btn btn-socialmedia btn-github rounded-3" href="/authentication/sign-in/">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}