{% extends 'base.html' %}

{% block title %}
    Banknoty - Regulamin
{% endblock %}

{% load static %}

{% block navbar %}
    {% include 'Navbar/Navbar.html' %}
{% endblock %}

{% block content %}
    <div class="bg-body-tertiary pt-4 px-5">
        <div class="container px-0 px-xl-5">
            <div class="container pb-5 pt-3 px-3 px-md-5">
                {% include 'UserTemplates/About/AboutTopSection.html' %}
                <div class="more-line-heigth mt-4">
                    {% include 'UserTemplates/About/AboutContent.html' %}
                </div>
                {% include 'UserTemplates/About/MoreArticlesCTA.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block foo %}
    {% include 'Footers/Footer.html' %}
{% endblock %}




