{% load static %}

<h2 class="about-page-main-title text-center fst-italic pt-2 pb-3">
    Kim my tak naprawdę jesteśmy?
</h2>
<div class="container text-start">
    <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="about-page-text-indent fw-normal">
                Notafilia, sztuka kolekcjonowania banknotów, to wspaniałe hobby, które nieustannie
                zachwyca i przyciąga entuzjastów z różnych zakątków świata. Każdy kawałek papieru,
                będący banknotem, kryje w sobie nie tylko swoją wartość monetarną, ale również
                nieocenioną wartość historyczną, kulturową i artystyczną. To właśnie dlatego dzisiaj
                chciałbym zanurzyć Cię w tajemniczym i fascynującym świecie notafilii, abyśmy mogli
                wspólnie odkrywać i dzielić się tymi niezwykłymi aspektami kolekcjonowania banknotów.
            </p>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0 d-flex align-items-center">
            <img class="card-photo shadow rounded-1" src="{% static 'images/profile_background.jpg' %}"
                 alt="Article background picture">
        </div>
    </div>
</div>