<h6 class="form-label pt-3 text-start fw-bold">
    Autor
</h6>
{% if post.author.user.first_name and post.author.user.last_name %}
    {{ post.author.user.first_name }} {{ post.author.user.last_name }}
{% elif post.author.user.first_name %}
    {{ post.author.user.first_name }}
{% elif post.author.user.last_name %}
    {{ post.author.user.last_name }}
{% else %}
    {{ post.author.user.username }}
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Tytuł
</h6>
{{ post.title }}
<h6 class="form-label pt-3 text-start fw-bold">
    Treść
</h6>
<div class="card-text card-title">
    <div>
        {{ post.content | safe }}
    </div>
</div>
<h6 class="form-label pt-3 text-start fw-bold">
    Wstęp
</h6>
{{ post.introduction }}
<h6 class="form-label pt-3 text-start fw-bold">
    Tło postu
</h6>
<img src="/images/{{ post.background }}" class="card-photo shadow rounded-1 admin-panel-post-bg">
<h6 class="form-label pt-3 text-start fw-bold">
    Kategorie
</h6>
{% include 'UserTemplates/UserAccount/Author/Elements/Table/MyPostDetailCategory.html' %}
<h6 class="form-label pt-3 text-start fw-bold">
    Czy wyróżnić post?
</h6>
{% if  post.favorite %}
    Tak
{% else %}
    Nie
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Komentarze
</h6>
{% if comments %}
    {% include 'UserTemplates/UserAccount/Author/Elements/Table/MyPostDetailComment.html' %}
{% else %}
    Brak komentarzy
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Data utworzenia
</h6>
{{ post.date_posted }}
<h6 class="form-label pt-3 text-start fw-bold">
    Data ostatniej edycji
</h6>
{{ post.date_edited }}