<h3 class="ps-3 ps-sm-0 ps-md-3 mb-3">
    <a class="admin_category text-navy" href='{% url 'posts_admin' %}'>Zarządzanie treścią</a>
</h3>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Contnet/PostsButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Contnet/CategoriesButtons.html' %}
</div>
<div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
    {% include 'AdminTemplates/Admin/AdminPanelElements/Contnet/CommentsButtons.html' %}
</div>