<nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
    <h5 class=" fw-bold text-navy">
        Posty
    </h5>
    <button class="btn btn-list mt-2 mb-1 text-start"
            onclick="location.href='{% url 'post_add' %}'">
        <i class="fa-regular fa-pen-to-square me-2"></i>
        Stworzenie postu
    </button>
    <button class="btn btn-list my-1 text-start"
            onclick="location.href='{% url 'post_admin_panel' %}'">
        <i class="fa-solid fa-list-ul me-2"></i>
        Zarządzanie postami
    </button>
    <button class="btn btn-list my-1 text-start"
            onclick="location.href='{% url 'post_publication_admin_panel' %}'">
        <i class="fa-solid fa-bullhorn me-2"></i>
        Publikacja postów
    </button>
</nav>