{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Edycja {{ form.content.value | truncatewords:8 }}
{% endblock %}

{% block navbar %}
    {% include 'NavbarAdmin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'comment_add' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-comment me-2"></i>
                        Stworzenie komentarza
                    </button>
                    <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'comment_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-comments me-2"></i>
                        Zarządzanie komentarzami
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'comment_in_post_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                       <i class="fa-solid fa-rectangle-list me-2"></i>
                        Komentarze w danych postach
                    </button>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'comment_users_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-newspaper me-2"></i>
                        Komentarze danych użytkowników
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                    Edycja | {{ form.content.value | truncatewords:8 }}
                </h4>
                {% for field, error in form.errors.items %}
                    <div class="alert alert-danger fw-light px-2 py-2 my-3" role="alert">
                        {{ error|striptags }}
                    </div>
                {% endfor %}
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.author.label }}
                    </h6>
                    {{ form.author }}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.content.label }}
                    </h6>
                    {{ form.content }}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.blog.label }}
                    </h6>
                    {{ form.blog }}
                    <button class="d-flex justify-content-center btn btn-register px-4 my-4 mx-auto" type="submit">Zapisz zmiany</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}