{% extends 'base.html' %}

{% block title %}
    Banknoty - Komentarze {{ users.user.username }}
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'comment_add' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-comment me-2"></i>
                        Stworzenie komentarza
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'comment_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-comments me-2"></i>
                        Zarządzanie komentarzami
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'comment_in_post_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                       <i class="fa-solid fa-rectangle-list me-2"></i>
                        Komentarze w danych postach
                    </button>
                    <button class="btn btn-list-active btn-list mt-2 mb-1" onclick="location.href='{% url 'comment_users_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-newspaper me-2"></i>
                        Komentarze danych użytkowników
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <div style="display: flex; align-items: center;">
                    <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                        Komentarze {{ users.user.username }}
                    </h4>
                    <input type=button  class="btn btn-register ms-auto" value="Powrót" onClick="javascript:history.go(-1);">
                </div>
                <h6 class="form-label pt-3 text-start fw-bold">
                    Autor
                </h6>
                {{ users.user.username }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Lista komentarzy
                </h6>
                {% if comments %}
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Komentarz</th>
                                <th scope="col">Post</th>
                                <th scope="col">Data utworzenia</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td>{{ comment.content }}</td>
                                    <td>{{ comment.blog.title }}</td>
                                    <td>{{ comment.date_posted }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Brak komentarzy
                {% endif %}
                <div class="mb-4"></div>
            </div>
        </div>
    </div>
{% endblock %}