<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Temat</th>
            <th scope="col">Status</th>
            <th scope="col">Data utworzenia</th>
            <th scope="col">Data edycji</th>
            <th scope="col">Edytuj</th>
            <th scope="col">Usuń</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for newsletter in page_obj %}
            <tr>
                <td>
                    <a class="admin_panel_link"
                       href="{% url 'newsletter_detail_admin_panel' newsletter.pk %}">
                        {{ newsletter.title }}
                    </a>
                </td>
                <td>
                    <a class="admin_panel_link"
                       href="{% url 'newsletter_detail_admin_panel' newsletter.pk %}">
                        {% if newsletter.status_field == 'Draft' %}
                            Projekt
                        {% else %}
                            Opublikowany
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a class="admin_panel_link"
                       href="{% url 'newsletter_detail_admin_panel' newsletter.pk %}">
                        {{ newsletter.date_added |date:'Y-m-d H:i' }}
                    </a>
                </td>
                <td>
                    <a class="admin_panel_link"
                       href="{% url 'newsletter_detail_admin_panel' newsletter.pk %}">
                        {{ newsletter.date_modified |date:'Y-m-d H:i' }}
                    </a>
                </td>
                <td>
                    <a class="admin_panel_edit_link"
                       href="{% url 'newsletter_edit_admin_panel' newsletter.pk %}">
                        Edytuj
                    </a>
                </td>
                <td>
                    <a class="admin_panel_edit_link"
                       href="{% url 'newsletter_delete_admin_panel' newsletter.pk %}">
                        Usuń
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>