<nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
    <h5 class=" fw-bold text-navy">
        Autorzy
    </h5>
    <button class="btn btn-list mt-2 mb-1 text-start"
            onclick="location.href='{% url 'author_add' %}'">
        <i class="fa-solid fa-id-card-clip me-2"></i>
        Stworzenie autora
    </button>
    <button class="btn btn-list my-1 text-start"
            onclick="location.href='{% url 'author_admin_panel' %}'">
        <i class="fa-regular fa-address-book me-2"></i>
        Zarządzanie autorami
    </button>
</nav>