{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<head>
    {{ form.media }}
</head>

{% block title %}
    Ustawienia - Aplikacja na autora
{% endblock %}

{% block navbar %}
    {% include 'Navbar/Navbar.html' %}
{% endblock %}

{% block content %}
    <div class="bg-body-tertiary">
        {% include 'UserTemplates/UserAccount/Elements/TopSite.html' %}
        <div class="px-3 div_over_div" id="top_edit_profile_page">
            <div class="container my-account-position">
                <div class="row gx-5 p-0">
                    <div class="col-12 col-lg-4 px-sm-5 px-lg-0">
                        {% include 'UserTemplates/UserAccount/Elements/Navigation.html' %}
                    </div>
                    <div class="col-0 col-lg-8 px-sm-5 px-lg-4 pt-5 pt-lg-0">
                        <div class="p-3 bg-white rounded-top-3 shadow">
                            {% include 'UserTemplates/UserAccount/AuthorApplication/Elements/AuthorApplication.html' %}
                        </div>
                    </div>
                </div>
                {% include 'Footers/FooterMembers.html' %}
            </div>
        </div>
    </div>
{% endblock %}
