{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
    {{ form.media }}
</head>

{% block title %}
    Ustawienia - Zostań autorem - uzupełnianie danych
{% endblock %}

{% block navbar %}
    {% include 'Navbar/Navbar.html' %}
{% endblock %}

{% block content %}
    <div class="bg-body-tertiary">
        <div class="px-3 div_over_div text-white" id="bottom_edit_profile_page">
            <h3 class="ps-5 ms-5 bottom_edit_profile_page_text">Ustawienia</h3>
        </div>
        <div class="px-3 div_over_div" id="top_edit_profile_page">
            <div class="container" style="transform: translate(0, -80px)">
                <div class="row gx-5 p-0 ">
                    <div class="col-12 col-lg-4 px-sm-5 px-lg-0">
                        <div class="p-3 bg-white rounded-top-3 text-center shadow">
                            <img class="img rounded-circle shadow mt-3 mb-1"
                                 style="aspect-ratio: 1/1 !important; object-fit: cover; object-position: center;"
                                 src="{{ user.user.profile_pic.url }}">
                            <h4 class="pt-2 mb-0 text-capitalize" style="color: navy">
                                {% if user.first_name and user.last_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% elif user.first_name %}
                                    {{ user.first_name }}
                                {% elif user.last_name %}
                                    {{ user.last_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            </h4>
                            <small class="pt-1"
                                   style="color: rgba(0, 0, 128, 0.5); overflow-wrap: break-word; word-wrap: break-word;">
                                {{ user.email }}
                            </small>
                            <h6 class="text-capitalize fw-semibold mb-0 ms-4 pt-4 text-start" style="color:navy;">
                                Konto
                            </h6>
                            <nav class="nav flex-column text-start mx-1 px-3">
                                <button class="btn btn-list btn-list mt-2 mb-1"
                                        onclick="location.href='{% url 'edit_profile' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-circle-user me-2"></i>
                                    Dane osobiste
                                </button>
                                <button class="btn btn-list btn-list my-1"
                                        onclick="location.href='{% url 'edit_security_page' %}'"
                                        style="text-align: left; ">
                                    <i class="fa-solid fa-shield-halved me-2"></i>
                                    Zabezpieczenia
                                </button>
                                <button class="btn btn-list btn-list my-1"
                                        onclick="location.href='{% url 'notifications' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-envelope-open-text me-2"></i>
                                    Powiadomienia
                                </button>
                                <button class="btn btn-list btn-list my-1" href="#" style="text-align: left; ">
                                    <i class="fa-solid fa-sliders me-2"></i>
                                    Preferencje
                                </button>
                            </nav>
                            <h6 class="text-capitalize fw-semibold mb-0 ms-4 pt-3 text-start" style="color:navy;">
                                Autor
                            </h6>
                            <nav class="nav flex-column text-start mx-1 px-3">
                                {% if user.author %}
                                    <button class="btn btn-list btn-list mt-2 mb-1"
                                            onclick="location.href='{% url 'edit_author' %}'"
                                            style="text-align: left; ">
                                        <i class="fa-solid fa-id-card me-2"></i>
                                        Strona autora
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1"
                                            onclick="location.href='{% url 'my_posts' %}'" style="text-align: left; ">
                                        <i class="fa-regular fa-newspaper me-2"></i>
                                        Moje artykuły
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1"
                                            onclick="location.href='{% url 'my_posts_create' %}'"
                                            style="text-align: left; ">
                                        <i class="fa-solid fa-circle-plus me-2"></i>
                                        Dodaj artykuł
                                    </button>
                                {% else %}
                                    <button class="btn btn-list btn-list-active mt-2 mb-1"
                                            onclick="location.href='{% url 'article_author_form' %}'"
                                            style="text-align: left; ">
                                        <i class="fa-solid fa-user-pen me-2"></i>
                                        Zostań autorem
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1"
                                            onclick="location.href='{% url 'article_author_history' %}'"
                                            style="text-align: left; ">
                                        <i class="fa-regular fa-folder-open me-2"></i>
                                        Historia aplikacji
                                    </button>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                    <div class="col-0 col-lg-8 px-sm-5 px-lg-4 pt-5 pt-lg-0">
                        <div class="p-3 bg-white rounded-top-3 shadow">
                            <h4 class="pt-2 ps-4 mb-0 fw-bold" style="color: navy">
                                Zostań autorem - uzupełnianie danych
                            </h4>
                            <form class="ps-4" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.non_field_errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label form-label-required pt-3 mb-0 text-start fw-bold">
                                    Biogram
                                </h6>
                                <p class="text-start message m-0 mb-2 fw-light text-muted">
                                    Krótka informacja o autorze, nie więcej niż 512 znaków.
                                </p>
                                <textarea
                                        class="form-control {% if form.bio.errors %}is-invalid{% endif %} {% if form.bio.value and not form.bio.errors %}is-valid{% endif %}"
                                        id="bio" name="bio" rows="5" cols="50"
                                        style="resize: none">{{ form.bio.value|default:'' }}</textarea>
                                {% if form.bio.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.bio.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label form-label-required pt-3 text-start fw-bold">
                                    Zdjęcie profilowe
                                </h6>
                                <div class="container text-center">
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3 my-md-auto">
                                            <img src="{{ user.user.profile_pic.url }}"
                                                 class="img rounded-circle shadow my-2"
                                                 style="aspect-ratio: 1/1 !important; object-fit: cover; object-position: center;">
                                        </div>
                                        <div class="col-12 col-md-9 px-0">
                                            <div class="container text-start">
                                                <div class="row px-0 my-auto">
                                                    <div class="col-12 px-0 my-auto">
                                                        <input type="file"
                                                               class="form-control {% if form.profile_pic.errors %}is-invalid{% endif %} {% if form.profile_pic.value and not form.profile_pic.errors %}is-valid{% endif %}"
                                                               id="profile_pic" name="profile_pic" accept="image/*">
                                                        {% if form.profile_pic.errors %}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.profile_pic.errors %}
                                                                    <p class="mb-1">{{ error }}</p>
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    URL do strony autora
                                </h6>
                                <input class="form-control {% if form.author_url.errors %}is-invalid{% endif %} {% if form.author_url.value and not form.author_url.errors %}is-valid{% endif %}"
                                       type="url" id="author_url" name="author_url"
                                       value="{{ form.author_url.value|default:'' }}">
                                {% if form.author_url.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.author_url.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label form-label-required pt-3 mb-0 text-start fw-bold">
                                    Cytat autora
                                </h6>
                                <p class="text-start message m-0 mb-2 fw-light text-muted">
                                    Krótkie motto autora, nie więcej niż 128 znaków.
                                </p>
                                <textarea
                                        class="form-control {% if form.author_quote.errors %}is-invalid{% endif %} {% if form.author_quote.value and not form.author_quote.errors %}is-valid{% endif %}"
                                        id="author_quote" name="author_quote" rows="2" cols="30" maxlength="128"
                                        style="resize: none">{{ form.author_quote.value|default:"" }}</textarea>
                                {% if form.author_quote.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.author_quote.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label form-label-required pt-3 mb-0 text-start fw-bold">
                                    Stanowisko autora
                                </h6>
                                <p class="text-start message m-0 mb-2 fw-light text-muted">
                                    Nazwa funkcji, jaką pełni autor.
                                </p>
                                <textarea
                                        class="form-control {% if form.author_function.errors %}is-invalid{% endif %} {% if form.author_function.value and not form.author_function.errors %}is-valid{% endif %}"
                                        id="author_function" name="author_function" rows="2" cols="30" maxlength="128"
                                        style="resize: none">{{ form.author_function.value|default:"" }}</textarea>
                                {% if form.author_function.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.author_function.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    URL do pinteresta autora
                                </h6>
                                <input class="form-control {% if form.pinterest_url.errors %}is-invalid{% endif %} {% if form.pinterest_url.value %}is-valid{% endif %}"
                                       type="url" id="pinterest_url" name="pinterest_url"
                                       value="{{ form.pinterest_url.value|default:'' }}">
                                {% if form.pinterest_url.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.pinterest_url.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    URL do facebooka autora
                                </h6>
                                <input class="form-control {% if form.facebook_url.errors %}is-invalid{% endif %} {% if form.facebook_url.value %}is-valid{% endif %}"
                                       type="url" id="facebook_url" name="facebook_url"
                                       value="{{ form.facebook_url.value|default:'' }}">
                                {% if form.facebook_url.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.facebook_url.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    URL do twittera autora
                                </h6>
                                <input class="form-control {% if form.twitter_url.errors %}is-invalid{% endif %} {% if form.twitter_url.value %}is-valid{% endif %}"
                                       type="url" id="twitter_url" name="twitter_url"
                                       value="{{ form.twitter_url.value|default:'' }}">
                                {% if form.twitter_url.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.twitter_url.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    URL do instagrama autora
                                </h6>
                                <input class="form-control {% if form.instagram_url.errors %}is-invalid{% endif %} {% if form.instagram_url.value %}is-valid{% endif %}"
                                       type="url" id="instagram_url" name="instagram_url"
                                       value="{{ form.instagram_url.value|default:'' }}">
                                {% if form.instagram_url.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.instagram_url.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <button class="d-flex justify-content-center btn btn-register px-4 mt-4 my-2 mx-auto"
                                        type="submit">Zostań autorem
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% include 'Footers/FooterMembers.html' %}
            </div>
        </div>
    </div>
{% endblock %}
