{% extends 'base.html' %}

{% block title %}
    Banknoty - Zarządzanie subskrybcjami shota wydarzeń
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'replay_news_add' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-newspaper me-2"></i>
                        Stworzenie shota wydarzeń
                    </button>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'replay_news_admin_panel' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-pen me-2"></i>
                        Zarządzanie shotem wydarzeń
                    </button>
                    <button class="btn btn-list-active btn-list mt-2 mb-1" onclick="location.href='{% url 'replay_news_user_manage_admin_panel' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-user-plus me-2"></i>
                        Zarządzanie subskrybcjami shota wydarzeń
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                    Zarządzanie subskrybcjami shota wydarzeń
                </h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Użytkownik</th>
                        <th scope="col">Zgoda na e-mail z shotem wydarzeń</th>
                        <th scope="col">Edytuj</th>
                        <th scope="col">Podgląd</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for user in page_obj %}
                            <tr>
                                <td>
                                    <a class="admin_panel_link" href="{% url 'replay_news_user_detail_admin_panel' user.pk %}">
                                        {{ user.user  }}
                                    </a>
                                </td>
                                <td>
                                    <a class="admin_panel_link" href="{% url 'replay_news_user_detail_admin_panel' user.pk %}">
                                        {% if user.replay_news %}
                                          <i class="fa-solid fa-check"></i>
                                        {% else %}
                                          <i class="fa-solid fa-x"></i>
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a class="admin_panel_edit_link" href="{% url 'replay_news_user_edit_admin_panel' user.pk %}">
                                        Edytuj
                                    </a>
                                </td>
                                <td>
                                    <a class="admin_panel_edit_link" href="{% url 'replay_news_user_detail_admin_panel' user.pk %}">
                                        Podgląd
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>
{% endblock %}