<div class="text-end">
    <button class="btn btn-socialmedia btn-facebook rounded-circle"
            onclick="window.location='https://www.facebook.com';">
        <i class="fab fa-facebook"></i>
    </button>
    <button class="btn btn-socialmedia btn-twitter rounded-circle"
            onclick="window.location='https://www.twitter.com';">
        <i class="fab fa-twitter"></i>
    </button>
    <button class="btn btn-socialmedia btn-linkedin rounded-circle"
            onclick="window.location='https://www.linkedin.com';">
        <i class="fab fa-linkedin"></i>
    </button>
    <button class="btn btn-socialmedia btn-pinterest rounded-circle"
            onclick="window.location='https://www.pinterest.com';">
        <i class="fab fa-pinterest"></i>
    </button>
</div>