<ul class="nav">
    <li class="nav-item mx-auto">
        <a class="nav-link btn-nav px-3" href="{% url 'article-all' %}">
            <h5 class="fw-light my-1">
                Artykuły
            </h5>
        </a>
    </li>
    <li class="nav-item mx-auto">
        <a class="nav-link btn-nav px-3" href="{% url 'contact' %}">
            <h5 class="fw-light my-1">
                Kontakt
            </h5>
        </a>
    </li>
    <li class="nav-item mx-auto">
        <a class="nav-link btn-nav px-3" href="{% url 'terms_and_conditions' %}">
            <h5 class="fw-light my-1">
                Regulamin serwisu
            </h5>
        </a>
    </li>
    <li class="nav-item mx-auto">
        <a class="nav-link btn-nav px-3" href="{% url 'privacy_policy' %}">
            <h5 class="fw-light my-1">
                Polityka prywatności
            </h5>
        </a>
    </li>
</ul>