<form method="POST">
    {% csrf_token %}
    <div class="form-check fs-5">
        <input type="checkbox" id="check-api-checkbox" class="form-check-input">
        <label for="check-api-checkbox" class="form-check-label fw-light message mb-0">
            Chcę usunąć adres email dla konta społecznościowego {{ news.user | capfirst }}
        </label>
        {{ form.is_active }}
    </div>
    <div class="btn-toolbar d-flex justify-content-center my-4" role="toolbar"
         aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <button class="btn btn-register px-4" type="submit">
                Usuń
            </button>
        </div>
        <div class="btn-group ms-2" role="group" aria-label="First group">
            <button class="btn btn-log px-4" type="button"
                    onclick="location.href='{% url 'email_address_admin_panel' %}'">
                Anuluj
            </button>
        </div>
    </div>
</form>