{% extends 'base.html' %}

{% block title %}
    Banknoty - Posty w danej kategorii
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'category_add' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-regular fa-pen-to-square me-2"></i>
                        Stworzenie kategorii
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'category_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-list-ul me-2"></i>
                        Zarządzanie kategoriami
                    </button>
                    <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'category_posts_in_category_panel_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-regular fa-newspaper me-2"></i>
                        Posty w danej kategorii
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                    Posty w danej kategorii
                </h4>
                {% if messages %}
                    {% for message in messages %}
                        <div
                            {% if message.tags %}
                                class="{{ message.tags }}"
                            {% endif %}
                            role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onClick="window.location.reload()" ></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Opis</th>
                        <th scope="col">Liczba postów</th>
                        <th scope="col">Podgląd</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for category in page_obj %}
                            <tr>
                                <td>
                                    <a class="admin_panel_link" href="{% url 'category_post_in_category_panel_detail_admin_panel' category.pk %}">
                                        {{ category.name|truncatewords:6  }}
                                    </a>
                                </td>
                                <td>
                                    <a class="admin_panel_link" href="{% url 'category_post_in_category_panel_detail_admin_panel' category.pk %}">
                                        {{ category.description|truncatewords:8  }}
                                    </a>
                                </td>
                                <td>
                                    <a class="admin_panel_link" href="{% url 'category_post_in_category_panel_detail_admin_panel' category.pk %}">
                                        {{ category.blog_set.count }}
                                    </a>
                                </td>
                                <td>
                                    <a class="admin_panel_edit_link" href="{% url 'category_post_in_category_panel_detail_admin_panel' category.pk %}">
                                        Podgląd
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>
{% endblock %}