{% extends 'base.html' %}

{% block title %}
    Banknoty - {{ category_name.first|title }}
{% endblock %}

{% load static %}

{% block navbar %}
    {% include 'Navbar/Navbar.html' %}
{% endblock %}

{% block content %}
    {% if category_posts %}
        <div id="alert-container"></div>
        <div class="bg-body-tertiary">
            <div class="container text-cetner pt-4 pb-4 px-4 px-sm-0">
                <div class="container text-center">
                    <div class="row mt-3 mx-5">
                        {% include 'UserTemplates/SingleCategory/CategoryInfo.html' %}
                        <div class="container text-center">
                            {% for post in page_obj %}
                                {% include 'UserTemplates/SingleCategory/SingleCategory.html' %}
                            {% endfor %}
                        </div>
                        {% include 'paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <img src="{% static 'images/404_Error_Page.svg' %}" alt="Error Page">
    {% endif %}
{% endblock %}

{% block foo %}
    {% include 'Footers/Footer.html' %}
{% endblock %}
