<div class="row pt-3 pb-3 pb-md-2">
    <div class="col-12 col-md-4 col-lg-3 col-xl-2 pe-auto pe-md-0 pe-lg-3 pb-3 pb-md-0">
        {% include 'UserTemplates/SingleCategory/CategoryImg.html' %}
    </div>
    <div class="col-12 col-md-8 col-lg-9 col-xl-10 ps-auto ps-md-0 ps-lg-3">
        <div class="row">
            <div class="col-10">
                {% include 'UserTemplates/SingleCategory/CategoryContent.html' %}
            </div>
            <div class="col-2 text-end">
                {% include 'UserTemplates/ShareSection/ShareSection.html' %}
            </div>
        </div>
    </div>
</div>