<h6 class="form-label pt-3 text-start fw-bold">
    {{ user_form.last_name.label }}
</h6>
<input class="form-control {% if user_form.last_name.value and not user_form.is_bound %}is-not-submit{% endif %} {% if user_form.last_name.errors %}is-invalid{% endif %} {% if user_form.last_name.value and not user_form.last_name.errors and user_form.is_bound %}is-valid{% endif %}"
       type="text" id="id_last_name" name="last_name" value="{{ user_form.last_name.value|default:'' }}">
{% if user_form.last_name.errors %}
    <div class="invalid-feedback">
        {% for error in user_form.last_name.errors %}
            <p class="mb-1">
                {{ error }}
            </p>
        {% endfor %}
    </div>
{% endif %}