{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Panel administracyjny
{% endblock %}

{% block navbar %}
    {% include 'NavbarAdmin.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h3 class="ps-3 ps-sm-0 ps-md-3 mb-3">
                <a class="admin_category" style="color: navy" href='{% url 'newsletters_admin' %}'>Biuletyny</a>
            </h3>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Biuletyn
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'newsletter_creation' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-newspaper me-2"></i>
                        Stworzenie biuletynu
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'newsletter_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-pen me-2"></i>
                        Zarządzanie biuletynem
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'newsletter_add_user' %}'" style="text-align: left; ">
                       <i class="fa-solid fa-user-plus me-2"></i>
                        Dodanie do biuletynu
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'newsletter_remove_user' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-user-slash me-2"></i>
                        Usunięcie z biuletynu
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'newsletter_user_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-clipboard-user me-2"></i>
                        Zarządzanie subskrybcjami biuletynu
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Pominięte artykuły
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'send_emails' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-paper-plane me-2"></i>
                        Wysłanie e-maila do użytkowników
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'skipped_posts_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list me-2"></i>
                        Pominięte artykuły przez użytkowników
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'skipped_posts_user_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list-ol me-2"></i>
                        Zarządzanie subskrybcjami pominiętych artykułów
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Spotkania i wydarzenia
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'meetups_news_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-envelope-open-text me-2"></i>
                        Stworzenie wiadomości o spotkaniach i wydarzeniach
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'meetups_news_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list me-2"></i>
                        Zarządzanie wiadmościami o spotkaniach i wydarzeniach
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'meetups_news_user_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list-check me-2"></i>
                        Zarządzanie subskrybcjami wiadomości o spotkaniach i wydarzeniach
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Okazje z rynku aukcyjnego
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'auction_opportunities_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-pen-to-square me-2"></i>
                        Stworzenie wiadomości o okazjach z rynku aukcyjnego
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'auction_opportunities_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list me-2"></i>
                        Zarządzanie wiadmościami o okazjach z rynku aukcyjnego
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'auction_opportunities_user_manage_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list-check me-2"></i>
                        Zarządzanie subskrybcjami wiadomości o okazjach z rynku aukcyjnego
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Wiadomości od Banknoty
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'company_news_add' %}'" style="text-align: left; ">
                        <i class="fa-regular fa-paper-plane me-2"></i>
                        Stworzenie wiadomości od Banknoty
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'company_news_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-inbox me-2"></i>
                        Zarządzanie wiadomościami od Banknoty
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'company_news_user_manage_admin_panel' %}'" style="text-align: left; ">
                       <i class="fa-solid fa-circle-user me-2"></i>
                        Zarządzanie subskrybcjami wiadomości od Banknoty
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Shot wydarzeń od Banknoty
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'replay_news_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-newspaper me-2"></i>
                        Stworzenie shota wydarzeń
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'replay_news_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-pen me-2"></i>
                        Zarządzanie shotem wydarzeń
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'replay_news_user_manage_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-user-plus me-2"></i>
                        Zarządzanie subskrybcjami shota wydarzeń
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Informacje o rozwoju i zmianach na Banknoty
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'development_news_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-newspaper me-2"></i>
                        Stworzenie wiadomości o rozwoju i zmianach na Banknoty
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'development_news_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-pen me-2"></i>
                        Zarządzanie wiadomości o rozwoju i zmianach na Banknoty
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'development_news_user_manage_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-user-plus me-2"></i>
                        Zarządzanie subskrybcjami wiadomości o rozwoju i zmianach na Banknoty
                    </button>
                </nav>
            </div>
        </div>
        <hr class="mt-2 mb-4" style="color: navy">
        <div class="row">
            <h3 class="ps-3 ps-sm-0 ps-md-3 mb-3">
                <a class="admin_category" style="color: navy"
                   href='{% url 'users_admin' %}'
                >Użytkownicy</a>
            </h3>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Użytkownicy
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'users_add' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-person-circle-plus me-2"></i>
                        Stworzenie użytkownika
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'users_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-users me-2"></i>
                        Zarządzanie użytkownikami
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Autorzy
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'author_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-id-card-clip me-2"></i>
                        Stworzenie autora
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'author_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-regular fa-address-book me-2"></i>
                        Zarządzanie autorami
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Aplikacje na autora
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'decision_maker_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list-check me-2"></i>
                        Zarządzanie aplikacjami na autora
                    </button>
                </nav>
            </div>
        </div>
        <hr class="mt-2 mb-4" style="color: navy">
        <div class="row">
            <h3 class="ps-3 ps-sm-0 ps-md-3 mb-3">
                <a class="admin_category" style="color: navy"
                   href='{% url 'social_admin' %}'
                >Konta społecznościowe i strony</a>
            </h3>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Aplikacja społeczna
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'social_app_add' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-universal-access me-2"></i>
                        Stworzenie aplikacji społecznościowej
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'social_app_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-users-gear me-2"></i>
                        Zarządzanie aplikacjami społecznościowymi
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Token aplikacji społecznościowej
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'social_token_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-key me-2"></i>
                        Stworzenie tokenu aplikacji społecznościowej
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'social_token_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-user-lock me-2"></i>
                        Zarządzanie tokenami aplikacji społecznościowych
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Konta społecznościowe
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'social_account_add' %}'" style="text-align: left; display: block;">
                        <i class="fa-regular fa-user me-2"></i>
                        Stworzenie konta społecznościowego
                    </button>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'social_account_admin_panel' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-clipboard-list me-2"></i>
                        Zarządzanie kontami społecznościowymi
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Adresy e-mail
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'email_address_add' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-at me-2"></i>
                        Stworzenie adresu email dla konta społecznościowego
                    </button>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'email_address_admin_panel' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-envelopes-bulk me-2"></i>
                        Zarządzanie adresami email dla konta społecznościowych
                    </button>
                </nav>
            </div>
        </div>
        <hr class="mt-2 mb-4" style="color: navy">
        <div class="row">
            <h3 class="ps-3 ps-sm-0 ps-md-3 mb-3">
                <a class="admin_category" style="color: navy" href='{% url 'posts_admin' %}'>Zarządzanie treścią</a>
            </h3>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Posty
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'post_add' %}'" style="text-align: left; ">
                        <i class="fa-regular fa-pen-to-square me-2"></i>
                        Stworzenie postu
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'post_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list-ul me-2"></i>
                        Zarządzanie postami
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'post_publication_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-bullhorn me-2"></i>
                        Publikacja postów
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Kategorie
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'category_add' %}'" style="text-align: left; ">
                        <i class="fa-regular fa-pen-to-square me-2"></i>
                        Stworzenie kategorii
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'category_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list-ul me-2"></i>
                        Zarządzanie kategoriami
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'category_posts_in_category_panel_admin_panel' %}'" style="text-align: left; ">
                       <i class="fa-regular fa-newspaper me-2"></i>
                        Posty w danej kategorii
                    </button>
                </nav>
            </div>
            <div class="col-6 col-xl-3 px-1 px-lg-2 pb-3 bg-body-tertiary">
                <nav class="nav flex-column text-start px-3 px-sm-0 px-md-3">
                    <h5 class=" fw-bold" style="color: navy">
                        Komentarze
                    </h5>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'comment_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-comment me-2"></i>
                        Stworzenie komentarza
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'comment_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-comments me-2"></i>
                        Zarządzanie komentarzami
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'comment_in_post_admin_panel' %}'" style="text-align: left; ">
                       <i class="fa-solid fa-rectangle-list me-2"></i>
                        Komentarze w danych postach
                    </button>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'comment_users_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-newspaper me-2"></i>
                        Komentarze danych użytkowników
                    </button>
                </nav>
            </div>
        </div>
        <hr class="mt-2 mb-4" style="color: navy">
    </div>
</div>
{% endblock %}