<h6 class="form-label pt-3 mb-0 text-start fw-bold">
    {{ form.phone_number.label }}
</h6>
<p class="text-start message m-0 mb-2 text-muted fw-light">
    {{ form.phone_number.help_text }}
</p>
<input class="form-control {% if form.phone_number.errors %}is-invalid{% endif %} {% if form.phone_number.value and not form.phone_number.errors %}is-valid{% endif %}"
       type="text" id="{{ form.phone_number.id_for_label }}" name="{{ form.phone_number.html_name }}"
       value="{{ form.phone_number.value|default:'' }}">
{% if form.phone_number.errors %}
    <div class="invalid-feedback">
        {% for error in form.phone_number.errors %}
            <p class="mb-1">
                {{ error }}
            </p>
        {% endfor %}
    </div>
{% endif %}