<script>
    function handleClick () {
        if (window.innerWidth > 1199) {
            location.href = "{% url 'article-all' %}";
        }
    }
</script>
{% load static %}
{% if user.is_authenticated %}
    <nav class="nav navbar nav-sticky navbar-expand-xl bg-body-tertiary">
        <div class="container-fluid mx-5 px-5 ps-0 pe-0 pe-lg-5">
            <a class="navbar-brand py-2 me-5" href="/">
                <img class="ps-5 img img-fluid mx-auto d-block nav-logo"
                     src="{% static 'images/logo-no-background.png' %}" alt="Logo">
            </a>
            {% include 'Navbar/Elements/DropdownSmallScreen.html' %}
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link btn-nav px-4" href="/">
                        <h5 class="text-center text-md-start fw-light my-1">
                            Strona główna
                        </h5>
                    </a>
                    <li class="nav-item px-0 dropdown">
                        <a class="nav-link btn-nav px-4 text-center text-md-start fw-light dropdown-toggle dropdown-article"
                           onclick="handleClick()" data-bs-toggle="dropdown">
                            Artykuły
                            <i class="fa-solid fa-angle-down fa-2xs"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-large border border-0 shadow p-4"
                             id="dropdown-margin-minus">
                            <div class="row g-3">
                                <div class="col-5 mb-3">
                                    {% include 'Navbar/Elements/DropdownCategory.html' %}
                                </div>
                                <div class="col-7">
                                    {% include 'Navbar/Elements/DropdownArticle.html' %}
                                </div>
                            </div>
                        </div>
                    </li>
                    <a class="nav-link btn-nav px-4" href="{% url 'author-all' %}">
                        <h5 class="text-center text-md-start fw-light my-1">
                            O autorze
                        </h5>
                    </a>
                    <li class="d-none d-xl-block nav-separation"></li>
                    <div class="dropdown d-none d-xl-block">
                        {% include 'Navbar/Elements/DropdownUserSmallScreen.html' %}
                        <ul class="dropdown-menu dropdown-menu-end shadow border border-0 py-3 dropdown-size">
                            <li>
                                {% include 'Navbar/Elements/DropdownUser.html' %}
                            </li>
                            <li>
                                <hr class="dropdown-divider mx-2 my-3">
                            </li>
                            <li class="mx-3">
                                {% include 'Navbar/Elements/DropdownButtons.html' %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="nav navbar nav-sticky navbar-expand-xl bg-body-tertiary">
        <div class="container-fluid mx-5 px-5 ps-0 pe-0 pe-lg-5">
            <a class="navbar-brand py-2 me-5" href="/">
                <img class="ps-5 img img-fluid mx-auto d-block nav-logo"
                     src="{% static 'images/logo-no-background.png' %}"
                     alt="Logo">
            </a>
            <div class="d-flex justify-content-between">
                {% include 'Navbar/Elements/LoginRegister.html' %}
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link btn-nav px-4" href="/">
                        <h5 class="text-center text-md-start fw-light my-1">
                            Strona główna
                        </h5>
                    </a>
                    <li class="nav-item px-0 dropdown">
                        <a class="nav-link btn-nav px-4 text-center text-md-start fw-light dropdown-toggle dropdown-article"
                           onclick="handleClick()" data-bs-toggle="dropdown">
                            Artykuły
                            <i class="fa-solid fa-angle-down fa-2xs"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-large border border-0 shadow p-4"
                             id="dropdown-margin-minus">
                            <div class="row g-3">
                                <div class="col-5 mb-3">
                                    {% include 'Navbar/Elements/DropdownCategory.html' %}
                                </div>
                                <div class="col-7">
                                    {% include 'Navbar/Elements/DropdownArticle.html' %}
                                </div>
                            </div>
                        </div>
                    </li>
                    <a class="nav-link btn-nav px-4" href="{% url 'author-all' %}">
                        <h5 class="text-center text-md-start fw-light my-1">
                            O autorze
                        </h5>
                    </a>
                    <li class="d-none d-xl-block nav-separation"></li>
                    <a class="mb-2 mb-md-0 ms-0 ms-md-3 d-block d-sm-block d-md-none d-lg-none d-xl-block btn btn-log px-4 border"
                       href="{% url 'login' %}?next={{ request.path }}">
                        <h5 class="fw-light my-1">
                            Zaloguj się
                        </h5>
                    </a>
                    <a class="mb-2 mb-md-0 ms-0 ms-md-3 d-block d-sm-block d-md-none d-lg-none d-xl-block btn btn-register px-4"
                       href="{% url 'register' %}?next={{ request.path }}">
                        <h5 class="fw-light my-1">
                            Dołącz teraz
                        </h5>
                    </a>
                </div>
            </div>
        </div>
    </nav>
{% endif %}
