{% load i18n %}
<form class="position-absolute top-0 end-0 pe-5 pt-4" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'en' %}
        {% language 'pl' %}
            <button type="submit" name="language" value="pl" class="btn btn-info">
                PL
            </button>
        {% endlanguage %}
    {% elif LANGUAGE_CODE == 'pl' %}
        {% language 'en' %}
            <button type="submit" name="language" value="en" class="btn btn-info">
                EN
            </button>
        {% endlanguage %}
    {% endif %}
</form>