<div id="list" class="list-group">
    <a class="list-group-item list-group-item-action" href="#list-item-1">
        1. Warunki ogólne
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-2">
        2. Zakładanie konta użytkownika
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-3">
        3. Publikowanie treści
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-4">
        4. Komunikacja
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-5">
        5. Prywatność i ochrona danych osobowych
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-6">
        6. Zasady komentowania
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-7">
        7. Własność intelektualna
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-8">
        8. Odpowiedzialność użytkownika
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-9">
        9. Zmiany w regulaminie
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-10">
        10. Postanowienia końcowe
    </a>
</div>