{% extends 'base.html' %}

{% block title %}
    Banknoty - Usunięcie {{ form.title.value }}
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <nav class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'auction_opportunities_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-pen-to-square me-2"></i>
                        Stworzenie wiadomości o okazjach z rynku aukcyjnego
                    </button>
                    <button class="btn btn-list-active btn-list mt-2 mb-1" onclick="location.href='{% url 'auction_opportunities_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list me-2"></i>
                        Zarządzanie wiadmościami o okazjach z rynku aukcyjnego
                    </button>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'auction_opportunities_user_manage_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-list me-2"></i>
                        Zarządzanie subskrybcjami wiadomości o okazjach z rynku aukcyjnego
                    </button>
                </nav>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                    Usunięcie wiadomości | {{ news.title }}
                </h4>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-check fs-5">
                        <input type="checkbox" id="check-api-checkbox" class="form-check-input">
                        <label for="check-api-checkbox" class="form-check-label fw-light message mb-0">
                            Chcę usunąc wiadomość {{ news.title }}
                        </label>
                        {{form.is_active}}
                    </div>
                    <div class="btn-toolbar d-flex justify-content-center my-4" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button class="btn btn-register px-4" type="submit">Usuń</button>
                        </div>
                        <div class="btn-group ms-2" role="group" aria-label="First group">
                            <button class="btn btn-log px-4" type="button" onclick="location.href='{% url 'auction_opportunities_admin_panel' %}'">Anuluj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}