<div class="admin-panel-header-position">
    <h4 class="mb-0 pb-2 fw-bold text-navy">
        Użytkownik | {{ users.user.username }}
    </h4>
    <input type=button class="btn btn-register ms-auto" value="Powrót"
           onClick="javascript:history.go(-1);">
</div>
<h6 class="form-label pt-3 text-start fw-bold">
    Nazwa użytkownika
</h6>
{{ users.user.username }}
<h6 class="form-label pt-3 text-start fw-bold">
    Imię i nazwisko
</h6>
{{ users.user.first_name }} {{ users.user.last_name }}
<h6 class="form-label pt-3 text-start fw-bold">
    Adres e-mail
</h6>
{{ users.user.email }}
<h6 class="form-label pt-3 text-start fw-bold">
    Czy użytkownik jest aktywny?
</h6>
{% if  users.user.is_active %}
    Tak
{% else %}
    Nie
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Czy może być autorem?
</h6>
{% if  users.can_be_author %}
    Tak
{% else %}
    Nie
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Zdjęcie profilowe
</h6>
<img src="/images/{{ users.profile_pic }}" alt="User Img" class="img-author-admin admin-panel-post-bg rounded-circle shadow my-2">
<h6 class="form-label pt-3 text-start fw-bold">
    Biogram
</h6>
{{ users.bio }}
<h6 class="form-label pt-3 text-start fw-bold">
    Numer telefonu
</h6>
{{ users.phone_number }}
<h6 class="form-label pt-3 text-start fw-bold">
    Płeć
</h6>
{{ users.get_gender_display }}
<h6 class="form-label pt-3 text-start fw-bold">
    Biuletyn
</h6>
{% if users.newsletter %}
    Tak
{% else %}
    Nie
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Pominięte artykuły
</h6>
{% if users.miss_news %}
    Tak
{% else %}
    Nie
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Spotkania i wydarzenia
</h6>
{% if user.meetups_news %}
    Tak
{% else %}
    Nie
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Okazje z rynku aukcyjnego
</h6>
{% if users.opportunities_news %}
    Tak
{% else %}
    Nie
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Wiadomości od Banknoty
</h6>
{% if users.company_news %}
    Tak
{% else %}
    Nie
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Shot wydarzeń od Banknoty
</h6>
{% if users.replay_news %}
    Tak
{% else %}
    Nie
{% endif %}
<h6 class="form-label pt-3 text-start fw-bold">
    Informacje o rozwoju i zmianach na Banknoty
</h6>
{% if  users.development_news %}
    Tak
{% else %}
    Nie
{% endif %}
<div class="mb-4"></div>