{% extends 'base.html' %}

{% block title %}
    Banknoty - Komentarze {{ users.user.username }}
{% endblock %}

{% block navbar %}
    {% include 'Navbar/NavbarAdmin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                {% include 'AdminTemplates/Content/Comment/Elements/Navigation.html' %}
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                {% include 'AdminTemplates/Content/Comment/Elements/Detail/CommentUser.html' %}
            </div>
        </div>
    </div>
{% endblock %}