<form class="ps-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                <p class="mb-1">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% include 'UserTemplates/UserAccount/Author/Elements/Forms/EditAuthor/Bio.html' %}
    {% include 'UserTemplates/UserAccount/Author/Elements/Forms/EditAuthor/ProfileImg.html' %}
    {% include 'UserTemplates/UserAccount/Author/Elements/Forms/EditAuthor/AuthorURL.html' %}
    {% include 'UserTemplates/UserAccount/Author/Elements/Forms/EditAuthor/AuthorQuote.html' %}
    {% include 'UserTemplates/UserAccount/Author/Elements/Forms/EditAuthor/Function.html' %}
    {% include 'UserTemplates/UserAccount/Author/Elements/Forms/EditAuthor/PinterestURL.html' %}
    {% include 'UserTemplates/UserAccount/Author/Elements/Forms/EditAuthor/FacebookURL.html' %}
    {% include 'UserTemplates/UserAccount/Author/Elements/Forms/EditAuthor/TwitterURL.html' %}
    {% include 'UserTemplates/UserAccount/Author/Elements/Forms/EditAuthor/InstagramURL.html' %}
    <button class="d-flex justify-content-center btn btn-register px-4 mt-4 my-2 mx-auto" type="submit">
        Zostań autorem
    </button>
</form>