{% extends 'base.html' %}

{% block title %}
    Banknoty - Podgląd {{ social_account.user }}
{% endblock %}

{% block navbar %}
    {% include 'NavbarAdmin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'social_account_add' %}'" style="text-align: left; display: block;">
                        <i class="fa-regular fa-user me-2"></i>
                        Stworzenie konta społecznościowego
                    </button>
                    <button class="btn btn-list-active btn-list mt-2 mb-1" onclick="location.href='{% url 'social_account_admin_panel' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-clipboard-list me-2"></i>
                        Zarządzanie kontami społecznościowymi
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <div style="display: flex; align-items: center;">
                    <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                        {{ social_account.user | capfirst }}
                    </h4>
                    <input type=button  class="btn btn-register ms-auto" value="Powrót" onClick="javascript:history.go(-1);">
                </div>
                <h6 class="form-label pt-3 text-start fw-bold">
                    Użytkownik
                </h6>
                {{ social_account.user }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Dostawca usługi
                </h6>
                {{ social_account.provider }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    UID
                </h6>
                {{ social_account.uid }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Dodatkowe dane
                </h6>
                {{ social_account.extra_data }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Ostatnie logowanie
                </h6>
                {{ social_account.last_login }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Data dołączenia
                </h6>
                {{ social_account.date_joined }}
                <div class="mb-4"></div>
            </div>
        </div>
    </div>
{% endblock %}