<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Kategoria</th>
        <th scope="col">Opis</th>
        <th scope="col">Liczba postów</th>
        <th scope="col">Podgląd</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for category in page_obj %}
        <tr>
            <td>
                <a class="admin_panel_link"
                   href="{% url 'category_post_in_category_panel_detail_admin_panel' category.pk %}">
                    {{ category.name|truncatewords:6 }}
                </a>
            </td>
            <td>
                <a class="admin_panel_link"
                   href="{% url 'category_post_in_category_panel_detail_admin_panel' category.pk %}">
                    {{ category.description|truncatewords:8 }}
                </a>
            </td>
            <td>
                <a class="admin_panel_link"
                   href="{% url 'category_post_in_category_panel_detail_admin_panel' category.pk %}">
                    {{ category.blog_set.count }}
                </a>
            </td>
            <td>
                <a class="admin_panel_edit_link"
                   href="{% url 'category_post_in_category_panel_detail_admin_panel' category.pk %}">
                    Podgląd
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>