{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Ustawienia - Moje artykuły
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="bg-body-tertiary">
        <div class="px-3 div_over_div text-white" id="bottom_edit_profile_page">
            <h3 class="ps-5 ms-5 bottom_edit_profile_page_text">Ustawienia</h3>
        </div>
        <div class="px-3 div_over_div" id="top_edit_profile_page">
            <div class="container" style="transform: translate(0, -80px)">
                <div class="row gx-5 p-0 ">
                    <div class="col-12 col-lg-4 px-sm-5 px-lg-0">
                        <div class="p-3 bg-white rounded-top-3 text-center shadow">
                            <img class="img rounded-circle shadow mt-3 mb-1" style="aspect-ratio: 1/1 !important; object-fit: cover; object-position: center;" src="{{ user.user.profile_pic.url }}" >
                            <h4 class="pt-2 mb-0 text-capitalize" style="color: navy">
                                {% if user.first_name and user.last_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% elif user.first_name %}
                                    {{ user.first_name }}
                                {% elif user.last_name %}
                                    {{ user.last_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            </h4>
                            <small class="pt-1" style="color: rgba(0, 0, 128, 0.5); overflow-wrap: break-word; word-wrap: break-word;">
                                {{ user.email }}
                            </small>
                            <h6 class="text-capitalize fw-semibold mb-0 ms-4 pt-4 text-start" style="color:navy;">
                                Konto
                            </h6>
                            <nav class="nav flex-column text-start mx-1 px-3">
                                <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'edit_profile' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-circle-user me-2"></i>
                                    Dane osobiste
                                </button>
                                <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'edit_security_page' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-shield-halved me-2"></i>
                                    Zabezpieczenia
                                </button>
                                <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'notifications' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-envelope-open-text me-2"></i>
                                    Powiadomienia
                                </button>
                                <button class="btn btn-list btn-list my-1" href="#" style="text-align: left; ">
                                    <i class="fa-solid fa-sliders me-2"></i>
                                    Preferencje
                                </button>
                            </nav>
                            <h6 class="text-capitalize fw-semibold mb-0 ms-4 pt-3 text-start" style="color:navy;">
                                Autor
                            </h6>
                            <nav class="nav flex-column text-start mx-1 px-3">
                                {% if user.author %}
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'edit_author' %}'" style="text-align: left; ">
                                        <i class="fa-solid fa-id-card me-2"></i>
                                        Strona autora
                                    </button>
                                    <button class="btn btn-list btn-list-active mt-2 mb-1" onclick="location.href='{% url 'my_posts' %}'" style="text-align: left; ">
                                        <i class="fa-regular fa-newspaper me-2"></i>
                                        Moje artykuły
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'my_posts_create' %}'"  style="text-align: left; ">
                                        <i class="fa-solid fa-circle-plus me-2"></i>
                                        Dodaj artykuł
                                    </button>
                                {% else %}
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'article_author_form' %}'" style="text-align: left; ">
                                        <i class="fa-solid fa-user-pen me-2"></i>
                                        Zostań autorem
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'article_author_history' %}'" style="text-align: left; ">
                                        <i class="fa-regular fa-folder-open me-2"></i>
                                        Historia aplikacji
                                    </button>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                    <div class="col-0 col-lg-8 px-sm-5 px-lg-4 pt-5 pt-lg-0">
                        <div class="p-3 bg-white rounded-top-3 shadow">
                            <div style="display: flex; color: navy; align-items: center;" class="pt-2 ps-4 mb-0 fw-bold">
                                <h4 class="m-0 me-3 fw-bold" style="color: navy">
                                    {{ post }}
                                </h4>
                                <input type=button  class="btn btn-register ms-auto" value="Powrót" onClick="javascript:history.go(-1);">
                            </div>
                            <div class="px-4 mb-4">
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Autor
                                </h6>
                                {% if post.author.user.first_name and post.author.user.last_name %}
                                    {{ post.author.user.first_name }} {{ post.author.user.last_name }}
                                {% elif post.author.user.first_name %}
                                    {{ post.author.user.first_name }}
                                {% elif post.author.user.last_name %}
                                    {{ post.author.user.last_name }}
                                {% else %}
                                    {{ post.author.user.username }}
                                {% endif %}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Tytuł
                                </h6>
                                {{ post.title }}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Treść
                                </h6>
                                <div class="card-text card-title">
                                        <div>
                                            {{ post.content | safe }}
                                        </div>
                                    </div>
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Wstęp
                                </h6>
                                {{ post.introduction }}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Tło postu
                                </h6>
                                <img src="/images/{{ post.background }}" style="min-width: 120px; min-height: 120px" class="card-photo shadow rounded-1">
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Kategorie
                                </h6>
                                <table class="table mb-0">
                                    <tbody>
                                        {% for newsletter in post.category.all %}
                                            <tr>
                                                <td> {{ newsletter.name}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Czy wyróżnic post?
                                </h6>
                                {% if  post.favorite %}
                                    Tak
                                {% else %}
                                    Nie
                                {% endif %}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Komentarze
                                </h6>
                                {% if comments %}
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">Treść</th>
                                                <th scope="col">Autor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for comment in comments %}
                                                <tr>
                                                    <td>{{ comment.content }}</td>
                                                    <td>{{ comment.author }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    Brak komentarzy
                                {% endif %}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Data utworzenia
                                </h6>
                                {{ post.date_posted }}
                                <h6 class="form-label pt-3 text-start fw-bold">
                                    Data ostatniej edycji
                                </h6>
                                {{ post.date_edited }}
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer_members.html' %}
            </div>
        </div>
    </div>
{% endblock %}
