{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Ustawienia - Banknoty
{% endblock %}

{% block navbar %}
    {% include 'Navbar.html' %}
{% endblock %}

{% block content %}
    <div class="bg-body-tertiary">
        <div class="px-3 div_over_div text-white" id="bottom_edit_profile_page">
            <h3 class="ps-5 ms-5 bottom_edit_profile_page_text">Ustawienia</h3>
        </div>
        <div class="px-3 div_over_div" id="top_edit_profile_page">
            <div class="container" style="transform: translate(0, -80px)">
                <div class="row gx-5 p-0 ">
                    <div class="col-12 col-lg-4 px-sm-5 px-lg-0">
                        <div class="p-3 bg-white rounded-top-3 text-center shadow">
                            <img class="img rounded-circle shadow mt-3 mb-1" style="aspect-ratio: 1/1 !important; object-fit: cover; object-position: center;" src="{{ user.user.profile_pic.url }}" >
                            <h4 class="pt-2 mb-0 text-capitalize" style="color: navy">
                                {% if user.first_name and user.last_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% elif user.first_name %}
                                    {{ user.first_name }}
                                {% elif user.last_name %}
                                    {{ user.last_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            </h4>
                            <small class="pt-1" style="color: rgba(0, 0, 128, 0.5); overflow-wrap: break-word; word-wrap: break-word;">
                                {{ user.email }}
                            </small>
                            <h6 class="text-capitalize fw-semibold mb-0 ms-4 pt-4 text-start" style="color:navy;">
                                Konto
                            </h6>
                            <nav class="nav flex-column text-start mx-1 px-3">
                                <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'edit_profile' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-circle-user me-2"></i>
                                    Dane osobiste
                                </button>
                                <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'edit_security_page' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-shield-halved me-2"></i>
                                    Zabezpieczenia
                                </button>
                                <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'notifications' %}'" style="text-align: left; ">
                                    <i class="fa-solid fa-envelope-open-text me-2"></i>
                                    Powiadomienia
                                </button>
                                <button class="btn btn-list btn-list my-1" href="#" style="text-align: left; ">
                                    <i class="fa-solid fa-sliders me-2"></i>
                                    Preferencje
                                </button>
                            </nav>
                            <h6 class="text-capitalize fw-semibold mb-0 ms-4 pt-3 text-start" style="color:navy;">
                                Autor
                            </h6>
                            <nav class="nav flex-column text-start mx-1 px-3">
                                {% if user.author %}
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'edit_author' %}'" style="text-align: left; ">
                                        <i class="fa-solid fa-id-card me-2"></i>
                                        Strona autora
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'my_posts' %}'" style="text-align: left; ">
                                        <i class="fa-regular fa-newspaper me-2"></i>
                                        Moje artykuły
                                    </button>
                                    <button class="btn btn-list-active btn-list mt-2 mb-1" onclick="location.href='{% url 'my_posts_create' %}'" style="text-align: left; ">
                                        <i class="fa-solid fa-circle-plus me-2"></i>
                                        Dodaj artykuł
                                    </button>
                                {% else %}
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'article_author_form' %}'" style="text-align: left; ">
                                        <i class="fa-solid fa-user-pen me-2"></i>
                                        Zostań autorem
                                    </button>
                                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'article_author_history' %}'" style="text-align: left; ">
                                        <i class="fa-regular fa-folder-open me-2"></i>
                                        Historia aplikacji
                                    </button>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                    <div class="col-0 col-lg-8 px-sm-5 px-lg-4 pt-5 pt-lg-0">
                        <div class="p-3 bg-white rounded-top-3 shadow">
                            <h4 class="pt-2 ps-4 mb-0 fw-bold" style="color: navy">
                                Dodaj artykułu
                            </h4>
                            <form class="ps-4" method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                <h6 class="form-label form-label-required pt-3 text-start fw-bold">
                                    {{ form.title.label }}
                                </h6>
                                <input class="form-control {% if form.title.value and not form.is_bound %}is-not-submit{% endif %} {% if form.title.errors %}is-invalid{% endif %} {% if form.title.value and not form.title.errors and form.is_bound %}is-valid{% endif %}" type="text" id="id_title" name="title" value="{{ form.title.value|default:'' }}">
                                {% if form.title.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.title.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label form-label-required pt-3 text-start fw-bold">
                                    {{ form.content.label }}
                                </h6>
                                {{ form.media }}
                                {{ form.content}}
                                {% if form.content.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.content.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label form-label-required pt-3 mb-0 text-start fw-bold">
                                    {{ form.introduction.label }}
                                </h6>
                                <p class="text-start message m-0 mb-2 text-muted fw-light">
                                    {{ form.introduction.help_text }}
                                </p>
                                <textarea class="form-control {% if form.introduction.value and not form.is_bound %}is-not-submit{% endif %} {% if form.introduction.errors %}is-invalid{% endif %} {% if form.introduction.value and not form.bio.errors and form.is_bound %}is-valid{% endif %}" id="id_introduction" name="introduction" rows="5" cols="50" style="resize: none" >{{ form.introduction.value|default:'' }}</textarea>
                                {% if form.introduction.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.introduction.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label form-label-required pt-3 text-start fw-bold">
                                    {{ form.background.label }}
                                </h6>
                                <input type="file" class="form-control {% if form.background.value and not form.is_bound %}is-not-submit{% endif %} {% if form.background.errors %}is-invalid{% endif %} {% if form.background.value and not form.background.errors and form.is_bound %}is-valid{% endif %}" id="id_profile_pic" name="background" accept="image/*">
                                {% if form.background.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.background.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h6 class="form-label form-label-required pt-3 mb-0 text-start fw-bold">
                                    {{ form.category.label }}
                                </h6>
                                <p class="text-start message m-0 mb-2 text-muted fw-light">
                                    {{ form.category.help_text }}
                                </p>
                                <select multiple id="id_category" name="category" class="form-control {% if form.category.value and not form.is_bound %}is-not-submit{% endif %} {% if form.category.errors %}is-invalid{% endif %} {% if form.category.value and not form.category.errors and form.is_bound %}is-valid{% endif %}">
                                    {% for option in form.category.field.choices %}
                                        <option value="{{ option.0 }}" {% if form.category.value and option.0|stringformat:"s" in form.category.value|join:";" %}selected{% endif %}>{{ option.1 }}</option>
                                    {% endfor %}
                                </select>
                                {% if form.category.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.category.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <button class="d-flex justify-content-center btn btn-register px-4 mt-4 my-2 mx-auto" type="submit">Stwórz</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% include 'Footers/FooterMembers.html' %}
            </div>
        </div>
    </div>
{% endblock %}
