{% extends 'base.html' %}

{% block title %}
    Potwierdzenie zresetowania hasła - Banknoty
{% endblock %}

{% block content %}
    {% load static %}
    <div class="bg-body-tertiary">
        <section class="container d-flex flex-column ">
            <div class="align-items-center justify-content-center g-0 min-vh-100 row">
                <div class="py-8 py-xl-0 col-lg-5 col-md-5">
                    <div class="card border border-0 shadow">
                        <div class="p-5 card-body">
                            <div class="mb-4">
                                <a href="/">
                                    <img src="{% static 'images/logo-no-background.png' %}" alt="" class="mb-4"
                                         style="max-height: 72px;">
                                </a>
                                <h2 class="mb-2 fw-bold">Potwierdzenie zresetowania hasła zostało wysłane.</h2>
                                <h6 class="message mb-0 fw-light">
                                    <p>
                                        Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została
                                        wysłana. Niebawem powinna się pojawić na twoim koncie mailowy.
                                    </p>
                                    <p>
                                        W przypadku nieotrzymania wiadomości e-mail: upewnij się, czy adres wprowadzony
                                        jest zgodny z tym, na jakie masz konto i sprawdź zawartość folderu SPAM na swoim
                                        koncie mailowy.
                                    </p>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}