{% extends 'base.html' %}

{% block title %}
    Zaloguj się - Banknoty
{% endblock %}

{% block content %}
    {% load static %}
    <div class="bg-body-tertiary">
    <section class="container d-flex flex-column ">
        <div class="align-items-center justify-content-center g-0 min-vh-100 row">
            <div class="py-8 py-xl-0 col-lg-5 col-md-5">
                <div class="card border border-0 shadow">
                    <div class="p-5 card-body">
                        <div class="mb-4">
                            <a href="/">
                                <img src="{% static 'images/logo-no-background.png' %}" alt="" class="mb-4" style="max-height: 72px;">
                            </a>
                            <h2 class="mb-2 fw-bold">Nie pamiętasz hasła?</h2>
                        </div>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <h6 class="form-label mt-4 text-start fw-bold">{{form.email.label}}</h6>
                            <input type="text" name="email" class="form-control" autofocus>
                            <div class="d-grid gap-2 mt-4 mb-2">
                                <button class="btn btn-register" type="submit">Zresetuj hasło</button>
                            </div>
                        </form>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger fw-light px-2 py-2 my-3" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}