{% extends 'base.html' %}

{% block title %}
    Resetowanie hasła zakończone - Banknoty
{% endblock %}

{% block content %}
    {% load static %}
    <div class="bg-body-tertiary">
    <section class="container d-flex flex-column ">
        <div class="align-items-center justify-content-center g-0 min-vh-100 row">
            <div class="py-8 py-xl-0 col-lg-5 col-md-5">
                <div class="card border border-0 shadow">
                    <div class="p-5 card-body">
                        <div class="mb-4">
                            <a href="/">
                                <img src="{% static 'images/logo-no-background.png' %}" alt="" class="mb-4" style="max-height: 72px;">
                            </a>
                            <h2 class="mb-2 fw-bold">Resetowanie hasła zakończone.</h2>
                            <h6 class="message mb-0 fw-light">
                                <p>
                                    Twoje hasło zostało zmienione. Możesz się teraz zalogować.
                                </p>
                                <a class="already_link fw-light" href="{% url 'login' %}">
                                    Zaloguj się
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}