{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Stworzenie wiadomości o rozwoju i zmianach na Banknoty
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <nav class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list-active btn-list mt-2 mb-1" onclick="location.href='{% url 'development_news_add' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-comment me-2"></i>
                        Stworzenie wiadomości o rozwoju i zmianach na Banknoty
                    </button>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'development_news_admin_panel' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-list me-2"></i>
                        Zarządzanie wiadmościami o rozwoju i zmianach na Banknoty
                    </button>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'development_news_user_manage_admin_panel' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-list me-2"></i>
                        Zarządzanie subskrybcjami wiadomości rozwoju i zmianach na Banknoty
                    </button>
                </nav>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                    Stworzenie wiadomości o rozwoju i zmianach na Banknoty
                </h4>
                {% include 'newsletters_form.html' %}
            </div>
        </div>
    </div>
{% endblock %}