{% extends 'base.html' %}

<script src="https://kit.fontawesome.com/006c2e7373.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% block content %}
    {% load static %}
    <div class="bg-body-tertiary">
        <div class="container-fluid mt-3">
            <img class="my-5 mx-auto img-fluid d-block mail-logo" src="{{ image_url }}" alt="Logo">
        </div>
        <div class="container-fluid">
            <h4 class="fw-bold text-center p-0 m-0 text-navy">Potwierdzenie wiadomości</h4>
        </div>
        <div class="container mt-5">
            <div class="container px-5">
                <h6 class="fw-bold text-start text-navy">
                    Cześć {{ name }}. Dostaliśmy od Ciebie wiadomość. Oto jej kopia.
                </h6>
                <p class="text-muted">
                    Przesyłamy Ci to potwierdzenie wysłania wiadomości w naszym formularzu kontaktowym.
                    Przyślemy Ci odpowiedź na nią w przeciągu jednego dnia.
                </p>
                <p>
                    Treść wiadomości:
                </p>
                <p>
                    {{ message }}
                </p>
                <h6 class="fw-bold text-end text-navy">
                    Z wyrazami szacunku
                </h6>
                <h6 class="fw-bold text-end text-navy">
                    Banknoty
                </h6>
            </div>
        </div>
    </div>
{% endblock %}

{% block foo %}
    <div class="bg-body-tertiary">
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 mx-auto justify-content-start d-flex align-items-center">
                    <img class="mx-sm-auto mx-auto mx-lg-0 img-fluid d-block article-author-img" src="{{ image_url }}"
                         alt="Logo">
                </div>
                <ul class="nav col-sm-12 col-md-12 col-lg-10 mx-auto justify-content-center justify-content-lg-end list-unstyled d-flex">
                    <div class="text-end">
                        <ul class="nav">
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3"
                                   href="http://127.0.0.1:8000/members/myprofile/notifications/">
                                    <h5 class="fw-light my-1">
                                        Zrezygnuj z biuletynu
                                    </h5>
                                </a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="http://127.0.0.1:8000/author/all/">
                                    <h5 class="fw-light my-1">
                                        Artykuły
                                    </h5>
                                </a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="http://127.0.0.1:8000/terms_and_conditions/">
                                    <h5 class="fw-light my-1">
                                        Regulamin serwisu
                                    </h5>
                                </a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="http://127.0.0.1:8000/privacy_policy/">
                                    <h5 class="fw-light my-1">
                                        Polityka prywatności
                                    </h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </footer>
            <hr class="mt-4 text-sm">
            <footer class="d-flex flex-wrap justify-content-between align-items-center pt-2 pb-4">
                <div class="col-12 col-md-6 mx-auto d-flex align-items-center justify-content-center justify-content-md-start">
                    <span class="mb-3 mb-md-0 fw-light text-navy">
                        © 2023 Banknoty. Wszelkie prawa zastrzeżone.
                    </span>
                </div>
                <ul class="nav col-12 col-sm-12 col-md-6 px-sm-2 px-md-0 mx-auto justify-content-center justify-content-md-end list-unstyled d-flex">
                    <div class=" text-end">
                        <a href="https://www.facebook.com" target="_blank"
                           class="btn btn-socialmedia btn-facebook rounded-circle">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.twitter.com" target="_blank"
                           class="btn btn-socialmedia btn-twitter rounded-circle">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com" target="_blank"
                           class="btn btn-socialmedia btn-linkedin rounded-circle">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://www.github.com" target="_blank"
                           class="btn btn-socialmedia btn-github rounded-circle">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </ul>
            </footer>
        </div>
    </div>
{% endblock %}
