{% extends 'base.html' %}

{% block title %}
    Banknoty - Kontakt
{% endblock %}

{% load static %}

{% block navbar %}
    {% include 'Navbar.html' %}
{% endblock %}

{% block content %}
    <div id="alert-container"></div>
    <div class="bg-body-tertiary pt-0 px-5">
        <div class="container text-center px-0 px-xl-5">
            <div class="container text-center pb-5 pt-0">
                <div class="row">
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
                    <div class="col">
                        <h1 class="pt-2" style="color: navy">Zapraszamy do kontaktu!</h1>
                        <p class="text-muted pb-3">
                            Masz pytania, sugestie lub chcesz podzielić się swoimi pomysłami? Jesteśmy tu, aby Ci pomóc.
                        </p>
                        <script>
                            $(document).ready(function() {
                                $('#contact-form').submit(function(event) {
                                    event.preventDefault();

                                    conts form = $(this);
                                    const submitButton = $('#submit-button-email');

                                    submitButton.attr('disabled', 'disabled');

                                    $.ajax({
                                        url: form.attr('action'),
                                        type: form.attr('method'),
                                        data: form.serialize(),

                                        success: function(response) {
                                            grecaptcha.reset();
                                            form[0].reset();

                                            submitButton.removeAttr('disabled');

                                        },

                                        error: function(response) {
                                            submitButton.removeAttr('disabled');
                                        }
                                    });
                                });
                            });
                        </script>
                        <form method="post" id="contact-form" class="px-5">
                            {% csrf_token %}
                            <h6 class="form-label pt-2 text-start fw-bold">
                                {{ form.name.label }}
                                </h6>
                            {{ form.name }}
                            {% if form.name.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <p class="mb-1">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <h6 class="form-label pt-3 text-start fw-bold">
                                {{ form.email.label }}
                            </h6>
                            {{ form.email }}
                            <h6 class="form-label pt-3 text-start fw-bold">
                                    {{ form.message.label }}
                            </h6>
                            {{ form.message }}
                            {{ form.captcha }}
                            {% if form.captcha.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.captcha.errors %}
                                        <p class="mb-1">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <button class="d-flex justify-content-center btn btn-register px-5 mt-4 my-2 mx-auto" id="submit-button-email" type="submit">Wyślij</button>
                        </form>
                        <p class="text-muted pt-3 pb-1">
                            Zazwyczaj odpowiadamy w przeciągu jednego dnia.
                        </p>
                    </div>
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foo %}
    {% include 'Footer.html' %}
{% endblock %}
