<div class="col-12 ps-0 ps-sm-1 ps-md-2 ps-lg-3 text-start">
    <small class="fw-bold text-capitalize">
        <a class="first-post no-text-decoration"
           href="{% url 'author-detail' random_posts.author.pk %}">
            {% if random_posts.author.user.first_name and random_posts.author.user.last_name %}
                {{ random_posts.author.user.first_name }}
                {{ random_posts.author.user.last_name }}
            {% elif random_posts.author.user.first_name %}
                {{ random_posts.author.user.first_name }}
            {% elif random_posts.author.user.last_name %}
                {{ random_posts.author.user.last_name }}
            {% else %}
                {{ random_posts.author.user.username }}
            {% endif %}
        </a>
    </small>
</div>