<h6 class="form-label pt-3 text-start fw-bold">
    {{ edit_password_form.old_password.label }}
</h6>
<input class="form-control {% if edit_password_form.old_password.value and not edit_password_form.is_bound %}is-not-submit{% endif %} {% if edit_password_form.old_password.errors %}is-invalid{% endif %} {% if edit_password_form.old_password.value and not edit_password_form.old_password.errors and edit_password_form.is_bound %}is-valid{% endif %}"
       type="password" id="id_old_password" name="old_password"
       value="{{ edit_password_form.old_password.value|default:'' }}">
{% if edit_password_form.old_password.errors %}
    <div class="invalid-feedback">
        {% for error in edit_password_form.old_password.errors %}
            <p class="mb-1">
                {{ error }}
            </p>
        {% endfor %}
    </div>
{% endif %}