{% extends 'base.html' %}

{% block title %}
    Banknoty - {{ posts.title }}
{% endblock %}

{% load static %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div id="alert-container"></div>
    <div class="bg-body-tertiary ">
        <div class="container text-center pb-3 pt-4 px-5 px-sm-3 px-md-5">
            <div class="container text-center">
                <div class="row">
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
                    <div class="col p-0">
                        <div class="py-2 mx-5 px-5 text-center">
                            {% for category in posts.category.all %}
                                <a style="text-decoration: none !important;" href="{% url 'category-detail' category.id %}">
                                    <span class="text-muted text-black badge rounded-pill mt-2 px-3 py-2 fw-light" style="background-color: #eff1f3">
                                        {{ category.name }}
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                        <h1 class="text-center py-3" style="color:navy;"> {{ posts.title }}</h1>
                        <div class="row pb-4">
                            <div class="col">
                                <div class="row pe-2">
                                    <div class="d-flex justify-content-end p-0">
                                        <a href="{% url 'author-detail' posts.author.pk %}">
                                            <img class="card-photo rounded-circle p-0" src="{{ posts.author.profile_pic.url }}" alt="Author article profile picture" style="height: 48px; width: 48px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col my-auto ps-2">
                                <div class="row text-start">
                                    <small class="ps-2 fw-bold text-capitalize">
                                        <a class="first-post" style="text-decoration: none" href="{% url 'author-detail' posts.author.pk %}">
                                            {% if posts.author.user.first_name and posts.author.user.last_name %}
                                                    {{ posts.author.user.first_name }} {{ posts.author.user.last_name }}
                                                {% elif posts.author.user.first_name %}
                                                    {{ posts.author.user.first_name }}
                                                {% elif posts.author.user.last_name %}
                                                    {{ posts.author.user.last_name }}
                                                {% else %}
                                                    {{ posts.author.user.username }}
                                            {% endif %}
                                        </a>
                                    </small>
                                </div>
                                <div class="row text-start">
                                    <small class="ps-2 fw-light text-capitalize" style="color: rgba(0,0,0, .6)">
                                        {{ posts.date_posted | date:"j E Y" }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
                </div>
                <div class="row">
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 d-none d-lg-block p-0 "></div>
                    <div class="col pt-3 p-0">
                        <div class="card-title card-text" style="text-align: center; color: #000080;">
                            <div style="display: inline-block; text-align: left; max-width: 100%;">
                                {{ posts.content | safe }}
                            </div>
                            <hr class="mt-5 text-sm">
                        </div>
                    </div>
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
                </div>
                <div class="row">
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 d-none d-lg-block p-0 "></div>
                    <div class="col p-0">
                        <div class="card-title card-text" style="text-align: center; color: #000080;">
                            <footer class="d-flex flex-wrap justify-content-between align-items-center pt-2 pb-0">
                                <div class="col-md-5 mx-auto d-flex align-items-center">
                                    <h5 class="mb-3 mb-md-0 fw-light" style="color: navy">Podziel się tym artykułem</h5>
                                </div>
                                <ul class="nav col-sm-12 col-md-7 px-sm-2 px-md-0 mx-auto justify-content-sm-center justify-content-md-end list-unstyled d-flex">
                                    <div class="text-end">
                                        <button class="btn btn-log me-2" id="copy-link-btn" style="min-height: 42px;">
                                            <i class="fa-regular fa-copy pe-2"></i>Kopiuj link
                                        </button>
                                        <button class="btn btn-socialmedia btn-bookmark rounded-circle" id="add-bookmark-btn">
                                            <i class="fa-solid fa-bookmark"></i>
                                        </button>
                                        <button onclick="shareOnFacebook({{posts.id}})" class="btn btn-socialmedia btn-facebook rounded-circle">
                                            <i class="fab fa-facebook"></i>
                                        </button>
                                        <button onclick="shareOnTwitter({{posts.id}})" class="btn btn-socialmedia btn-twitter rounded-circle">
                                            <i class="fab fa-twitter"></i>
                                        </button>
                                        <button onclick="shareOnLinkedIn({{posts.id}})" class="btn btn-socialmedia btn-linkedin rounded-circle">
                                            <i class="fab fa-linkedin"></i>
                                        </button>
                                        <button onclick="shareOnPinterest({{posts.id}})" class="btn btn-socialmedia btn-pinterest rounded-circle">
                                            <i class="fab fa-pinterest"></i>
                                        </button>
                                    </div>
                                </ul>
                            </footer>
                        </div>
                    </div>
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
                </div>
                <div class="row">
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 d-none d-lg-block p-0 "></div>
                    <div class="col p-0">
                        <div class="card-title card-text pt-5 mt-5" style="text-align: start; color: navy;">
                            <h2 class="fst-italic text-center text-md-start" style="font-family: 'Mr De Haviland', cursive;">O autorze</h2>
                        </div>
                        <div class="row pt-3">
                            <div class="col-12 pb-3 pb-sm-0 col-sm-3 col-md-2 col-xl-2">
                                <a class="card-link" href="{% url 'author-detail' posts.author.pk %}">
                                    <img class="card-photo rounded-circle" src="{{ posts.author.profile_pic.url }}" alt="Author article profile picture" style="height: 96px; width: 96px">
                                </a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-xl-10 ps-auto ps-sm-0 ps-md-3 ps-lg-0">
                                <div class="row">
                                    <div class="col-12 ps-0 ps-sm-3 ps-md-3 ps-lg-3 ps-xl-3">
                                        <small class="fw-bold">
                                            <a class="first-post" style="text-decoration: none;" href="{% url 'author-detail' posts.author.pk %}">
                                                <h4 class="first-post text-capitalize text-center text-sm-start">
                                                    {% if posts.author.user.first_name and posts.author.user.last_name %}
                                                        {{ posts.author.user.first_name }} {{ posts.author.user.last_name }}
                                                    {% elif posts.author.user.first_name %}
                                                        {{ posts.author.user.first_name }}
                                                    {% elif posts.author.user.last_name %}
                                                        {{ posts.author.user.last_name }}
                                                    {% else %}
                                                        {{ posts.author.user.username }}
                                                    {% endif %}
                                                </h4>
                                            </a>
                                            <p class="text-black fw-light text-start" style="font-size: 16px">
                                                {{ posts.author.bio }}
                                            </p>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
                </div>
                <div class="row">
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 d-none d-lg-block p-0 "></div>
                    <div class="col p-0">
                        <div class="card-title card-text mt-5" style="text-align: start; color: navy;">

                            {% if request.user.is_authenticated %}
                                <h4 class="mb-4 mb-md-3 pt-4 fw-light text-center" style="color: navy">
                                    Dodaj komentarz
                                </h4>
                                <form id="comment-form" method="POST" action="{% url 'article-detail' posts.pk %}">
                                    {% csrf_token %}
                                    {{ comment_form.content }}
                                    <small id="character-counter" class="form-text text-muted"></small>
                                    <button class="d-flex justify-content-center btn btn-register px-4 my-4 mx-auto" type="submit">Skomentuj</button>
                                </form>
                            {% else %}
                                <h4 class="mb-4 mb-md-3 pt-4 fw-light text-center" style="color: black">
                                    Musisz się
                                    <a class="border-bottom show-all" style="border-bottom-width: 2px" href="{% url 'login' %}">zalogować,</a>
                                    aby móc komentować
                                </h4>
                            {% endif %}

                            <h4 id="total-comment-count" class="mb-3 mb-md-2 pt-4 fw-light text-center" style="color: navy">
                                {% if total_comments == 1 %}
                                    1 komentarz
                                {% else %}
                                    {% if 2 <= total_comments and total_comments <= 4 %}
                                        {{ total_comments }} komentarze
                                    {% else %}
                                        {{ total_comments }} komentarzy
                                    {% endif %}
                                {% endif %}
                            </h4>
                            <div id="comments-section">
                                {% if comments %}
                                    {% for comment in comments %}
                                        <div class="row py-3">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <img class="card-photo rounded-circle p-0" src="/images/{{ comment.author.user.profile_pic }}" alt="Author comment profile picture" style="height: 64px; width: 64px">
                                                    </div>
                                                    <div class="col-11 ps-5 ps-lg-4 my-auto">
                                                        <h5 class="text-start fw-light" style="text-decoration: none; color: black" href="/author/5">
                                                            {% if comment.author.author.user.first_name and comment.author.author.user.last_name %}
                                                                {{ comment.author.author.user.first_name }} {{ comment.author.author.user.last_name }}
                                                            {% elif comment.author.author.user.first_name %}
                                                                {{ comment.author.author.user.first_name }}
                                                            {% elif comment.author.author.user.last_name %}
                                                                {{ comment.author.author.user.last_name }}
                                                            {% else %}
                                                                {{ comment.author }}
                                                            {% endif %}
                                                        </h5>
                                                        {% if comment.days_passed == 0 %}
                                                            Mniej niż dzień temu
                                                        {% else %}
                                                            {% if comment.days_passed == 1 %}
                                                                1 dzień temu
                                                            {% else %}
                                                                {{ comment.days_passed }} dni temu
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col fw-light">
                                                        {{ comment.content }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
                </div>
                <div class="row">
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 d-none d-lg-block p-0 "></div>
                    <div class="col p-0">
                        <div class="card-title card-text mt-5" style="text-align: start; color: navy;">
                            <hr class="mt-5 pb-2 text-sm">
                            <h5 class="mb-3 mb-md-2 fw-light text-center text-md-start" style="color: navy">Powiązane artykuły</h5>
                        </div>
                        <div class="row pt-3">
                            <div class="container">
                                <div class="row gx-5">
                                    {% for random_posts in random_posts %}
                                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 p-3 px-md-4 pb-4">
                                            <div class="shadow rounded-3 rounded-bottom-0">
                                                <div class="row p-0 rounded-3">
                                                    <div class="col rounded-3">
                                                        <a style="text-decoration: none !important;" href="{% url 'article-detail' random_posts.pk %}">
                                                            <img class="card-photo rounded-bottom-0 rounded-3" src="{{ random_posts.background.url }}" alt="{{ random_posts.title }}">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="p-3 text-start">
                                                            {% for category in random_posts.category.all %}
                                                                <a style="text-decoration: none !important;" href="{% url 'category-detail' category.id %}">
                                                                    <span class="text-muted text-black badge rounded-pill mt-2 px-3 py-2 fw-light" style="background-color: #eff1f3">
                                                                        {{ category.name }}
                                                                    </span>
                                                                </a>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="px-3 text-start">
                                                            <a style="text-decoration: none !important;" href="{% url 'article-detail' random_posts.pk %}">
                                                                <h3 class="mb-0 first-post text-start"> {{ random_posts.title }}</h3>
                                                            </a>
                                                        </div>
                                                        <div class="p-3">
                                                            <a class="card-link" href="{% url 'article-detail' random_posts.pk %}">
                                                                <h6 class="text-start fw-light" style="text-indent: 5%; color: black">{{ random_posts.introduction | safe | truncatewords:25 }}</h6>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="px-3 pb-3">
                                                        <div class="row px-3 pb-3">
                                                            <div class="col-1 col-sm-2 col-md-2 col-xl-2">
                                                                <a class="card-link" href="{% url 'author-detail' random_posts.author.pk %}">
                                                                    <img class="card-photo rounded-circle" src="{{ random_posts.author.profile_pic.url }}" alt="Author article profile picture" style="height: 48px; width: 48px">
                                                                </a>
                                                            </div>
                                                            <div class="col-11 col-sm-10 col-md-10 col-xl-10">
                                                                <div class="row ps-5 ps-sm-4 ps-md-3 ps-lg-2 ps-xl-2">
                                                                    <div class="col-12 ps-0 ps-sm-1 ps-md-2 ps-lg-3 text-start">
                                                                        <small class="fw-bold text-capitalize">
                                                                            <a class="first-post" style="text-decoration: none" href="{% url 'author-detail' random_posts.author.pk %}">
                                                                                {% if random_posts.author.user.first_name and random_posts.author.user.last_name %}
                                                                                        {{ random_posts.author.user.first_name }} {{ random_posts.author.user.last_name }}
                                                                                    {% elif random_posts.author.user.first_name %}
                                                                                        {{ random_posts.author.user.first_name }}
                                                                                    {% elif random_posts.author.user.last_name %}
                                                                                        {{ random_posts.author.user.last_name }}
                                                                                    {% else %}
                                                                                        {{ random_posts.author.user.username }}
                                                                                {% endif %}
                                                                            </a>
                                                                        </small>
                                                                    </div>
                                                                    <div class="col-12 ps-0 ps-sm-1 ps-md-2 ps-lg-3 text-start">
                                                                        <small class="fw-light text-capitalize" style="color: rgba(0,0,0, .6)">{{ random_posts.date_posted | date:"j E Y" }}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-0 col-sm-0 col-md-0 col-lg-1 col-xl-2 p-0"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block newsletter %}
    <div class="bg-body-tertiary pt-4 px-4 pb-4">
        <div class="container shadow rounded" style="background-color: rgb(25, 138, 80)">
            <div class="container p-5">
                <div class="row">
                    <div class="col-12 col-lg-6 text-start text-white">
                        <h5 class="fw-bold">Dołącz do naszego biuletynu</h5>
                        <h6 class="fw-light">Raz w tygodniu wyślemy Ci przyjemną wiadomość, która dostarczy wartościowe informacje i ciekawe artykuły na temat naszej pasji. Bez zbędnego spamu.</h6>
                    </div>
                    <div class="col-12 col-lg-6 pt-3 pt-lg-0  align-items-center">
                        <form class="" method="POST" id="newsletter-form">
                            <div class="input-group p-3 bg-body-tertiary rounded shadow my-auto">
                                {% csrf_token %}
                                {{ form.email }}
                                <button class="btn btn-register rounded px-3" type="submit">Subskrybuj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foo %}
    {% include 'footer.html' %}
{% endblock %}
