{% extends 'base.html' %}

{% block title %}
    Banknoty - Kategorie
{% endblock %}

{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% if categories %}
        <div id="alert-container"></div>
        <div class="bg-body-tertiary">
            <div class="container text-center pb-5 px-5 pt-3">
                <h1 class="text-center pt-2 pb-4" style="color: navy">Kategorie</h1>
                <div class="row g-5" data-masonry='{"percentPosition": true }'>
                    {% for category in categories %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 col-sm-6 col-lg-4">
                                <a class="sub-item cateogry-list" href="{% url 'category-detail' category.id %}">
                                    <div class="p-3 shadow" style="background-color: navy !important;">
                                        <h2>{{ category.name }}</h2>
                                        <h6 style="color: rgb(248, 249, 250)">{{ category.description }}</h6>
                                    </div>
                                </a>
                            </div>
                        {% elif forloop.counter|divisibleby:5 %}
                            <div class="col-12 col-sm-6 col-lg-4">
                                <a class="sub-item first-post" href="{% url 'category-detail' category.id %}">
                                    <div class="p-3 border" style="border-color: #fdc500 !important;">
                                        <h2>{{ category.name }}</h2>
                                        <h6 class="text-black">{{ category.description }}</h6>
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 col-sm-6 col-lg-4">
                                <a class="sub-item first-post" href="{% url 'category-detail' category.id %}">
                                    <div class="p-3 border" style="border-color: navy !important;">
                                        <h2>{{ category.name }}</h2>
                                        <h6 class="text-black">{{ category.description }}</h6>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <img src="{% static 'images/404_Error_Page.svg' %}">
    {% endif %}
{% endblock %}

{% block newsletter %}
    {% if categories %}
        <div class="bg-body-tertiary pt-4 px-4 pb-4">
        <div class="container shadow rounded" style="background-color: rgb(25, 138, 80)">
            <div class="container p-5">
                <div class="row">
                    <div class="col-12 col-lg-6 text-start text-white">
                        <h5 class="fw-bold">Dołącz do naszego biuletynu</h5>
                        <h6 class="fw-light">Raz w tygodniu wyślemy Ci przyjemną wiadomość, która dostarczy wartościowe informacje i ciekawe artykuły na temat naszej pasji. Bez zbędnego spamu.</h6>
                    </div>
                    <div class="col-12 col-lg-6 pt-3 pt-lg-0  align-items-center">
                        <form class="" method="POST" id="newsletter-form">
                            <div class="input-group p-3 bg-body-tertiary rounded shadow my-auto">
                                {% csrf_token %}
                                {{ form.email }}
                                <button class="btn btn-register rounded px-3" type="submit">Subskrybuj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block foo %}
    {% include 'footer.html' %}
{% endblock %}