{% extends 'base.html' %}

{% load static %}

{% block title %}
    Banknoty
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div id="alert-container"></div>
    {% if page_obj.number == 1 %}
        <div class="bg-body-tertiary ">
            {% for post in blog_first %}
                <div class="container text-cetner pt-4 pb-5 px-4 px-sm-0">
                    <div class="container text-center">
                        <div class="row align-middle">
                            <div class="col-12 col-md-6 my-auto order-last order-md-first">
                                <div class="row">
                                    <div class="col text-start">
                                        <div class="row">
                                            <div class="col-1 col-sm-2 col-md-2 col-xl-1">
                                                <a class="card-link" href="{% url 'author-detail' post.author.user.pk %}">
                                                    <img class="card-photo rounded-circle" src="{{ post.author.profile_pic.url }}" alt="Author article profile picture" style="height: 48px; width: 48px">
                                                </a>
                                            </div>
                                            <div class="col-11 col-sm-10 col-md-10 col-xl-11 ps-5 ps-sm-0 ps-md-3 ps-lg-0 ps-xl-3">
                                                <div class="row">
                                                    <div class="col-12 ps-0 ps-sm-1 ps-md-2 ps-lg-3">
                                                        <small class="fw-bold text-capitalize">
                                                            <a class=" first-post" style="text-decoration: none" href="{% url 'author-detail' post.author.user.pk %}">
                                                                {% if post.author.user.first_name and post.author.user.last_name %}
                                                                        {{ post.author.user.first_name }} {{ post.author.user.last_name }}
                                                                    {% elif post.author.user.first_name %}
                                                                        {{ post.author.user.first_name }}
                                                                    {% elif post.author.user.last_name %}
                                                                        {{ post.author.user.last_name }}
                                                                    {% else %}
                                                                        {{ post.author.user.username }}
                                                                {% endif %}
                                                            </a>
                                                        </small>
                                                    </div>
                                                    <div class="col-12 ps-0 ps-sm-1 ps-md-2 ps-lg-3">
                                                        <small class="fw-light text-capitalize" style="color: rgba(0,0,0, .6)">{{ post.date_posted | date:"j E Y" }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-3 pt-sm-3 pt-xs-3 pt-md-2">
                                    <div class="col">
                                        <a style="text-decoration: none !important;" href="{% url 'article-detail' post.pk %}">
                                            <h2 class="first-post text-start"> {{ post.title }}</h2>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a class="card-link" href="{% url 'article-detail' post.pk %}">
                                            <h6 class="text-start fw-light" style="text-indent: 5%; color: black">{{ post.introduction | safe | truncatewords:50 }} ...</h6>
                                        </a>
                                        <div class="text-start pt-2">
                                            {% for category in post.category.all %}
                                                <div class="text-start pt-3 d-inline">
                                                    <a class="" style="text-decoration: none !important;" href="{% url 'category-detail' category.id %}">
                                                        <span class="text-muted text-black badge rounded-pill px-3 py-2 mb-2 fw-light" style="background-color: #eff1f3">
                                                            {{ category.name }}
                                                        </span>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 pb-4 pb-md-0">
                                <a href="{% url 'article-detail' post.pk %}">
                                    <img class="card-photo shadow rounded-1" src="{{ post.background.url }}" alt="Article background picture">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block favorite %}
    {% if page_obj.number == 1 %}
        <div class=" text-center p-3" style="background-color: navy">
            <div class="row">
                <h2 class="col fst-italic text-white" style="font-family: 'Mr De Haviland', cursive;">
                    Zacznij od ...
                </h2>
            </div>
            <div class="row px-5 py-2">
                {% for post in favorite_blogs|slice:":4" %}
                    {% if post.favorite %}
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 py-2 py-lg-0 text-white px-3">
                            <a href="{% url 'article-detail' post.pk %}">
                                <div class="container-text p-0 bg-black">
                                    <img class="card-photo image rounded-1" src="{{ post.background.url }}" alt="...">
                                    <div class="middle">
                                      <h5 class="text">{{ post.title }}</h5>
                                        {{ mydata }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block post %}
    <div class="bg-body-tertiary pt-4 px-5">
        <div class="container px-0 px-xl-5">
            <div class="container ">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% for post in page_obj %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4 p-3 px-md-4 pb-4">
                            <div class="shadow rounded-3 rounded-bottom-0">
                                <div class="row p-0 rounded-3">
                                    <div class="col rounded-3">
                                        <a style="text-decoration: none !important;" href="{% url 'article-detail' post.pk %}">
                                            <img class="card-photo rounded-bottom-0 rounded-3" src="{{ post.background.url }}" alt="{{ post.title }}">
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="p-3 text-start">
                                            {% for category in post.category.all %}
                                                <a style="text-decoration: none !important;" href="{% url 'category-detail' category.id %}">
                                                    <span class="text-muted text-black badge rounded-pill mt-2 px-3 py-2 fw-light" style="background-color: #eff1f3">
                                                        {{ category.name }}
                                                    </span>
                                                </a>
                                            {% endfor %}
                                        </div>
                                        <div class="px-3 text-start">
                                            <a style="text-decoration: none !important;" href="{% url 'article-detail' post.pk %}">
                                                <h3 class="mb-0 first-post text-start"> {{ post.title }}</h3>
                                            </a>
                                        </div>
                                        <div class="p-3">
                                            <a class="card-link" href="{% url 'article-detail' post.pk %}">
                                                <h6 class="text-start fw-light" style="text-indent: 5%; color: black">{{ post.introduction | safe | truncatewords:25 }}</h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="px-3 pb-3">
                                        <div class="row px-3 pb-3">
                                            <div class="col-1 col-sm-2 col-md-2 col-xl-2">
                                                <a class="card-link" href="{% url 'author-detail' post.author.pk %}">
                                                    <img class="card-photo rounded-circle" src="{{ post.author.profile_pic.url }}" alt="Author article profile picture" style="height: 48px; width: 48px">
                                                </a>
                                            </div>
                                            <div class="col-11 col-sm-10 col-md-10 col-xl-10">
                                                <div class="row ps-5 ps-sm-4 ps-md-3 ps-lg-2 ps-xl-2">
                                                    <div class="col-12 ps-0 ps-sm-1 ps-md-2 ps-lg-3">
                                                        <small class="fw-bold text-capitalize">
                                                            <a class=" first-post" style="text-decoration: none" href="{% url 'author-detail' post.author.pk %}">
                                                                {% if post.author.user.first_name and post.author.user.last_name %}
                                                                        {{ post.author.user.first_name }} {{ post.author.user.last_name }}
                                                                    {% elif post.author.user.first_name %}
                                                                        {{ post.author.user.first_name }}
                                                                    {% elif post.author.user.last_name %}
                                                                        {{ post.author.user.last_name }}
                                                                    {% else %}
                                                                        {{ post.author.user.username }}
                                                                {% endif %}
                                                            </a>
                                                        </small>
                                                    </div>
                                                    <div class="col-12 ps-0 ps-sm-1 ps-md-2 ps-lg-3">
                                                        <small class="fw-light text-capitalize" style="color: rgba(0,0,0, .6)">{{ post.date_posted | date:"j E Y" }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block newsletter %}
    <div class="bg-body-tertiary pt-4 px-4 pb-4">
        <div class="container shadow rounded" style="background-color: rgb(25, 138, 80)">
            <div class="container p-5">
                <div class="row">
                    <div class="col-12 col-lg-6 text-start text-white">
                        <h5 class="fw-bold">Dołącz do naszego biuletynu</h5>
                        <h6 class="fw-light">Raz w tygodniu wyślemy Ci przyjemną wiadomość, która dostarczy wartościowe informacje i ciekawe artykuły na temat naszej pasji. Bez zbędnego spamu.</h6>
                    </div>
                    <div class="col-12 col-lg-6 pt-3 pt-lg-0  align-items-center">
                        <form class="" method="POST" id="newsletter-form">
                            <div class="input-group p-3 bg-body-tertiary rounded shadow my-auto">
                                {% csrf_token %}
                                {{ form.email }}
                                <button class="btn btn-register rounded px-3" type="submit">Subskrybuj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foo %}
    {% include 'footer.html' %}
{% endblock %}




