{% load static %}
{% if page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-3">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="btn btn-arrow rounded-start-pill" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="btn btn-arrow rounded-start-pill" style="cursor: pointer">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
            {% endif %}
            {% if page_obj.number|add:"-1" > 1 %}
                <li class="page-item">
                    <a class="btn btn-arrow rounded-0" href="?page=1">1</a>
                </li>
            {% endif %}
            {% if page_obj.number|add:"-2" > 1 %}
                <li class="page-item">
                    <a class="btn btn-arrow rounded-0">...</a>
                </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if i >= page_obj.number|add:"-1" and i <= page_obj.number|add:"1" %}
                    {% if i == page_obj.number %}
                        <li class="page-item ">
                            <a class="btn btn-arrow-active rounded-0">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="btn btn-arrow rounded-0" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.number|add:"3" < paginator.num_pages %}
                {% if page_obj.paginator.num_pages not in page_obj.paginator.page_range %}
                    <li class="page-item">
                        <a class="btn btn-arrow rounded-0">...</a>
                    </li>
                    <li class="page-item">
                        <a class="btn btn-arrow rounded-0"
                           href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if page_obj.paginator.num_pages > page_obj.number|add:"2" %}
                <li class="page-item">
                    <a class="btn btn-arrow rounded-0">...</a>
                </li>
            {% endif %}
            {% if page_obj.paginator.num_pages > page_obj.number|add:"1" %}
                <li class="page-item">
                    <a class="btn btn-arrow rounded-0"
                       href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="btn btn-arrow btn-arrow-right rounded-end-circle"
                       href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="btn btn-arrow btn-arrow-right rounded-end-circle" style="cursor: pointer">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}