{% extends 'base.html' %}

{% block title %}
    Banknoty -
    {% if user_account.user.first_name and user_account.user.last_name %}
        {{ user_account.user.first_name }} {{ user_account.user.last_name }}
    {% elif user_account.user.first_name %}
        {{ user_account.user.first_name }}
    {% elif user_account.user.last_name %}
        {{ user_account.user.last_name }}
    {% else %}
        {{ user_account.user.username }}
    {% endif %}
{% endblock %}

{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div id="alert-container"></div>
    <div class="bg-body-tertiary">
        <div class="container text-cetner pt-4 pb-4 px-4 px-sm-0">
            <div class="container text-center">
                <div class="row rounded align-middle d-flex align-items-center justify-content-center" style="min-height: 300px; background-image: url('{% static 'images/profile_background.jpg' %}');">
                    <div>
                        <img class="img rounded-circle shadow" style="aspect-ratio: 1/1 !important; object-fit: cover; object-position: center;" src="{{ user_account.profile_pic.url }}" >
                        <h3 class="pt-2 text-capitalize" style="color: navy">
                            {% if user_account.user.first_name and user_account.user.last_name %}
                                {{ user_account.user.first_name }} {{ user_account.user.last_name }}
                            {% elif user_account.user.first_name %}
                                {{ user_account.user.first_name }}
                            {% elif user_account.user.last_name %}
                                {{ user_account.user.last_name }}
                            {% else %}
                                {{ user_account.user.username }}
                            {% endif %}
                        </h3>
                        {% if user_account.facebook_url %}
                            <button class="btn btn-socialmedia btn-facebook rounded-circle" onclick="window.open('{{ user_account.facebook_url }}')">
                                <i class="fab fa-facebook"></i>
                            </button>
                        {% endif %}
                        {% if user_account.twitter_url %}
                            <button class="btn btn-socialmedia btn-twitter rounded-circle" onclick="window.open('{{ user_account.twitter_url }}')">
                                <i class="fab fa-twitter"></i>
                            </button>
                        {% endif %}
                        {% if user_account.instagram_url %}
                            <button class="btn btn-socialmedia btn-instagram border-0 rounded-circle" onclick="window.open('{{ user_account.instagram_url }}')">
                                <i class="fa-brands fa-instagram"></i>
                            </button>
                        {% endif %}
                        {% if user_account.pinterest_url %}
                            <button class="btn btn-socialmedia btn-pinterest rounded-circle" onclick="window.open('{{ user_account.pinterest_url }}')">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </button>
                        {% endif %}
                        {% if user_account.author_url %}
                            <button class="btn btn-socialmedia btn-website rounded-circle" onclick="window.open('{{ user_account.author_url }}')">
                                <i class="fa-solid fa-file"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-5 mx-5">
                    <div class="card-title card-text mt-2" style="text-align: start; color: navy;">
                        <h2 class="fst-italic" style="font-family: 'Mr De Haviland', cursive;">O mnie</h2>
                    </div>
                    <p class="text-black fw-light text-start" style="font-size: 16px">
                        {{ user_account.bio }}
                    </p>
                </div>
                <div class="row mt-3 mx-5">
                    <div class="card-title card-text mt-2" style="text-align: start; color: navy;">
                        <h2 class="fst-italic" style="font-family: 'Mr De Haviland', cursive;">Moje artykuły</h2>
                    </div>
                    <div class="container text-center">
                        {% for post in page_obj %}
                            <div class="row pt-3 pb-3 pb-md-2">
                                <div class="col-12 col-md-4 col-lg-3 col-xl-2 pe-auto pe-md-0 pe-lg-3 pb-3 pb-md-0">
                                    <a class="card-link" href="{% url 'article-detail' post.pk %}">
                                        <img class="img-fluid p-0 rounded shadow-lg" src="{{ post.background.url }}" alt="{{ post.title }}" style="float: left; width: 144px; height: 144px; object-fit: cover;">
                                    </a>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9 col-xl-10 ps-auto ps-md-0 ps-lg-3">
                                    <div class="row">
                                        <div class="col-10">
                                            <a class="card-link" href="{% url 'article-detail' post.pk %}">
                                                <h4 class="first-post text-start">
                                                    {{ post.title }}
                                                </h4>
                                            </a>
                                            <h6 class="text-start text-muted fw-light text-capitalize">
                                                {{ post.date_posted | date:"j E Y" }}
                                                <i class="border-start ms-3 ps-3 pe-1 fa-regular fa-comment"></i>
                                                {{ post.comment_set.count }}
                                            </h6>
                                            <h6 class="text-start fw-light" style="text-indent: 5%; color: black">{{ post.introduction | safe | truncatewords:50 }} ...</h6>
                                            <div class="pb-3 text-start">
                                                {% for category in post.category.all %}
                                                    <div class="text-start d-inline">
                                                        <a class="" style="text-decoration: none !important;" href="{% url 'category-detail' category.id %}">
                                                            <span class="text-muted text-black badge rounded-pill px-3 py-2 mt-2 fw-light" style="background-color: #eff1f3">
                                                                {{ category.name }}
                                                            </span>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-2 text-end">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-nav border border-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa-solid fa-ellipsis"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end py-3 shadow border-0">
                                                    <li class="mx-3">
                                                        <div class="d-grid gap-1">
                                                            <span class="fw-light">Udostępnij</span>
                                                            <button onclick="shareOnFacebook({{post.id}})" class="btn btn-facebook-opacity" href="#" style="text-align: left; ">
                                                                <i class="fa-brands fa-facebook me-2" style=" width: 16px; height: 16px"></i>
                                                                Facebook
                                                            </button>
                                                            <button onclick="shareOnTwitter({{posts.id}})" class="btn btn-twitter-opacity" href="#" style="text-align: left; ">
                                                                <i class="fa-brands fa-twitter me-2" style=" width: 16px; height: 16px"></i>
                                                                Twitter
                                                            </button>
                                                            <button onclick="shareOnLinkedIn({{posts.id}})" class="btn btn-linkedin-opacity border-0" href="#" style="text-align: left; ">
                                                                 <i class="fa-brands fa-linkedin me-2" style=" width: 16px; height: 16px"></i>
                                                                LindkedIn
                                                            </button>
                                                            <button onclick="shareOnPinterest({{posts.id}})" class="btn btn-pinterest-opacity" onclick="location.href='{% url 'logout' %}'"  style="text-align: left; ">
                                                                    <i class="fa-brands fa-pinterest-p me-2" style=" width: 16px; height: 16px"></i>
                                                                Pinterest
                                                            </button>
                                                            <button class="btn btn-register container-fluid copy-link-btn" data-post-id="{{ post.id }}" style="text-align: left">
    <i class="fa-regular fa-copy me-2" style=" width: 16px; height: 16px"></i>Kopiuj link
</button>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if page_obj.paginator.num_pages > 1 %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center mt-3">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-start-pill" href="?page={{ page_obj.previous_page_number }}">
                                            <span aria-hidden="true">&lsaquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-start-pill" style="cursor: pointer">
                                            <span aria-hidden="true">&lsaquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if page_obj.number|add:"-1" > 1 %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-0" href="?page=1">1</a>
                                    </li>
                                {% endif %}
                                {% if page_obj.number|add:"-2" > 1 %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-0">...</a>
                                    </li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if i >= page_obj.number|add:"-1" and i <= page_obj.number|add:"1" %}
                                        {% if i == page_obj.number %}
                                            <li class="page-item ">
                                                <a class="btn btn-arrow-active rounded-0">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                 <a class="btn btn-arrow rounded-0" href="?page={{ i }}">{{ i }}</a>
                                             </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.number|add:"3" < paginator.num_pages %}
                                    {% if page_obj.paginator.num_pages not in page_obj.paginator.page_range %}
                                        <li class="page-item">
                                            <a class="btn btn-arrow rounded-0">...</a>
                                        </li>
                                        <li class="page-item">
                                             <a class="btn btn-arrow rounded-0" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                                         </li>
                                    {% endif %}
                                {% endif %}
                                {% if page_obj.paginator.num_pages > page_obj.number|add:"2" %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-0">...</a>
                                    </li>
                                {% endif %}
                                {% if page_obj.paginator.num_pages > page_obj.number|add:"1" %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-0" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow btn-arrow-right rounded-end-circle" href="?page={{ page_obj.next_page_number }}">
                                            <span aria-hidden="true">&rsaquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow btn-arrow-right rounded-end-circle" style="cursor: pointer">
                                            <span aria-hidden="true">&rsaquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const copyLinkBtns = document.querySelectorAll('.copy-link-btn');
        const alertContainer = document.querySelector('#alert-container');

        copyLinkBtns.forEach(copyLinkBtn => {
            copyLinkBtn.addEventListener('click', () => {
                const postId = copyLinkBtn.getAttribute('data-post-id');
                const link = `http://127.0.0.1:8000/article/${postId}`;

                const tempTextarea = document.createElement('textarea');
                tempTextarea.value = link;
                document.body.appendChild(tempTextarea);
                tempTextarea.select();
                document.execCommand('copy');
                document.body.removeChild(tempTextarea);

                displayAlert('success', 'Sukces', 'Link skopiowany do schowka.', 'fa-regular fa-circle-check');
            });
        });

        function displayAlert(type, title, message, icon) {
                    const alertElement = document.createElement('div');
                    alertElement.className = `alert alert-${type} d-flex align-items-start justify-content-between fixed-top mx-auto my-3 fade show`;
                    alertElement.style.maxWidth = '400px';
                    alertElement.style.zIndex = '9999';
                    alertElement.style.transform = 'translateX(0)';
                    alertElement.style.opacity = '1';

                    const alertContent = document.createElement('div');
                    alertContent.className = 'd-flex align-items-start';

                    const successIcon = document.createElement('i');
                    successIcon.className = icon;
                    successIcon.style.fontSize = '1.5rem';

                    const textContainer = document.createElement('div');
                    textContainer.className = 'flex-grow-1';
                    textContainer.style.marginLeft = '1rem';

                    const titleElement = document.createElement('h6');
                    titleElement.textContent = title;
                    titleElement.className = 'alert-heading';

                    const descriptionElement = document.createElement('p');
                    descriptionElement.textContent = message;
                    descriptionElement.className = 'mb-0';

                    const closeButton = document.createElement('button');
                    closeButton.type = 'button';
                    closeButton.className = 'btn-close';
                    closeButton.setAttribute('aria-label', 'Close');
                    closeButton.addEventListener('click', () => {
                        alertElement.style.opacity = '0';
                        alertElement.style.transform = 'scale(0.8)';
                        alertElement.addEventListener('transitionend', () => {
                            alertElement.remove();
                        });
                    });

                    textContainer.appendChild(titleElement);
                    textContainer.appendChild(descriptionElement);
                    alertContent.appendChild(successIcon);
                    alertContent.appendChild(textContainer);
                    alertElement.appendChild(alertContent);
                    alertElement.appendChild(closeButton);

                    alertContainer.appendChild(alertElement);

                    void alertElement.offsetWidth;

                    const spacing = 10;
                    let currentOffset = 0;
                    const alerts = alertContainer.getElementsByClassName('alert');
                    for (let i = alerts.length - 1; i >= 0; i--) {
                        const alert = alerts[i];
                        const alertHeight = alert.offsetHeight;
                        const alertHeightWithSpacing = alertHeight + spacing;
                        alert.style.top = `${currentOffset}px`;
                        currentOffset += alertHeightWithSpacing;
                    }

                    const displayTime = 5000;
                    setTimeout(() => {
                        alertElement.classList.remove('show');
                        setTimeout(() => {
                            alertElement.remove();
                        }, 500);
                    }, displayTime);
                }
    });
</script>

{% endblock %}

{% block foo %}
    {% include 'footer.html' %}
{% endblock %}