{% extends 'base.html' %}

{% block title %}
    Banknoty -
    {% if user_account.user.first_name and user_account.user.last_name %}
        {{ user_account.user.first_name }} {{ user_account.user.last_name }}
    {% elif user_account.user.first_name %}
        {{ user_account.user.first_name }}
    {% elif user_account.user.last_name %}
        {{ user_account.user.last_name }}
    {% else %}
        {{ user_account.user.username }}
    {% endif %}
{% endblock %}

{% block navbar %}
    {% load static %}
        {% if user.is_authenticated %}
            <nav class="nav navbar nav-sticky navbar-expand-xl bg-body-tertiary">
                <div class="container-fluid mx-5 px-5 ps-0 pe-0 pe-lg-5">
                    <a class="navbar-brand py-2 me-5" href="/">
                        <img class="ps-5 img img-fluid mx-auto d-block" src="{% static 'images/logo-no-background.png' %}" alt="Logo" style="max-height: 72px">
                    </a>
                    <div class="d-flex justify-content-between">
                        <button class="navbar-toggler border border-0 ps-0 pe-0" onclick="toggle()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 24px">
                            <i class="fa-solid fa-bars fa-lg btn-nav" id="btn-bars"></i>
                        </button>
                        <li class="d-block d-xl-none" STYLE="height: 2rem; border-left: .1rem solid rgba(0,34,28,.1); margin: .5rem;"></li>
                        <div class="dropdown d-block d-xl-none">
                            <a class="ms-4 " role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" style="line-height: 32px">
                                <img class="card-photo rounded" src="{{ user.author.profile_pic.url }}" alt="" style="height: 48px; width: 48px">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end shadow border border-0 py-3" style="min-width: 300px">
                                <li>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col pe-0 ps-3" style="display: flex; align-items: center;">
                                                <img class="card-photo rounded" src="{{ user.author.profile_pic.url }}" alt="" style="max-height: 64px; max-width: 64px">
                                            </div>
                                            <div class="col-8 ps-0 pe-3">
                                                <div class="row ps-0" style="padding-right: 12px">
                                                    <div class="col ps-0 pe-0 ms-1">
                                                        <h6 class="my-1" style="color: navy">
                                                            {% if user.first_name and user.last_name %}
                                                                {{ user.first_name }} {{ user.last_name }}
                                                            {% elif user.first_name %}
                                                                {{ user.first_name }}
                                                            {% elif user.last_name %}
                                                                {{ user.last_name }}
                                                            {% else %}
                                                                {{ user.username }}
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="row ps-0" style="padding-right: 12px">
                                                    <div class="col ps-0 pe-0 ms-1 lh-1">
                                                        <small style="color: rgba(0, 0, 128, 0.5); overflow-wrap: break-word; word-wrap: break-word;">
                                                            {% if user.email %}
                                                                {{ user.email }}
                                                            {% endif %}
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><hr class="dropdown-divider mx-2 my-3"></li>
                                <li class="mx-3">
                                    <div class="d-grid gap-0">
                                        <button class="btn btn-list" href="#" style="text-align: left; ">
                                            <i class="fa-solid fa-bookmark me-2"></i>
                                            Moje posty
                                        </button>
                                        <button class="btn btn-list" href="#" style="text-align: left; ">
                                            <i class="fa-solid fa-gear me-2"></i>
                                            Ustawienia
                                        </button>
                                        <button class="btn btn-list" href="#" style="text-align: left; ">
                                             <i class="fa-regular fa-circle-question me-2"></i>
                                            Informacje
                                        </button>
                                        <button class="btn btn-logout" onclick="location.href='{% url 'logout' %}'"  style="text-align: left; ">
                                                <i class="fa-solid fa-power-off me-2"></i>
                                            Wyloguj się
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <div class="navbar-nav ms-auto">
                            <a class="nav-link btn-nav px-4" href="/">
                                <h5 class="text-center text-md-start fw-light my-1">Strona główna</h5>
                            </a>
                            <li class="nav-item px-0 dropdown">
                                <a class="nav-link btn-nav px-4 text-center text-md-start fw-light dropdown-toggle" href="#" data-bs-toggle="dropdown" style="padding-top: 12px; padding-bottom: 12px; font-size: 20px; line-height: 24px">
                                    Artykuły
                                    <i class="fa-solid fa-angle-down fa-2xs "></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-large border border-0 shadow p-4" style="right: 0px">
                                    <div class="row g-3">
                                        <div class="col-5 mb-3">
                                            <h5 class="title fw-bold" style="color:navy;">Kategorie</h5>
                                            <ul class="list-unstyled">
                                                {% for ca in category|slice:":5"%}
                                                    {% if forloop.first %}
                                                        <li style="margin-top: 12px">
                                                            <a href="{% url 'category-detail' ca.id %}" class="sub-item">
                                                                {{ ca.name }}
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li style="margin-top: 6px">
                                                            <a href="{% url 'category-detail' ca.id %}" class="sub-item">
                                                                {{ ca.name }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li style="margin-top: 6px; position: absolute; bottom: 40px">
                                                    <a class="fw-bold border-bottom show-all" href="{% url 'category-all' %}">
                                                        Pokaż wszystkie
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-7">
                                            <h5 class="title fw-bold" style="color:navy;">Artykuły</h5>
                                            <ul class="list-unstyled">
                                                {% for post in posts reversed %}
                                                    {% if forloop.counter == 2 or forloop.counter == 3 %}
                                                       <li>
                                                            <a href="{% url 'article-detail' post.pk %}" class="sub-item" style="text-decoration: none">
                                                                <div class="container">
                                                                    <div class="row pb-2">
                                                                        <div class="col-4 ps-0" style="max-height: 100px; max-width: 100px">
                                                                            <img class="card-photo text-left" src="{{ post.background.url }}" alt="..." style="max-height: 100px; max-width: 100px">
                                                                        </div>
                                                                        <div class="col-8 p-0">
                                                                            <div>{{ post.title|truncatechars:35 }}</div>
                                                                            <div style="color: rgba(0,0,0,0.5)">{{ post.date_posted | date:"j E Y" }}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li style="margin-top: 6px">
                                                    <a class="fw-bold border-bottom show-all" href="#" style="">
                                                        Pokaż wszystkie
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
						    </li>
                            <a class="nav-link btn-nav px-4" href="{% url 'author-all' %}">
                                <h5 class="text-center text-md-start fw-light my-1">O autorze</h5>
                            </a>
                            <li class="d-none d-xl-block" STYLE="height: 2rem; border-left: .1rem solid rgba(0,34,28,.1); margin: .5rem;"></li>
                            <div class="dropdown d-none d-xl-block">
                                <a class="ms-4 " role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" style="line-height: 32px">
                                    <img class="card-photo rounded" src="{{ user.author.profile_pic.url }}" alt="" style="height: 48px; width: 48px">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end shadow border border-0 py-3" style="min-width: 300px;">
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col pe-0 ps-3" style="display: flex; align-items: center;">
                                                    <img class="card-photo rounded" src="{{ user.author.profile_pic.url }}" alt="" style="max-height: 64px; max-width: 64px">
                                                </div>
                                                <div class="col-8 ps-0 pe-3">
                                                    <div class="row ps-0" style="padding-right: 12px">
                                                        <div class="col ps-0 pe-0 ms-1">
                                                            <h6 class="my-1" style="color: navy">
                                                                {% if user.first_name and user.last_name %}
                                                                    {{ user.first_name }} {{ user.last_name }}
                                                                {% elif user.first_name %}
                                                                    {{ user.first_name }}
                                                                {% elif user.last_name %}
                                                                    {{ user.last_name }}
                                                                {% else %}
                                                                    {{ user.username }}
                                                                {% endif %}
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="row ps-0" style="padding-right: 12px">
                                                        <div class="col ps-0 pe-0 ms-1 lh-1">
                                                            <small style="color: rgba(0, 0, 128, 0.5); overflow-wrap: break-word; word-wrap: break-word;">
                                                                {% if user.email %}
                                                                    {{ user.email }}
                                                                {% endif %}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider mx-2 my-3"></li>
                                    <li class="mx-3">
                                        <div class="d-grid gap-0">
                                            <button class="btn btn-list" href="#" style="text-align: left; ">
                                                <i class="fa-solid fa-bookmark me-2"></i>
                                                Moje posty
                                            </button>
                                            <button class="btn btn-list" href="#" style="text-align: left; ">
                                                <i class="fa-solid fa-gear me-2"></i>
                                                Ustawienia
                                            </button>
                                            <button class="btn btn-list" href="#" style="text-align: left; ">
                                                 <i class="fa-regular fa-circle-question me-2"></i>
                                                Informacje
                                            </button>
                                            <button class="btn btn-logout" onclick="location.href='{% url 'logout' %}'"  style="text-align: left; ">
                                                    <i class="fa-solid fa-power-off me-2"></i>
                                                Wyloguj się
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% else %}
            <nav class="nav navbar nav-sticky navbar-expand-xl bg-body-tertiary">
                <div class="container-fluid mx-5 px-5 ps-0 pe-0 pe-lg-5">
                    <a class="navbar-brand py-2 me-5" href="/">
                        <img class="ps-5 img img-fluid mx-auto d-block" src="{% static 'images/logo-no-background.png' %}" alt="Logo" style="max-height: 72px">
                    </a>
                    <div class="d-flex justify-content-between">
                        <button class="navbar-toggler collapsed border border-0 ps-0 pe-0" onclick="toggle()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 24px">
                            <i class="fa-solid fa-bars fa-lg btn-nav" id="btn-bars"></i>
                        </button>
                        <li class="d-none d-sm-none d-md-block d-lg-block d-xl-none" STYLE="height: 2rem; border-left: .1rem solid rgba(0,34,28,.1); margin: .5rem;"></li>
                        <div class="d-none d-sm-none d-md-block d-lg-block d-xl-none">
                            <a class="btn btn-log ms-3 px-4" href="{% url 'login' %}">
                                <h5 class="fw-light my-1">Zaloguj się</h5>
                            </a>
                            <a class="btn btn-register ms-3 px-4" href="{% url 'register' %}">
                                <h5 class="fw-light my-1">Dołącz teraz</h5>
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <div class="navbar-nav ms-auto">
                            <a class="nav-link btn-nav px-4" href="/">
                                <h5 class="text-center text-md-start fw-light my-1">Strona główna</h5>
                            </a>
                            <li class="nav-item px-0 dropdown">
                                <a class="nav-link btn-nav px-4 text-center text-md-start fw-light dropdown-toggle" href="#" data-bs-toggle="dropdown" style="padding-top: 12px; padding-bottom: 12px; font-size: 20px; line-height: 24px">
                                    Artykuły
                                    <i class="fa-solid fa-angle-down fa-2xs "></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-large border border-0 shadow p-4">
                                    <div class="row g-3">
                                        <div class="col-5 mb-3">
                                            <h5 class="title fw-bold" style="color:navy;">Kategorie</h5>
                                            <ul class="list-unstyled">
                                                {% for ca in category|slice:":5"%}
                                                    {% if forloop.first %}
                                                        <li style="margin-top: 12px">
                                                            <a href="{% url 'category-detail' ca.id %}" class="sub-item">
                                                                {{ ca.name }}
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li style="margin-top: 6px">
                                                            <a href="{% url 'category-detail' ca.id %}" class="sub-item">
                                                                {{ ca.name }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li style="margin-top: 6px; position: absolute; bottom: 40px">
                                                    <a class="fw-bold border-bottom show-all" href="{% url 'category-all' %}">
                                                        Pokaż wszystkie
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-7">
                                            <h5 class="title fw-bold" style="color:navy;">Artykuły</h5>
                                            <ul class="list-unstyled">
                                                {% for post in posts reversed %}
                                                    {% if forloop.counter == 2 or forloop.counter == 3 %}
                                                       <li>
                                                            <a href="{% url 'article-detail' post.pk %}" class="sub-item" style="text-decoration: none">
                                                                <div class="container">
                                                                    <div class="row pb-2">
                                                                        <div class="col-4 ps-0" style="max-height: 100px; max-width: 100px">
                                                                            <img class="card-photo text-left" src="{{ post.background.url }}" alt="..." style="max-height: 100px; max-width: 100px">
                                                                        </div>
                                                                        <div class="col-8 p-0">
                                                                            <div>{{ post.title|truncatechars:35 }}</div>
                                                                            <div style="color: rgba(0,0,0,0.5)">{{ post.date_posted | date:"j E Y" }}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li style="margin-top: 6px">
                                                    <a class="fw-bold border-bottom show-all" href="#" style="">
                                                        Pokaż wszystkie
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
						    </li>
                            <a class="nav-link btn-nav px-4" href="{% url 'author-all' %}">
                                <h5 class="text-center text-md-start fw-light my-1">O autorze</h5>
                            </a>
                            <li class="d-none d-xl-block" STYLE="height: 2rem; border-left: .1rem solid rgba(0,34,28,.1); margin: .5rem;"></li>
                            <a class="mb-2 mb-md-0 ms-0 ms-md-3 d-block d-sm-block d-md-none d-lg-none d-xl-block btn btn-log px-4 border" href="{% url 'login' %}">
                                <h5 class="fw-light my-1">Zaloguj się</h5>
                            </a>
                            <a class="mb-2 mb-md-0 ms-0 ms-md-3 d-block d-sm-block d-md-none d-lg-none d-xl-block btn btn-register px-4" href="{% url 'register' %}">
                                <h5 class="fw-light my-1">Dołącz teraz</h5>
                            </a>
                    </div>
                </div>
            </nav>
        {% endif %}
{% endblock %}

{% block content %}
    <div class="bg-body-tertiary">
        <div class="container text-cetner pt-4 pb-4 px-4 px-sm-0">
            <div class="container text-center">
                <div class="row rounded align-middle d-flex align-items-center justify-content-center" style="min-height: 300px; background-image: url('{% static 'images/profile_background.jpg' %}');">
                    <div>
                        <img class="p-0 rounded-circle shadow-lg" src="{{ user_account.profile_pic.url }}" style="height:144px; max-height: 144px; max-width: 144px; border: 1px solid rgba( 255, 255, 255, 0.18 );">
                        <h3 class="pt-1 text-capitalize" style="color: navy">
                            {% if user_account.user.first_name and user_account.user.last_name %}
                                {{ user_account.user.first_name }} {{ user_account.user.last_name }}
                            {% elif user_account.user.first_name %}
                                {{ user_account.user.first_name }}
                            {% elif user_account.user.last_name %}
                                {{ user_account.user.last_name }}
                            {% else %}
                                {{ user_account.user.username }}
                            {% endif %}
                        </h3>
                        {% if user_account.facebook_url %}
                            <button class="btn btn-socialmedia btn-facebook rounded-circle" onclick="window.open('{{ user_account.facebook_url }}')">
                                <i class="fab fa-facebook"></i>
                            </button>
                        {% endif %}
                        {% if user_account.twitter_url %}
                            <button class="btn btn-socialmedia btn-twitter rounded-circle" onclick="window.open('{{ user_account.facebook_url }}')">
                                <i class="fab fa-twitter"></i>
                            </button>
                        {% endif %}
                        {% if user_account.instagram_url %}
                            <button class="btn btn-socialmedia btn-instagram border-0 rounded-circle" onclick="window.open('{{ user_account.instagram_url }}')">
                                <i class="fa-brands fa-instagram"></i>
                            </button>
                        {% endif %}
                        {% if user_account.pinterest_url %}
                        <button class="btn btn-socialmedia btn-pinterest rounded-circle" onclick="window.open('{{ user_account.pinterest_url }}')">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-5 mx-5">
                    <div class="card-title card-text mt-2" style="text-align: start; color: navy;">
                        <h2 class="fst-italic" style="font-family: 'Mr De Haviland', cursive;">O mnie</h2>
                    </div>
                    <p class="text-black fw-light text-start" style="font-size: 16px">
                        {{ user_account.bio }}
                    </p>
                </div>
                <div class="row mt-3 mx-5">
                    <div class="card-title card-text mt-2" style="text-align: start; color: navy;">
                        <h2 class="fst-italic" style="font-family: 'Mr De Haviland', cursive;">Moje artykuły</h2>
                    </div>
                    <div class="container text-center">
                        {% for post in page_obj %}
                            <div class="row pt-3 pb-3 pb-md-2">
                                <div class="col-12 col-md-4 col-lg-3 col-xl-2 pe-auto pe-md-0 pe-lg-3 pb-3 pb-md-0">
                                    <a class="card-link" href="{% url 'article-detail' post.pk %}">
                                        <img class="img-fluid p-0 rounded shadow-lg" src="{{ post.background.url }}" alt="{{ post.title }}" style="float: left; width: 144px; height: 144px; object-fit: cover;">
                                    </a>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9 col-xl-10 ps-auto ps-md-0 ps-lg-3">
                                    <div class="row">
                                        <div class="col-10">
                                            <a class="card-link" href="{% url 'article-detail' post.pk %}">
                                                <h4 class="first-post text-start">
                                                    {{ post.title }}
                                                </h4>
                                            </a>
                                            <h6 class="text-start text-muted fw-light text-capitalize">
                                                {{ post.date_posted | date:"j E Y" }}
                                                <i class="border-start ms-3 ps-3 pe-1 fa-regular fa-comment"></i>
                                                123
{#                                                Zrobić sumę komentarzy na bazie bloga agaty i adriana oraz "moje posty", "ustawienia" według bootstrapa i dribble. Strony z listą wszystkich postów i wsystkich kategori#}
                                            </h6>
                                            <h6 class="text-start fw-light" style="text-indent: 5%; color: black">{{ post.introduction | safe | truncatewords:50 }} ...</h6>
                                            <div class="pb-3 text-start">
                                                {% for category in post.category.all %}
                                                    <div class="text-start d-inline">
                                                        <a class="" style="text-decoration: none !important;" href="{% url 'category-detail' category.id %}">
                                                            <span class="text-muted text-black badge rounded-pill px-3 py-2 mt-2 fw-light" style="background-color: #eff1f3">
                                                                {{ category.name }}
                                                            </span>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-2 text-end">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-nav border border-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa-solid fa-ellipsis"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end py-3 shadow border-0">
                                                    <li class="mx-3">
                                                        <div class="d-grid gap-1">
                                                            <span class="fw-light">Udostępnij</span>
                                                            <button class="btn btn-facebook-opacity" href="#" style="text-align: left; ">
                                                                <i class="fa-brands fa-facebook me-2" style=" width: 16px; height: 16px"></i>
                                                                Facebook
                                                            </button>
                                                            <button class="btn btn-twitter-opacity" href="#" style="text-align: left; ">
                                                                <i class="fa-brands fa-twitter me-2" style=" width: 16px; height: 16px"></i>
                                                                Twitter
                                                            </button>
                                                            <button class="btn btn-instagram-opacity border-0" href="#" style="text-align: left; ">
                                                                 <i class="fa-brands fa-instagram me-2" style=" width: 16px; height: 16px"></i>
                                                                Instagram
                                                            </button>
                                                            <button class="btn btn-pinterest-opacity" onclick="location.href='{% url 'logout' %}'"  style="text-align: left; ">
                                                                    <i class="fa-brands fa-pinterest-p me-2" style=" width: 16px; height: 16px"></i>
                                                                Pinterest
                                                            </button>
                                                            <button class="btn btn-register container-fluid" style="text-align: left">
                                                                <i class="fa-regular fa-copy me-2" style=" width: 16px; height: 16px"></i>Kopiuj link
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if page_obj.paginator.num_pages > 1 %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center mt-3">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-start-pill" href="?page={{ page_obj.previous_page_number }}">
                                            <span aria-hidden="true">&lsaquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-start-pill" style="cursor: pointer">
                                            <span aria-hidden="true">&lsaquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if page_obj.number|add:"-1" > 1 %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-0" href="?page=1">1</a>
                                    </li>
                                {% endif %}
                                {% if page_obj.number|add:"-2" > 1 %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-0">...</a>
                                    </li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if i >= page_obj.number|add:"-1" and i <= page_obj.number|add:"1" %}
                                        {% if i == page_obj.number %}
                                            <li class="page-item ">
                                                <a class="btn btn-arrow-active rounded-0">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                 <a class="btn btn-arrow rounded-0" href="?page={{ i }}">{{ i }}</a>
                                             </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.number|add:"3" < paginator.num_pages %}
                                    {% if page_obj.paginator.num_pages not in page_obj.paginator.page_range %}
                                        <li class="page-item">
                                            <a class="btn btn-arrow rounded-0">...</a>
                                        </li>
                                        <li class="page-item">
                                             <a class="btn btn-arrow rounded-0" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                                         </li>
                                    {% endif %}
                                {% endif %}
                                {% if page_obj.paginator.num_pages > page_obj.number|add:"2" %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-0">...</a>
                                    </li>
                                {% endif %}
                                {% if page_obj.paginator.num_pages > page_obj.number|add:"1" %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow rounded-0" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow btn-arrow-right rounded-end-circle" href="?page={{ page_obj.next_page_number }}">
                                            <span aria-hidden="true">&rsaquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="btn btn-arrow btn-arrow-right rounded-end-circle" style="cursor: pointer">
                                            <span aria-hidden="true">&rsaquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foo %}
    <div class="bg-body-tertiary">
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 mx-auto justify-content-start d-flex align-items-center">
                    <img class="img mx-sm-auto mx-auto mx-lg-0 img-fluid d-block" src="{% static 'images/logo-no-background.png' %}" alt="Logo" style="max-height: 48px">
                </div>
                <ul class="nav col-sm-12 col-md-12 col-lg-10 mx-auto justify-content-center justify-content-lg-end list-unstyled d-flex">
                    <div class="text-end">
                        <ul class="nav ">
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="#">
                                    <h5 class="fw-light my-1">Artykuły</h5>
                                </a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="{% url 'author-all' %}">
                                    <h5 class="fw-light my-1">O autorze</h5>
                                </a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="#">
                                    <h5 class="fw-light my-1">Regulamin serwisu</h5>
                                </a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link btn-nav px-3" href="#">
                                    <h5 class="fw-light my-1">Polityka prywatności</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </footer>
            <hr class="mt-4 text-sm">
            <footer class="d-flex flex-wrap justify-content-between align-items-center pt-2 pb-4">
                <div class="col-12 col-md-6 mx-auto d-flex align-items-center justify-content-center justify-content-md-start">
                    <span class="mb-3 mb-md-0 fw-light" style="color: navy">© 2023 Banknoty. Wszelkie prawa zastrzeżone.</span>
                </div>
                <ul class="nav col-12 col-sm-12 col-md-6 px-sm-2 px-md-0 mx-auto justify-content-center justify-content-md-end list-unstyled d-flex">
                    <div class=" text-end">
                        <button class="btn btn-socialmedia btn-facebook rounded-circle" href="/authentication/sign-in/">
                            <i class="fab fa-facebook"></i>
                        </button>
                        <button class="btn btn-socialmedia btn-twitter rounded-circle" href="/authentication/sign-in/">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button class="btn btn-socialmedia btn-linkedin rounded-circle" href="/authentication/sign-in/">
                            <i class="fab fa-linkedin"></i>
                        </button>
                        <button class="btn btn-socialmedia btn-github rounded-circle" href="/authentication/sign-in/">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>
                </ul>
            </footer>
        </div>
    </div>
{% endblock %}