{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    Banknoty - Regulamin
{% endblock %}

{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="bg-body-tertiary pt-4 px-5">
        <div class="container px-0 px-xl-5">
            <div class="container pb-5 pt-3">
                <h1 class="text-center pt-2" style="color: navy">Regulamin</h1>
                {% load i18n %}

<form class="position-absolute top-0 end-0 pe-5 pt-4" action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  {% get_current_language as LANGUAGE_CODE %}
  {% if LANGUAGE_CODE == 'en' %}
    {% language 'pl' %}
      <button type="submit"
              name="language"
              value="pl"
              class="btn btn-info">
        PL
      </button>
    {% endlanguage %}
  {% elif LANGUAGE_CODE == 'pl' %}
    {% language 'en' %}
      <button type="submit"
              name="language"
              value="en"
              class="btn btn-info">
        EN
      </button>
    {% endlanguage %}
  {% endif %}
</form>
                <p class="text-muted text-center pb-4">{% trans 'Data wejścia w życie: 1 lipca 2023' %}</p>
                <div class="row">
                    <div class="col-3">
                        <div id="list" class="list-group">
                            <a class="list-group-item list-group-item-action" href="#list-item-1">1. Warunki ogólne</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-2">2. Zakładanie konta użytkownika</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-3">3. Publikowanie treści</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-4">4. Komunikacja</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-5">5. Prywatność i ochrona danych osobowych</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-6">6. Zasady komentowania</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-7">7. Własność intelektualna</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-8">8. Odpowiedzialność użytkownika</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-9">9. Zmiany w regulaminie</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-10">10. Postanowienia końcowe</a>
                        </div>
                    </div>
                    <div class="col-9">
                        <div data-bs-spy="scroll" data-bs-target="#list" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                            <h4 id="list-item-1">1. Warunki ogólne</h4>
                            <div class="text-muted">
                                <p>
                                    Użytkownik zgadza się korzystać z serwisu zgodnie z obowiązującymi przepisami prawa, etyką i zasadami społecznymi.
                                    Zobowiązuje się do przestrzegania norm obowiązujących w sferze komunikacji internetowej oraz do nieumyślnego lub umyślnego naruszania bezpieczeństwa systemów informatycznych.
                                    Ponadto, Użytkownik wyraża zgodę na przestrzeganie zasad dotyczących prywatności innych użytkowników oraz na niedostępność jakiejkolwiek treści, która jest niezgodna z prawem lub narusza dobre obyczaje.
                                </p>
                                <p>
                                    Użytkownik zobowiązuje się do niepublikowania treści obraźliwych, pornograficznych, nielegalnych, szkodliwych lub naruszających prawa osób trzecich.
                                    Użytkownik ma świadomość, że publikowanie takich treści może prowadzić do konsekwencji prawnych, a strona internetowa może podjąć działania prawne w przypadku naruszenia tych zasad.
                                </p>
                                <p>
                                    Użytkownik ma obowiązek przestrzegania zasad dotyczących ochrony prywatności innych użytkowników, w tym nieudostępniania ich danych osobowych bez wyraźnej zgody.
                                    Użytkownik akceptuje, że strona internetowa może gromadzić i przetwarzać jego dane osobowe zgodnie z polityką prywatności w celu świadczenia usług i prowadzenia działań marketingowych.
                                </p>
                            </div>
                            <h4 id="list-item-2">2. Zakładanie konta użytkownika</h4>
                            <div class="text-muted">
                                <p>
                                    Użytkownik może założyć konto na stronie poprzez wypełnienie formularza rejestracyjnego i podanie prawdziwych, aktualnych danych.
                                    W przypadku założenia konta na stronie Użytkownik potwierdza, że jest osobą pełnoletnią i ma prawo do korzystania z usług świadczonych przez stronę internetową.
                                </p>
                                <p>
                                    Użytkownik ponosi pełną odpowiedzialność za bezpieczeństwo swojego konta i hasła.
                                    Zobowiązuje się do zachowania poufności swoich danych logowania i nieudostępniania ich osobom trzecim.
                                    Użytkownik jest odpowiedzialny za wszelkie czynności podejmowane za pośrednictwem jego konta.
                                </p>
                                <p>
                                    Administrator zastrzega sobie prawo do dezaktywacji lub usunięcia konta użytkownika w przypadku naruszenia warunków korzystania, podejrzanych działań lub w przypadku żądania użytkownika.
                                </p>
                            </div>
                            <h4 id="list-item-3">3. Publikowanie treści</h4>
                            <div class="text-muted">
                                <p>
                                    Użytkownik ma prawo publikować treści, takie jak artykuły, komentarze, opinie, zdjęcia itp., pod warunkiem posiadania odpowiednich praw autorskich lub zgody osób trzecich.
                                    Użytkownik wyraża zgodę na udzielenie stronie internetowej nieodpłatnej licencji na wykorzystywanie tych treści w ramach funkcjonowania serwisu.
                                </p>
                                <p>
                                    Użytkownik jest odpowiedzialny za treści, które publikuje na stronie.
                                    Zapewnia, że treści są zgodne z obowiązującymi przepisami prawa, nie naruszają praw osób trzecich i nie zawierają treści o charakterze obraźliwym, wulgarnym, dyskryminującym, szkalującym lub szkodliwym.
                                </p>
                                <p>
                                     Administrator zastrzega sobie prawo do moderacji treści publikowanych przez użytkowników i może usuwać lub edytować treści naruszające zasady korzystania.
                                    Administrator może również usuwać treści, które są niezgodne z tematyką strony lub nie spełniają określonych standardów jakości.
                                </p>
                            </div>
                            <h4 id="list-item-4">4. Komunikacja</h4>
                            <div class="text-muted">
                                <p>
                                    Użytkownik może otrzymywać wiadomości od strony internetowej, takie jak powiadomienia o aktywności na koncie, aktualizacje, zmiany w regulaminie itp.
                                    Użytkownik wyraża zgodę na otrzymywanie tych wiadomości na podany przez siebie adres e-mail.
                                </p>
                                <p>
                                    Użytkownik może wyrazić zgodę na otrzymywanie newslettera lub innych informacji marketingowych od strony internetowej.
                                    W każdej chwili ma prawo zrezygnować z subskrypcji i zrezygnować z otrzymywania tych wiadomości.
                                </p>
                            </div>
                            <h4 id="list-item-5">5. Prywatność i ochrona danych osobowych</h4>
                            <div class="text-muted">
                                <p>
                                    Strona internetowa stosuje odpowiednie środki techniczne i organizacyjne w celu ochrony danych osobowych użytkowników.
                                    Administrator dokłada wszelkich starań, aby zapewnić bezpieczeństwo przetwarzania danych.
                                </p>
                                <p>
                                    Użytkownik wyraża zgodę na gromadzenie, przetwarzanie i przechowywanie swoich danych osobowych przez stronę internetową zgodnie z polityką prywatności.
                                    Użytkownik ma prawo dostępu do swoich danych osobowych, ich poprawiania, usuwania lub ograniczenia przetwarzania.
                                </p>
                            </div>
                            <h4 id="list-item-6">6. Zasady komentowania</h4>
                            <div class="text-muted">
                                <p>
                                    Użytkownicy mogą zamieszczać komentarze pod artykułami i wpisami na stronie.
                                    Komentarze powinny stanowić wartościowy wkład w dyskusję.
                                </p>
                                <p>
                                    Komentarze nie powinny zawierać treści obraźliwych, wulgarnych, dyskryminujących, szkalujących lub naruszających prawa osób trzecich.
                                    Użytkownik powinien być uprzejmy w swojej wypowiedzi i szanować innych użytkowników.
                                </p>
                                <p>
                                     Administrator zastrzega sobie prawo do moderacji komentarzy i może usuwać lub edytować komentarze naruszające zasady komentowania.
                                    Administrator może również zablokować możliwość komentowania dla użytkownika, który wielokrotnie narusza zasady.
                                </p>
                            </div>
                            <h4 id="list-item-7">7. Własność intelektualna</h4>
                            <div class="text-muted">
                                <p>
                                    Wszystkie treści, materiały, logo i znaki towarowe udostępnione na stronie internetowej są własnością strony lub posiadają odpowiednie licencje.
                                    Użytkownik nie ma prawa kopiować, reprodukować, modyfikować, rozpowszechniać ani wykorzystywać tych treści w celach komercyjnych bez wyraźnej zgody właściciela praw autorskich.
                                </p>
                                <p>
                                    Użytkownik ma prawo udostępniać własne treści na stronie internetowej, przy czym udziela stronie nieodpłatnej licencji na wykorzystywanie tych treści w ramach funkcjonowania serwisu.
                                    Użytkownik zachowuje prawa autorskie do swoich treści.
                                </p>
                            </div>
                            <h4 id="list-item-8">8. Odpowiedzialność użytkownika</h4>
                            <div class="text-muted">
                                <p>
                                    Użytkownik ponosi pełną odpowiedzialność za treści, komentarze i materiały, które udostępnia na stronie internetowej.
                                    Użytkownik zapewnia, że ma niezbędne prawa do udostępnianych treści i że nie narusza praw autorskich, praw osobistych ani innych praw osób trzecich.
                                </p>
                                <p>
                                    Użytkownik zobowiązuje się do przestrzegania obowiązujących przepisów prawa, w tym przepisów dotyczących ochrony danych osobowych, oraz do niepodejmowania działań, które mogłyby naruszać bezpieczeństwo strony internetowej lub innych użytkowników.
                                </p>
                            </div>
                            <h4 id="list-item-9">9. Zmiany w regulaminie</h4>
                            <div class="text-muted">
                                <p>
                                    Strona internetowa zastrzega sobie prawo do wprowadzania zmian w niniejszym regulaminie w dowolnym momencie.
                                    Użytkownik zostanie powiadomiony o takich zmianach za pośrednictwem wiadomości na swoim koncie lub na podany adres e-mail.
                                </p>
                                <p>
                                    Kontynuowanie korzystania z serwisu po wprowadzeniu zmian w regulaminie oznacza akceptację nowych warunków.
                                </p>
                            </div>
                            <h4 id="list-item-10">10. Postanowienia końcowe</h4>
                            <div class="text-muted">
                                <p>
                                    W przypadku sporów wynikających z korzystania z serwisu strony internetowej, strony powinny dążyć do rozwiązania ich drogą negocjacji i kompromisu.
                                </p>
                                <p>
                                    Niniejszy regulamin podlega prawu obowiązującemu na terytorium, na którym znajduje się siedziba strony internetowej.
                                </p>
                                <p>
                                    Jeśli którykolwiek z punktów niniejszego regulaminu zostanie uznany za nieważny lub niezgodny z obowiązującym prawem, pozostałe postanowienia regulaminu pozostają w mocy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foo %}
    {% include 'footer.html' %}
{% endblock %}




