{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Podgląd {{ post.title }}
{% endblock %}

{% block navbar %}
    {% include 'NavbarAdmin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'post_add' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-regular fa-pen-to-square me-2"></i>
                        Stworzenie postu
                    </button>
                    <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'post_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-list-ul me-2"></i>
                        Zarządzanie postami
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'post_publication_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-bullhorn me-2"></i>
                        Publikacja postów
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <div style="display: flex; align-items: center;">
                    <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                        {{ post }}
                    </h4>
                    <input type=button  class="btn btn-register ms-auto" value="Powrót" onClick="javascript:history.go(-1);">
                </div>
                <h6 class="form-label pt-3 text-start fw-bold">
                    Autor
                </h6>
                {{ post.author }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Tytuł
                </h6>
                {{ post.title }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Treść
                </h6>
                <div class="card-text card-title">
                        <div>
                            {{ post.content | safe }}
                        </div>
                    </div>
                <h6 class="form-label pt-3 text-start fw-bold">
                    Wstęp
                </h6>
                {{ post.introduction }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Tło postu
                </h6>
                <img src="/images/{{ post.background }}" style="min-width: 120px; min-height: 120px" class="card-photo shadow rounded-1">
                <h6 class="form-label pt-3 text-start fw-bold">
                    Kategorie
                </h6>
                <table class="table mb-0">
                    <tbody>
                        {% for newsletter in post.category.all %}
                            <tr>
                                <td> {{ newsletter.name}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h6 class="form-label pt-3 text-start fw-bold">
                    Czy wyróżnic post?
                </h6>
                {% if  post.favorite %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Komentarze
                </h6>
                {% if comments %}
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Treść</th>
                                <th scope="col">Autor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td>{{ comment.content }}</td>
                                    <td>{{ comment.author }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Brak komentarzy
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Data utworzenia
                </h6>
                {{ post.date_posted }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Data ostatniej edycji
                </h6>
                {{ post.date_edited }}
                <div class="mb-4"></div>
            </div>
        </div>
    </div>
{% endblock %}