{% extends 'base.html' %}

{% block title %}
    Banknoty - Edycja {{ form.title.value }}
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid p-0 m-0">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <nav class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'company_news_add' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-regular fa-paper-plane me-2"></i>
                        Stworzenie wiadomości od Banknoty
                    </button>
                    <button class="btn btn-list-active btn-list mt-2 mb-1" onclick="location.href='{% url 'company_news_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-inbox me-2"></i>
                        Zarządzanie wiadomościami od Banknoty
                    </button>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'company_news_user_manage_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-circle-user me-2"></i>
                        Zarządzanie subskrybcjami wiadomości do Banknoty
                    </button>
                </nav>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2  fw-bold" style="color: navy">
                    Edycja | {{ form.title.value }}
                </h4>
                {% for field, error in form.errors.items %}
                    <div class="alert alert-danger fw-light px-2 py-2 my-3" role="alert">
                        {{ error|striptags }}
                    </div>
                {% endfor %}
                <form method="POST">
                    {% csrf_token %}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.title.label }}
                    </h6>
                    {{ form.title }}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.text.label }}
                    </h6>
                    {{ form.media }}
                    {{ form.text }}
                    <h6 class="form-label pt-3 text-start fw-bold">
                        {{ form.status_field.label }}
                    </h6>
                    {{ form.status_field }}
                    <button class="d-flex justify-content-center btn btn-register px-4 my-4 mx-auto" type="submit">
                        Zapisz zmiany
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}