<form class="ps-4" method="post">
    {% csrf_token %}
    <div class="pt-3">
        <div>
            <i class="fa-solid fa-x icon me-1" id="isSimilar"></i>
            Twoje hasło nie może być zbyt podobne do twoich innych danych osobistych.
        </div>
        <div>
            <i class="fa-solid fa-x icon me-1" id="isAtLeast8Chars"></i>
            Twoje hasło musi zawierać co najmniej 8 znaków.
        </div>
        <div>
            <i class="fa-solid fa-x icon me-1" id="isNotCommon"></i>
            Twoje hasło nie może być powszechnie używanym hasłem.
        </div>
        <div>
            <i class="fa-solid fa-x icon me-1" id="isNotOnlyNumbers"></i>
            Twoje hasło nie może składać się tylko z cyfr.
        </div>
    </div>
    <h6 class="form-label pt-3 text-start fw-bold">
        {{ edit_password_form.new_password1.label }}
    </h6>
    <input class="form-control" type="password" id="id_new_password1" name="new_password1">
    {% if edit_password_form.new_password1.errors %}
        <div class="invalid-feedback">
            {% for error in edit_password_form.new_password1.errors %}
                <p class="mb-1">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <h6 class="form-label pt-3 text-start fw-bold">
        {{ edit_password_form.new_password2.label }}
    </h6>
    <input class="form-control" type="password" id="id_new_password2" name="new_password2">
    {% if edit_password_form.new_password2.errors %}
        <div class="invalid-feedback">
            {% for error in edit_password_form.new_password2.errors %}
                <p class="mb-1">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <button class="d-flex justify-content-center btn btn-register px-4 mt-4 my-2 mx-auto"
            id="submit-button" disabled="true" type="submit">Zmień hasło
    </button>
    {% for field, error in edit_password_form.errors.items %}
        <div class="alert alert-danger fw-light px-2 py-2 my-3" role="alert">
            {{ error|striptags }}
        </div>
    {% endfor %}
</form>
<script>
    const passwordInput = document.getElementById("id_new_password1");
    const passwordInput2 = document.getElementById("id_new_password2");
    const icon_isSimilar = document.getElementById("isSimilar");
    const icon_isAtLeast8Chars = document.getElementById("isAtLeast8Chars");
    const icon_isNotCommon = document.getElementById("isNotCommon");
    const icon_isNotOnlyNumbers = document.getElementById("isNotOnlyNumbers");

    document.addEventListener("input", function () {
        const password = passwordInput.value;

        const isSimilar = checkSimilarity(password);
        const isAtLeast8Chars = checkLength(password);
        const isNotCommon = checkCommon(password);
        const isNotOnlyNumbers = checkOnlyNumbers(password);

        if (!isSimilar) {
            icon_isSimilar.classList.remove("fa-x");
            icon_isSimilar.classList.add("fa-check");
        } else {
            icon_isSimilar.classList.remove("fa-check");
            icon_isSimilar.classList.add("fa-x");
        }
        if (isAtLeast8Chars) {
            icon_isAtLeast8Chars.classList.remove("fa-x");
            icon_isAtLeast8Chars.classList.add("fa-check");
        } else {
            icon_isAtLeast8Chars.classList.remove("fa-check");
            icon_isAtLeast8Chars.classList.add("fa-x");
        }
        if (!isNotCommon) {
            icon_isNotCommon.classList.remove("fa-x");
            icon_isNotCommon.classList.add("fa-check");
        } else {
            icon_isNotCommon.classList.remove("fa-check");
            icon_isNotCommon.classList.add("fa-x");
        }
        if (!isNotOnlyNumbers) {
            icon_isNotOnlyNumbers.classList.remove("fa-x");
            icon_isNotOnlyNumbers.classList.add("fa-check");
        } else {
            icon_isNotOnlyNumbers.classList.remove("fa-check");
            icon_isNotOnlyNumbers.classList.add("fa-x");
        }

        const password2 = passwordInput2.value;
        const submitButton = document.getElementById("submit-button");
        if (isSimilar || !isAtLeast8Chars || isNotCommon || isNotOnlyNumbers) {
            submitButton.disabled = true;
            submitButton.style.opacity = "0.5";
        } else if (password2.length === password.length) {
            submitButton.disabled = false;
            submitButton.style.opacity = "1";
        } else {
            submitButton.disabled = true;
            submitButton.style.opacity = "0.5";
        }
    });

    function checkSimilarity (password) {
        const username = "{{ user.username }}";
        const email = "{{ user.email }}";
        const first_name = "{{ user.first_name }}";
        const last_name = "{{ user.last_name }}";

        const similarityThreshold = 0.5;

        const calculateSimilarity = (str1, str2) => {
            const set1 = new Set(str1.toLowerCase().split(""));
            const set2 = new Set(str2.toLowerCase().split(""));
            const intersection = [...set1].filter(char => set2.has(char));
            return intersection.length / Math.max(set1.size, set2.size);
        };

        const usernameSimilarity = calculateSimilarity(password, username);
        const emailSimilarity = calculateSimilarity(password, email);
        const first_nameSimilarity = calculateSimilarity(password, first_name);
        const last_nameSimilarity = calculateSimilarity(password, last_name);

        return usernameSimilarity >= similarityThreshold
            || password.length === 0
            || emailSimilarity >= similarityThreshold
            || first_nameSimilarity >= similarityThreshold
            || last_nameSimilarity >= similarityThreshold;
    }

    function checkLength (password) {
        return password.length >= 8;
    }

    function checkCommon (password) {
        // Check if password is a commonly used password
        // Return true if password is commonly used, false otherwise
    }

    function checkOnlyNumbers (password) {
        if (password.length === 0) {
            return true
        }
        const onlyNumbersRegex = /^[0-9]+$/;
        return onlyNumbersRegex.test(password);
    }
</script>