<div data-bs-spy="scroll" data-bs-target="#list" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
    <h4 id="list-item-1">
        1. Gromadzenie informacji
    </h4>
    <div class="text-muted">
        <p>
            Dane osobowe: Możemy zbierać informacje osobiste od Ciebie, takie jak imię, nazwisko, adres e-mail, numer
            telefonu itp., gdy dobrowolnie je nam dostarczysz podczas korzystania z naszej strony internetowej, np.
            podczas rejestracji, składania zamówienia, subskrypcji newslettera, komunikacji z nami za pośrednictwem
            formularzy kontaktowych itp.
        </p>
        <p>
            Dane automatycznie gromadzone: Podczas korzystania z naszej strony internetowej automatycznie gromadzimy
            pewne informacje techniczne, takie jak adres IP, rodzaj przeglądarki, typ urządzenia, preferencje językowe,
            strony internetowe, które odwiedzasz przed i po naszej stronie, czas spędzony na poszczególnych stronach,
            datę i godzinę odwiedzin itp.
            Te informacje są zbierane za pomocą plików cookie i podobnych technologii śledzenia.
        </p>
    </div>
    <h4 id="list-item-2">
        2. Wykorzystywanie informacji
    </h4>
    <div class="text-muted">
        <p>
            Dostarczanie usług: Wykorzystujemy informacje osobiste do dostarczania usług, które oferujemy na naszej
            stronie internetowej, takich jak obsługa zamówień, odpowiedzi na zapytania, udostępnianie informacji o
            produktach i usługach, personalizacja doświadczenia użytkownika itp.
        </p>
        <p>
            Marketing i komunikacja: Możemy wykorzystywać informacje osobiste do celów marketingowych, takich jak
            wysyłka newsletterów, informowanie o promocjach, nowościach i innych ofertach, które mogą Cię zainteresować.
            W przypadku, gdy wyraziłeś zgodę na otrzymywanie wiadomości marketingowych, możesz w każdej chwili
            zrezygnować z subskrypcji, postępując zgodnie z instrukcjami podanymi w tych wiadomościach.
        </p>
        <p>
            Poprawa usług: Analizujemy informacje gromadzone automatycznie, aby lepiej zrozumieć, w jaki sposób
            użytkownicy korzystają z naszej strony internetowej, jakie są ich preferencje i jak możemy poprawić nasze
            usługi.
            Te analizy są wykorzystywane w celach statystycznych i badawczych.
        </p>
    </div>
    <h4 id="list-item-3">
        3. Udostępnianie informacji
    </h4>
    <div class="text-muted">
        <p>
            Uprawnione podmioty: Możemy udostępniać Twoje informacje osobiste podmiotom uprawnionym, takim jak dostawcy
            usług, którzy wspierają nasze operacje biznesowe (np. dostawcy płatności, dostawcy usług hostingowych itp.),
            o ile jest to konieczne do świadczenia usług dla Ciebie.
        </p>
        <p>
            Wymogi prawne: Możemy ujawniać informacje osobiste, jeśli jesteśmy zobowiązani do tego na mocy prawa lub w
            celu ochrony naszych praw lub praw innych osób, lub w przypadku podejrzenia naruszenia warunków korzystania
            z naszej strony internetowej.
        </p>
        <p>
            Administrator zastrzega sobie prawo do moderacji treści publikowanych przez użytkowników i może usuwać lub
            edytować treści naruszające zasady korzystania.
            Administrator może również usuwać treści, które są niezgodne z tematyką strony lub nie spełniają określonych
            standardów jakości.
        </p>
    </div>
    <h4 id="list-item-4">
        4. Ochrona danych
    </h4>
    <div class="text-muted">
        <p>
            Zabezpieczamy informacje osobiste stosując odpowiednie środki techniczne i organizacyjne, aby zapobiec
            nieautoryzowanemu dostępowi, utracie, zmianie lub ujawnieniu.
            Należy jednak pamiętać, że żadna metoda przesyłania danych przez Internet lub metoda elektronicznego
            przechowywania danych nie jest całkowicie bezpieczna, dlatego nie możemy zagwarantować absolutnej ochrony.
        </p>
    </div>
    <h4 id="list-item-5">
        5. Pliki cookie
    </h4>
    <div class="text-muted">
        <p>
            Nasza strona internetowa może używać plików cookie i podobnych technologii śledzenia w celu zapewnienia
            lepszej funkcjonalności, analizy zachowań użytkowników, personalizacji treści i reklam.
            Możesz skonfigurować ustawienia swojej przeglądarki w celu blokowania plików cookie lub otrzymywania
            powiadomień o ich wysyłaniu.
            Należy jednak pamiętać, że blokowanie plików cookie może wpłynąć na pełną funkcjonalność naszej strony.
        </p>
    </div>
    <h4 id="list-item-6">
        6. Zewnętrzne linki
    </h4>
    <div class="text-muted">
        <p>
            Nasza strona internetowa może zawierać linki do zewnętrznych stron, które nie są objęte naszą polityką
            prywatności.
            Po kliknięciu, na taki link zalecamy zapoznanie się z polityką prywatności tych stron zewnętrznych, ponieważ
            nie ponosimy odpowiedzialności za praktyki prywatności lub treści tych stron.
        </p>
    </div>
    <h4 id="list-item-7">
        7. Prawa użytkowników
    </h4>
    <div class="text-muted">
        <p>
            Masz prawo żądać dostępu do swoich informacji osobistych, ich poprawiania, usunięcia lub ograniczenia
            przetwarzania.
            Możesz również wycofać zgodę na przetwarzanie danych w dowolnym momencie (jeśli dotyczy to sytuacji, w
            której wyraziłeś zgodę na przetwarzanie).
            Aby skorzystać z tych praw lub zgłosić jakiekolwiek pytania, lub zastrzeżenia dotyczące naszej polityki
            prywatności, prosimy o kontakt z nami za pomocą danych kontaktowych podanych na naszej stronie internetowej.
        </p>
    </div>
    <h4 id="list-item-8">
        8. Zmiany w polityce prywatności
    </h4>
    <div class="text-muted">
        <p>
            Niniejsza polityka prywatności może być okresowo aktualizowana, aby odzwierciedlać zmiany w naszych
            praktykach ochrony prywatności.
            W przypadku istotnych zmian powiadomimy Cię o tych zmianach poprzez wyraźne powiadomienie na naszej stronie
            internetowej lub innymi odpowiednimi środkami.
        </p>
    </div>
</div>