<div id="list" class="list-group">
    <a class="list-group-item list-group-item-action" href="#list-item-1">
        1. Gromadzenie informacji
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-2">
        2. Wykorzystywanie informacji
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-3">
        3. Udostępnianie informacji
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-4">
        4. Ochrona danych
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-5">
        5. Pliki cookie
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-6">
        6. Zewnętrzne linki
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-7">
        7. Prawa użytkowników
    </a>
    <a class="list-group-item list-group-item-action" href="#list-item-8">
        8. Zmiany w polityce prywatności
    </a>
</div>