<h6 class="form-label mt-4 text-start fw-bold">
    {{ form.username.label }}
</h6>
<input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}"
       id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"
       value="{{ form.username.value|default:'' }}">
{% if form.username.errors %}
    <div class="invalid-feedback">
        {% for error in form.username.errors %}
            <p class="mb-1">
                {{ error }}
            </p>
        {% endfor %}
    </div>
{% endif %}