{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Stworzenie adresu email dla konta społecznościowego
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'email_address_add' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-at me-2"></i>
                        Stworzenie adresu email dla konta społecznościowego
                    </button>
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'email_address_admin_panel' %}'" style="text-align: left; display: block;">
                        <i class="fa-solid fa-envelopes-bulk me-2"></i>
                        Zarządzanie adresami email dla konta społecznościowych
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2  fw-bold" style="color: navy">
                    Stworzenie konta społecznościowej
                </h4>
                {% load static %}
                    {% if messages %}
                        {% for message in messages %}
                            <div
                                {% if message.tags %}
                                    class="{{ message.tags }}"
                                {% endif %}
                                role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onClick="window.location.reload()" ></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% for field, error in form.errors.items %}
                        <div class="alert alert-danger fw-light px-2 py-2 my-3" role="alert">
                            {{ error|striptags }}
                        </div>
                    {% endfor %}
                    <form method="POST">
                        {% csrf_token %}
                        <h6 class="form-label pt-3 text-start fw-bold">
                            {{ form.user.label }}
                        </h6>
                        {{ form.user }}
                        <h6 class="form-label pt-3 text-start fw-bold">
                            {{ form.email.label }}
                        </h6>
                        {{ form.email }}
                        <div class="form-check form-switch pt-3">
                            {{ form.verified }}
                            <label class="form-check-label">
                                {{ form.verified.label}}
                            </label>
                            <p class="form-check-label message fw-light text-muted mb-0 pb-0" style="margin-left: 12px">
                                Czy użytkownik jest zweryfikowany?
                            </p>
                        </div>
                        <div class="form-check form-switch pt-1">
                            {{ form.primary }}
                            <label class="form-check-label">
                                {{ form.primary.label}}
                            </label>
                            <p class="form-check-label message fw-light text-muted mb-0 pb-0" style="margin-left: 12px">
                                Czy użytkownik ma status "primary"?
                            </p>
                        </div>
                        <button class="d-flex justify-content-center btn btn-register px-4 my-4 mx-auto" type="submit">Stwórz</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}