{% extends 'base.html' %}

{% block title %}
    Banknoty - Zarządzanie tokenami aplikacjami społecznościowych
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'social_token_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-key me-2"></i>
                        Stworzenie tokenu aplikacji społecznościowej
                    </button>
                    <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'social_token_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-user-lock me-2"></i>
                        Zarządzanie tokenami aplikacji społecznościowych
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                    Zarządzanie tokenami aplikacji społecznościowych
                </h4>
                {% if messages %}
                    {% for message in messages %}
                        <div
                            {% if message.tags %}
                                class="{{ message.tags }}"
                            {% endif %}
                            role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onClick="window.location.reload()" ></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Aplikacja</th>
                            <th scope="col">Użytkownik</th>
                            <th scope="col">Wygasa</th>
                            <th scope="col">Edytuj</th>
                            <th scope="col">Usuń</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for social_token in page_obj %}
                            <tr>
                                <td>
                                    <a class="admin_panel_link" href="{% url 'social_token_detail_admin_panel' social_token.pk %}">
                                        {{ social_token.app | capfirst }}
                                    </a>
                                </td>
                                <td>
                                    <a class="admin_panel_link" href="{% url 'social_token_detail_admin_panel' social_token.pk %}">
                                       {{ social_token.account | capfirst }}
                                    </a>
                                </td>
                                <td>
                                    <a class="admin_panel_link" href="{% url 'social_token_detail_admin_panel' social_token.pk %}">
                                        {% if social_token.expires_at is None %}
                                            Brak
                                        {% else %}
                                            {{ social_token.expires_at }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a class="admin_panel_edit_link" href="{% url 'social_token_edit_admin_panel' social_token.pk %}">
                                        Edytuj
                                    </a>
                                </td>
                                <td>
                                    <a class="admin_panel_edit_link" href="{% url 'social_token_delete_admin_panel' social_token.pk %}">
                                        Usuń
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>
{% endblock %}