{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Stworzenie tokenu aplikacji społecznościowej
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list-active btn-list mt-2 mb-1" onclick="location.href='{% url 'social_token_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-key me-2"></i>
                        Stworzenie tokenu aplikacji społecznościowej
                    </button>
                    <button class="btn btn-list btn-list my-1" onclick="location.href='{% url 'social_token_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-user-lock me-2"></i>
                        Zarządzanie tokenami aplikacji społecznościowych
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2  fw-bold" style="color: navy">
                    Stworzenie tokenu aplikacji społecznościowej
                </h4>
                {% load static %}
                    {% if messages %}
                        {% for message in messages %}
                            <div
                                {% if message.tags %}
                                    class="{{ message.tags }}"
                                {% endif %}
                                role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onClick="window.location.reload()" ></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% for field, error in form.errors.items %}
                        <div class="alert alert-danger fw-light px-2 py-2 my-3" role="alert">
                            {{ error|striptags }}
                        </div>
                    {% endfor %}
                    <form method="POST">
                        {% csrf_token %}
                        <h6 class="form-label pt-3 text-start fw-bold">
                            {{ form.app.label }}
                        </h6>
                        {{ form.app }}
                        <h6 class="form-label pt-3 text-start fw-bold">
                            {{ form.account.label }}
                        </h6>
                        {{ form.account }}
                        <h6 class="form-label pt-3 mb-0 text-start fw-bold">
                            {{ form.token.label }}
                        </h6>
                        <p class="text-start message m-0 mb-2 text-muted fw-light">
                            {{ form.token.help_text }}
                        </p>
                        {{ form.token }}
                        <h6 class="form-label pt-3 mb-0 text-start fw-bold">
                            {{ form.token_secret.label }}
                        </h6>
                        <p class="text-start message m-0 mb-2 text-muted fw-light">
                            {{ form.token_secret.help_text }}
                        </p>
                        {{ form.token_secret }}
                        <h6 class="form-label pt-3 text-start fw-bold">
                            {{ form.expires_at.label }}
                        </h6>
                        {{ form.expires_at }}
                        <button class="d-flex justify-content-center btn btn-register px-4 my-4 mx-auto" type="submit">Stwórz</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}