{% extends 'base.html' %}

{% block title %}
    Banknoty - Podgląd {{ social_token }}
{% endblock %}

{% block navbar %}
    {% include 'NavbarAdmin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'social_token_add' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-key me-2"></i>
                        Stworzenie tokenu aplikacji społecznościowej
                    </button>
                    <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'social_token_admin_panel' %}'" style="text-align: left; ">
                        <i class="fa-solid fa-user-lock me-2"></i>
                        Zarządzanie tokenami aplikacji społecznościowych
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <div style="display: flex; align-items: center;">
                    <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                        {{ social_token | capfirst }}
                    </h4>
                    <input type=button  class="btn btn-register ms-auto" value="Powrót" onClick="javascript:history.go(-1);">
                </div>
                <h6 class="form-label pt-3 text-start fw-bold">
                    Aplikacja
                </h6>
                {{ social_token.app }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Konto
                </h6>
                {{ social_token.account }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Token
                </h6>
                {{ social_token.token }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Token prywatny
                </h6>
                {{ social_token.token_secret }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Data wygaśnięcia
                </h6>
                {% if social_token.expires_at is None %}
                    Brak
                {% else %}
                    {{ social_token.expires_at }}
                {% endif %}
                <div class="mb-4"></div>
            </div>
        </div>
    </div>
{% endblock %}