<div class="nav rounded-3 shadow-sm text-start p-3 admin-panel-nav-btn">
    <button class="btn btn-list {% if request.resolver_match.url_name == 'category_add' %}btn-list-active{% endif %} mt-2 mb-1 text-start"
            onclick="location.href='{% url 'category_add' %}'">
        <i class="fa-regular fa-pen-to-square me-2"></i>
        Stworzenie kategorii
    </button>
    <button class="btn btn-list {% if request.resolver_match.url_name in 'category_admin_panel, category_detail_admin_panel, category_edit_admin_panel, category_delete_admin_panel' %}btn-list-active{% endif %} my-1 text-start"
            onclick="location.href='{% url 'category_admin_panel' %}'">
        <i class="fa-solid fa-list-ul me-2"></i>
        Zarządzanie kategoriami
    </button>
    <button class="btn btn-list {% if request.resolver_match.url_name in 'category_posts_in_category_panel_admin_panel, category_post_in_category_panel_detail_admin_panel' %}btn-list-active{% endif %} my-1 text-start"
            onclick="location.href='{% url 'category_posts_in_category_panel_admin_panel' %}'">
        <i class="fa-regular fa-newspaper me-2"></i>
        Posty w danej kategorii
    </button>
</div>
