{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Stworzenie użytkownika
{% endblock %}

{% block navbar %}
    {% include 'NavbarAdmin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'users_add' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-person-circle-plus me-2"></i>
                        Stworzenie użytkownika
                    </button>
                    <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'users_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-users me-2"></i>
                        Zarządzanie użytkownikami
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                    Zarządzanie użytkownikami
                </h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">Nazwa użytkownika</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Imię</th>
                            <th scope="col">Nazwisko</th>
                            <th scope="col">Czy może być autorem?</th>
                            <th scope="col">Edytuj</th>
                            <th scope="col">Zmień hasło</th>
                            <th scope="col">Usuń</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for user in page_obj %}
                                <tr>
                                    <td>
                                        <a class="admin_panel_link" href="{% url 'users_detail_admin_panel' user.pk %}">
                                            {{ user.user.username }}
                                        </a>
                                    </td>
                                    <td>
                                        <a class="admin_panel_link" href="{% url 'users_detail_admin_panel' user.pk %}">
                                            {{ user.user.email }}
                                        </a>
                                    </td>
                                    <td>
                                        <a class="admin_panel_link" href="{% url 'users_detail_admin_panel' user.pk %}">
                                            {{ user.user.first_name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a class="admin_panel_link" href="{% url 'users_detail_admin_panel' user.pk %}">
                                            {{ user.user.last_name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a class="admin_panel_link" href="{% url 'users_detail_admin_panel' user.pk %}">

                                            {% if user.can_be_author %}
                                              <i class="fa-solid fa-check"></i>
                                            {% else %}
                                              <i class="fa-solid fa-x"></i>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        <a class="admin_panel_edit_link" href="{% url 'users_edit_admin_panel' user.pk %}">
                                            Edytuj
                                        </a>
                                    </td>
                                    <td>
                                        <a class="admin_panel_edit_link" href="{% url 'users_edit_password_admin_panel' user.pk %}">
                                            Zmień hasło
                                        </a>
                                    </td>
                                    <td>
                                        <a class="admin_panel_edit_link" href="{% url 'users_delete_admin_panel' user.pk %}">
                                            Usuń
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'paginator.html' %}
            </div>
        </div>
    </div>
{% endblock %}
