{% extends 'base.html' %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<head>
     {{ form.media }}
</head>

{% block title %}
    Banknoty - Podgląd {{ author.user }}
{% endblock %}

{% block navbar %}
    {% include 'navbar_admin.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 px-5 px-lg-5 mx-auto bg-body-tertiary">
                <div class="nav rounded-3 shadow-sm text-start p-3" style="background-color: rgba(0,0,128,0.05)">
                    <button class="btn btn-list btn-list mt-2 mb-1" onclick="location.href='{% url 'users_add' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-person-circle-plus me-2"></i>
                        Stworzenie użytkownika
                    </button>
                    <button class="btn btn-list-active btn-list my-1" onclick="location.href='{% url 'users_admin_panel' %}'" style="text-align: left; width: 100%; display: block;">
                        <i class="fa-solid fa-users me-2"></i>
                        Zarządzanie użytkownikami
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 px-5 px-lg-0 pe-lg-5 pt-4 pt-lg-3 mx-auto bg-body-tertiary mt-2">
                <div style="display: flex; align-items: center;">
                    <h4 class="mb-0 pb-2 fw-bold" style="color: navy">
                        Użytkownik | {{ users.user.username }}
                    </h4>
                    <input type=button  class="btn btn-register ms-auto" value="Powrót" onClick="javascript:history.go(-1);">
                </div>
                <h6 class="form-label pt-3 text-start fw-bold">
                    Nazwa użytkownika
                </h6>
                {{ users.user.username }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Imię i nazwisko
                </h6>
                {{ users.user.first_name }} {{ users.user.last_name }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Adres e-mail
                </h6>
                {{ users.user.email }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Czy użytkownik jest aktywny?
                </h6>
                {% if  users.user.is_active %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Czy może być autorem?
                </h6>
                {% if  users.can_be_author %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Zdjęcie profilowe
                </h6>
                <img src="/images/{{ users.profile_pic }}" style="min-width: 120px; min-height: 120px" class="img-author-admin rounded-circle shadow my-2">
                <h6 class="form-label pt-3 text-start fw-bold">
                    Biogram
                </h6>
                {{ users.bio }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Numer telefonu
                </h6>
                {{ users.phone_number }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Płeć
                </h6>
                {{ users.get_gender_display }}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Biuletyn
                </h6>
                {% if users.newsletter %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Pominięte artykuły
                </h6>
                {% if users.miss_news %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Spotkania i wydarzenia
                </h6>
                {% if user.meetups_news %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Okazje z rynku aukcyjnego
                </h6>
                {% if users.opportunities_news %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Wiadkomości od Banknoty
                </h6>
                {% if users.company_news %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Shot wydarzeń od Banknoty
                </h6>
                {% if users.replay_news %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
                <h6 class="form-label pt-3 text-start fw-bold">
                    Informacje o rozwoju i zmianach na Banknoty
                </h6>
                {% if  users.development_news %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
                <div class="mb-4"></div>
            </div>
        </div>
    </div>
{% endblock %}