<div class="nav rounded-3 shadow-sm text-start p-3 admin-panel-header-position">
    <button class="btn btn-list {% if request.resolver_match.url_name == 'social_account_add' %}btn-list-active{% endif %} mt-2 mb-1 text-start"
            onclick="location.href='{% url 'social_account_add' %}'">
        <i class="fa-regular fa-user me-2"></i>
        Stworzenie konta społecznościowego
    </button>
    <button class="btn btn-list {% if request.resolver_match.url_name in 'social_account_admin_panel, social_account_detail_admin_panel, social_account_edit_admin_panel, social_account_delete_admin_panel' %}btn-list-active{% endif %} mt-2 mb-1 text-start"
            onclick="location.href='{% url 'social_account_admin_panel' %}'">
        <i class="fa-solid fa-clipboard-list me-2"></i>
        Zarządzanie kontami społecznościowymi
    </button>
</div>
